@inject NotificationService NotificationService

<Button Type="@ButtonType.Primary" OnClick="@OnClick">
    Open the notification box
</Button>

@code {
    private async Task OnClick()
    {
        await NotificationService.Open(new NotificationConfig
        {
            Message = "title",
            Duration = 0,
            Description = "This notification box will not close automatically"
        });
    }
}