@inject NotificationService NotificationService

    <Button Type="@ButtonType.Primary" OnClick="@OnClick">
        Open the notification box
    </Button>

@code {
    private async Task OnClick()
    {
        var key = $"open{DateTime.Now}";
        NotificationService.Open(new NotificationConfig
        {
            Message = "Notification Title",
            Key = key,
            Description = "description."
        });
        await Task.Delay(1000);
        await NotificationService.Open(new NotificationConfig
        {
            Message = "New Title",
            Key = key,
            Description = "New description."
        });
    }
}