@namespace AntBlazor

<PaginationItem 
    Disabled="_isFirstIndex"
    OnClick="_=>PrePage()"
    Type="prev"
    />

<li title="@(PageIndex + '/' + _lastIndex)" class="ant-pagination-simple-pager">
    <input disabled="@Disabled" @bind="@_inputValue" @onkeyup="JumpToPageViaInput" size="3" />
    <span class="ant-pagination-slash">/</span>
    @_lastIndex
</li>

<PaginationItem 
    Disabled="_isLastIndex"
    OnClick="_=>NextPage()"
    Type="next"
/>