@namespace AntDesign

<div>
    <div class="ant-image-preview-root">
        <div class="ant-image-preview-mask"></div>
        <div tabindex="-1" class="ant-image-preview-wrap" role="dialog">
            <div role="document" class="ant-image-preview" style="transform-origin: 391.825px 91.4125px;">
                <div tabindex="0" aria-hidden="true" style="width: 0px; height: 0px; overflow: hidden; outline: none;"></div>
                <div class="ant-image-preview-content">
                    <div class="ant-image-preview-body">
                        <ul class="ant-image-preview-operations">
                            <li class="ant-image-preview-operations-operation" @onclick="HandleClose">
                                <Icon Type="close" Class="ant-image-preview-operations-icon"/>
                            </li>
                            <li class="ant-image-preview-operations-operation" @onclick="HandleZoomIn">
                                <Icon Type="zoom-in" Class="ant-image-preview-operations-icon" />
                            </li>
                            <li class="ant-image-preview-operations-operation @(_zoomOutTimes==1?"ant-image-preview-operations-operation-disabled":"")" @onclick="HandleZoomOut">
                                <Icon Type="zoom-out" Class="ant-image-preview-operations-icon" />
                                  </li>
                            <li class="ant-image-preview-operations-operation" @onclick="HandleRotateRight">
                                <Icon Type="rotate-right" Class="ant-image-preview-operations-icon" />
                                </li>
                            <li class="ant-image-preview-operations-operation" @onclick="HandleRotateLeft">
                                <Icon Type="rotate-left" Class="ant-image-preview-operations-icon" />
                            </li>
                        </ul>
                        <div class="ant-image-preview-img-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                            <img class="ant-image-preview-img" src="@ImageUrl" style="transform: scale3d(@_zoomOutTimes, @_zoomOutTimes, 1) rotate(@(90*_rotateTimes)deg);">
                        </div>
                    </div>
                </div>
                <div tabindex="0" aria-hidden="true" style="width: 0px; height: 0px; overflow: hidden; outline: none;"></div>
            </div>
        </div>
    </div>
</div>