@namespace AntBlazor.Internal
@inherits AntDatePickerPanelBase

<div class="@(DatePicker.PrefixCls)-footer">
    <a class="@(DatePicker.PrefixCls)-today-btn" @onclick="e => ChangePickerValue(DateTime.Now)">今天</a>
</div>
