<div>
    <Card Hoverable Style="width: 240px" Cover="coverTemplate">
        <CardMeta Title="Europe Street beat" Description="www.instagram.com"/>
    </Card>
</div>


@code
{

    private RenderFragment coverTemplate =@<img alt="example"  src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />;

}


