<div>
    <Card Hoverable Style="width: 240px" Cover="coverTemplate">
        <CardMeta>
            <Title>
                Europe Street beat
            </Title>
            <Description> www.instagram.com</Description>
        </CardMeta>
    </Card>
</div>


@code
{

    private RenderFragment coverTemplate = @<img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"/>;

}