<div>
    <Card Title=@("Card Title")>
        <CardGrid Style="width:25%;text-align:center" Hoverable="true">
            Content
        </CardGrid>
        <CardGrid Style="width:25%;text-align:center" Hoverable="false">
            Content
        </CardGrid>
        <CardGrid Style="width:25%;text-align:center" Hoverable="true">
            Content
        </CardGrid>
        <CardGrid Style="width:25%;text-align:center" Hoverable="true">
            Content
        </CardGrid>
        <CardGrid Style="width:25%;text-align:center" Hoverable="true">
            Content
        </CardGrid>
        <CardGrid Style="width:25%;text-align:center"Hoverable="true">
            Content
        </CardGrid>
        <CardGrid Style="width:25%;text-align:center" Hoverable="true">
            Content
        </CardGrid>
        <CardGrid Style="width:25%;text-align:center" Hoverable="true">
            Content
        </CardGrid>

    </Card>
</div>


  