<div>
    <Card Title=@("Card title")>  
        <Body>
            <Card Title=@("Inner card title")>
                <Extra>   <a slot="extra" href="#">More</a>  </Extra>
                <Body>                   
                    Inner Card content
                </Body>
              
            </Card>
            <Card Title=@("Inner card title") Style="margin-top: 16px">
                <Extra> <a slot="extra" href="#">More</a> </Extra>
                <Body>
               
                    Inner Card content
                </Body>             
            </Card>
        </Body>
    </Card>
</div>


  