<div style="background:#ECECEC; padding:30px">
    <Card Bordered="false" Title=@("Card title") Style="width: 300px"> 
        <Body>
            <p>Card content</p>
            <p>Card content</p>
            <p>Card content</p>
        </Body>
    </Card>
</div>


