<div>
    <Card Style="width:300px;" Bordered Cover="coverTemplate" Actions="new[] { actionSetting, actionEdit, actionEllipsis }">
        <CardMeta Avatar="avatarTemplate" Title="Meta Card" Description="This is the description" />
    </Card>
</div>

@code
{
    private RenderFragment actionSetting =@<Template><Icon Type="setting" /></Template>;

    private RenderFragment actionEdit =@<Template><Icon Type="edit" /></Template>;

    private RenderFragment actionEllipsis =@<Template><Icon Type="ellipsis" /></Template>;

    private RenderFragment avatarTemplate = @<Avatar src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></Avatar>;

    private RenderFragment coverTemplate = @<img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />;

}


