<div style="margin: 10px; overflow: scroll; height: 200px">
    <div style="padding: 100px; height: 1000px; background: #eee; position: relative " id="area">
		<Select DataSource="@_persons"
				@bind-Value="@_selectedValue"
				LabelName="@nameof(Person.Name)"
				ValueName="@nameof(Person.Id)"
				Style="width: 120px"
				PopupContainerSelector="#area"
				Placeholder="Select a person">
		</Select>
    </div>
</div>

@code {
    private class Person
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public bool NotAvailable { get; set; }
    }

    private List<Person> _persons;
    private int? _selectedValue = 2; // Lucy

    protected override void OnInitialized()
    {
        _persons = new List<Person>
        {
            new()
            {
                Id = 1,
                Name = "Jack"
            },
            new()
            {
                Id = 2,
                Name = "Lucy"
            },
            new()
            {
                Id = 3,
                Name = "Yaoming"
            },
            new()
            {
                Id = 4,
                Name = "Frieda"
            },
            new()
            {
                Id = 5,
                Name = "Kathy",
                NotAvailable = true
            },
            new()
            {
                Id = 6,
                Name = "Kate"
            },
            new()
            {
                Id = 7,
                Name = "Eric"
            },
            new()
            {
                Id = 8,
                Name = "Jake",
                NotAvailable = true
            },
            new()
            {
                Id = 9,
                Name = "Olaf"
            },
            new()
            {
                Id = 10,
                Name = "Sven"
            },
            new()
            {
                Id = 11,
                Name = "Bernd",
                NotAvailable = true
            },
            new()
            {
                Id = 12,
                Name = "Jane"
            },
            new()
            {
                Id = 13,
                Name = "John"
            }
        };
    }
}
