<Select DataSource="@_persons"
        @bind-Value="@_selectedValue"
        LabelName="@nameof(Person.Name)"
        ValueName="@nameof(Person.Value)"
        Placeholder="Select a person"
        DefaultActiveFirstItem="false"
        EnableSearch
        OnBlur="OnBlur"
        OnFocus="OnFocus"
        OnSelectedItemChanged="OnSelectedItemChangedHandler"
        OnSearch="OnSearch">
</Select>
<br /><br />
<p>
    Selected Value: @_selectedValue <br />
    Selected Item Name: @_selectedItem?.Name
</p>

@code {
    private class Person
    {
        public string Value { get; set; }
        public string Name { get; set; }
    }

    private List<Person> _persons;
    private string _selectedValue;
    private Person _selectedItem;

    protected override void OnInitialized()
    {
        _persons = new List<Person>
        {
            new()
            {
                Value = "jack",
                Name = "Jack"
            },
            new()
            {
                Value = "lucy",
                Name = "Lucy"
            },
            new()
            {
                Value = "tom",
                Name = "Tom"
            }
        };
    }

    private void OnSelectedItemChangedHandler(Person value)
    {
        _selectedItem = value;
        Console.WriteLine($"selected: ${value?.Name}");
    }

    private static void OnBlur()
    {
        Console.WriteLine("blur");
    }

    private static void OnFocus()
    {
        Console.WriteLine("focus");
    }

    private static void OnSearch(string value)
    {
        Console.WriteLine($"search: {value}");
    }
}