  <div>
    <Checkbox Checked="@isChecked" Disabled="@disabled" CheckedChange="@ToggleChecked">
                @($"{(isChecked ? "Check" : "Uncheck")}-{(disabled ? "Disable" : "Enable")}")
    </Checkbox>
  </div>
  
  @code{
    bool isChecked = true;
    bool disabled = false;
    void ToggleChecked()
    {
        isChecked = !isChecked;
    }
    void ToggleDisable()
    {
        disabled = !disabled;
    }
}

  