<div>
    TO BE Defined
    @*<CheckboxGroup Style="width:100%"  ValueChanged="@OnChange">

        <AntRow>
            <AntCol Span="8">
                <Checkbox Value="A" >A</Checkbox>
            </AntCol>
            <AntCol Span="8">
                <Checkbox Value="B"  >B</Checkbox>
            </AntCol>
            <AntCol Span="8">
                <Checkbox Value="C"  >C</Checkbox>
            </AntCol>
            <AntCol Span="8">
                <Checkbox Value="D" >D</Checkbox>
            </AntCol>
            <AntCol Span="8">
                <Checkbox Value="E" >E</Checkbox>
            </AntCol>
        </AntRow>
    </CheckboxGroup>*@



</div>
@code{   

    void OnChange()
    {

    }
}

