<div>
    <AntCheckboxGroup Style="width:100%"  ValueChanged="@OnChange">

        <AntRow>
            <AntCol Span="8">
                <AntCheckbox Value="A" >A</AntCheckbox>
            </AntCol>
            <AntCol Span="8">
                <AntCheckbox Value="B"  >B</AntCheckbox>
            </AntCol>
            <AntCol Span="8">
                <AntCheckbox Value="C"  >C</AntCheckbox>
            </AntCol>
            <AntCol Span="8">
                <AntCheckbox Value="D" >D</AntCheckbox>
            </AntCol>
            <AntCol Span="8">
                <AntCheckbox Value="E" >E</AntCheckbox>
            </AntCol>
        </AntRow>
    </AntCheckboxGroup>



</div>
@code{   

    void OnChange()
    {

    }
}

