<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="icon" href="logo.png" type="image/x-icon" />
    <link rel="preconnect" href="https://C9UTAZSOWW-dsn.algolia.net" crossorigin />
    <link rel="stylesheet" href="@("https://fastly.jsdelivr.net/npm/@docsearch/css@3")" />
    <link href="_content/AntDesign.Docs/css/default.css" rel="stylesheet" />
    <link antblazor-css />

    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="AntDesign.Docs.WebApp.styles.css" />

    <HeadOutlet @rendermode="InteractiveAuto" />
</head>

<body>
    <app>
        <Routes @rendermode="InteractiveAuto" />
    </app>

    <script src="_content/AntDesign.Charts/g2plot.min.js"></script>
    <script src="_content/AntDesign.Charts/ant-design-charts-blazor.js"></script>
    @* <script src="_content/AntDesign/js/ant-design-blazor.js"></script> *@
    <script src="_content/AntDesign.Docs/js/prism.js"></script>
    <script>
        window.XPrism = {};
        window.XPrism.highlight = function (code, language) {
            return Prism.highlight(code, Prism.languages[language], language);
        }

        window.XPrism.highlightAll = function () {
            Prism.highlightAll();
        }
        window.DocSearchInit = window.DocSearchInit || function () { };
    </script>
    <script src="@("https://fastly.jsdelivr.net/npm/@docsearch/js@3")"></script>
    <script src="_content/AntDesign.Docs/js/docsearch.js"></script>
    <link rel="stylesheet" data-name="vs/editor/editor.main" href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.1/min/vs/editor/editor.main.min.css">
    <script>var require = { paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.1/min/vs' } }</script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.1/min/vs/loader.min.js"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.1/min/vs/editor/editor.main.nls.js"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.1/min/vs/editor/editor.main.js"></script>
    <script>
        var instances = {};
        function createEditor(element, id, ref, options) {
            console.log(id);
            var instance = monaco.editor.create(element, options);
            instance.onDidChangeModelContent(function () {
                ref.invokeMethodAsync('OnChangeAsync', instance.getValue());
            });
            instances[id] = instance;
            return instance;
        }

        function copy(id) {
            var text = instances[id].getValue();
            navigator.clipboard.writeText(text);
        }
    </script>
    <script antblazor-js></script>
    @* <script src="/blazor.web.js" autostart="false"></script> *@
    <script src="/blazor.web.patched.js" autostart="false"></script>
    <script>
        Blazor.start({
            webAssembly: {
                loadBootResource: function (type, name, defaultUri, integrity) {
                    if (type === 'dotnetjs' && name === 'dotnet.js') {
                        return '/dotnet.patched.js';
                    }
                    return `_framework/${name}`;
                },
                configureRuntime: (builder) => {

                    builder.withConfig({
                        maxParallelDownloads: 2, // Adjust this to change the WebAssembly resource throttling amount
                    });

                },
            },
        });
    </script>
</body>

</html>
