<Breadcrumb>
	<BreadcrumbItem Href="">
		<Icon Type="@IconType.Outline.Home" />
	</BreadcrumbItem>
	<BreadcrumbItem Href="">
		<Icon Type="@IconType.Outline.User" />
		<span>Application List</span>
	</BreadcrumbItem>
	<BreadcrumbItem>
		Application
	</BreadcrumbItem>
</Breadcrumb>
