<div>
    <Avatar Style="@($"background-color: {Color}; vertical-align: middle;")" Size="large">
        @User
    </Avatar>
    <Button
        Size="small"
        Style="margin:0 16px; vertical-align: middle;"
        OnClick="_=>ChangeUser()">
        Change
    </Button>
</div>

@code {
    private static readonly string[] _userList =
    {
        "U",
        "Lucy",
        "Tom",
        "Edward"
    };

    private static readonly string[] _colorList =
    {
        "#f56a00",
        "#7265e6",
        "#ffbf00",
        "#00a2ae"
    };

    private string User { get; set; } = _userList[0];
    private string Color { get; set; } = _colorList[0];

    private void ChangeUser()
    {
        var index = Array.IndexOf(_userList, User);
        User = index < _userList.Length - 1 ? _userList[index + 1] : _userList[0];
        Color = index < _colorList.Length - 1 ? _colorList[index + 1] : _colorList[0];
    }
}
