<div>
    <Input Placeholder="input with clear icon" AllowClear="true" OnChange="OnChange" TValue="string"/>
    <br />
    <br />
    <TextArea Placeholder="textarea with clear icon"  AllowClear="true" OnChange="OnChange" />
</div>
@code {
    private static void OnChange(string value)
    {
        Console.WriteLine("onChange =>" + value);
    }
}