<div>
<InputPassword @bind-Value="@TxtValue" Placeholder="large Password" Size="@InputSize.Large" OnPressEnter="(e)=>Submit(e)" />
</div>
@code {
    private string TxtValue { get; set; }

    private void Submit(KeyboardEventArgs args)
    {
        Console.WriteLine($"password: {TxtValue}");
    }
}
