@using OneOf
<div>
    <Transfer DataSource="_dataSource"
              Disabled="_disabled"
              TargetKeys="_targetKeys.ToArray()"
              SelectedKeys="_selectedKeys"
              Titles="_titles"
              Operations="_operations"
              OnChange="OnChange"
              OnScroll="OnScroll"
              OnSelectChange="OnSelectChange"
              Render="Render"
              Style="width:300px;height:300px;">
        <FooterTemplate>
            <Button Type="@ButtonType.Default" Size="@ButtonSize.Small" Style="float: right; margin: 5px;">reload</Button>
        </FooterTemplate>

    </Transfer>
</div>

@code {
    private List<TransferItem> _dataSource = new();
    private List<string> _targetKeys = new();
    private string[] _selectedKeys = Array.Empty<string>();

    private string[] _titles =
    {
        "Source",
        "Target"
    };

    private string[] _operations =
    {
        "to right",
        "to left"
    };

    private bool _disabled = false;

    protected override void OnInitialized()
    {
        var random = new Random();
        for (var i = 0; i < 20; i++)
        {
            var data = new TransferItem
            {
                Key = i.ToString(),
                Title = $"Content{i + 1}",
                Description = $"description of content{i + 1}",
                ["Chosen"] = random.Next(0, 100) * 2 > 100
            };

            if (data["Chosen"] is bool _bool && _bool)
            {
                _targetKeys.Add(data.Key);
            }

            _dataSource.Add(data);
        }
        base.OnInitialized();
    }

    private OneOf<string, RenderFragment> Render(TransferItem item) => $"{item.Title} - {item.Description}";

    private static void OnChange(TransferChangeArgs e)
    {
        Console.WriteLine(e.Direction);
        Console.WriteLine($"MoveKeys:{string.Join(',', e.MoveKeys)}");
        Console.WriteLine($"TargetKeys:{string.Join(',', e.TargetKeys)}");
    }

    private static void OnScroll(TransferScrollArgs e)
    {
        Console.WriteLine(e.Direction);
    }

    private static void OnSelectChange(TransferSelectChangeArgs e)
    {
        Console.WriteLine($"SourceSelectedKeys:{string.Join(',', e.SourceSelectedKeys)}");
        Console.WriteLine($"TargetSelectedKeys:{string.Join(',', e.TargetSelectedKeys)}");
    }
}
