<div>
    <Tree Checkable="true" Nodes="TreeNodes"></Tree>
</div>

@code{

    List<TreeNode> _treeNodes;

    public List<TreeNode> TreeNodes
    {
        get
        {
            if (_treeNodes != null)
                return _treeNodes;

            _treeNodes = new List<TreeNode>()
            {
                new TreeNode
                {
                    Text = "parent 1", IsExpanded = true,
                    Nodes =
                    {
                        new TreeNode
                        {
                            Text = "parent 1-0", IsDisabled = true, IsExpanded = true, IsChecked = true,
                            Nodes =
                            {
                                new TreeNode {Text = "leaf", IsDisabled = true}
                                ,
                                new TreeNode {Text = "leaf"}
                            }
                        },
                        new TreeNode
                        {
                            Text = "parent 1-1", IsExpanded = true,
                            Nodes =
                            {
                                new TreeNode {Text = "sss"},
                            }
                        },
                        new TreeNode
                        {
                            Text = "parent 1-2", IsExpanded = true,
                            Nodes =
                            {
                                new TreeNode {Text = "ttt"},
                            }
                        }
                    }
                }
            };

            return _treeNodes;
        }
    }

}