<Tree @ref="tree" Checkable Multiple>
    <Nodes>
        <TreeNode Title="A" Key="100">
            <Nodes>
                <TreeNode Title="A1" Key="110">
                    <Nodes>
                        <TreeNode Title="A1-1" Key="111"></TreeNode>
                        <TreeNode Title="A2-2" Key="112"></TreeNode>
                    </Nodes>
                </TreeNode>
                <TreeNode Title="A2" Key="120" IsDisabled>
                    <Nodes>
                        <TreeNode Title="A2-1" Key="121"></TreeNode>
                        <TreeNode Title="A1-2" Key="122"></TreeNode>
                    </Nodes>
                </TreeNode>
                <TreeNode Title="A3" Key="130" IsDisableCheckbox>
                    <Nodes>
                        <TreeNode Title="A3-1" Key="131"></TreeNode>
                        <TreeNode Title="A3-2" Key="132" IsDisableCheckbox></TreeNode>
                        <TreeNode Title="A3-3" Key="133" IsDisabled></TreeNode>
                    </Nodes>
                </TreeNode>
            </Nodes>
        </TreeNode>
        <TreeNode Title="B" Key="200"></TreeNode>
    </Nodes>
</Tree>

<br />
<Button OnClick="PrintCheckedNodesTitle">Print Checked Nodes Title</Button>

<Button OnClick="PrintCheckedNodesKey">Print Checked Nodes Key</Button>

<br />
<br />

<Button OnClick="DecheckedAll">Dechecked All</Button>

<Button OnClick="PrintSelectedNodes">Print Selected Nodes</Button>

<Button OnClick="DeselectAll">Deselect All</Button>
<br />
@if (string.IsNullOrWhiteSpace(printType) == false)
{
    <div>@printType</div>
    <ul>
        @foreach (var item in printTexts)
        {
            <li>@item</li>
        }
    </ul>
}
@code{

    string printType;

    List<string> printTexts = new List<string>();

    Tree tree;

    private void PrintCheckedNodesTitle()
    {
        printType = "CheckedNodesTitle";
        printTexts = tree.CheckedTitles;
    }

    private void PrintCheckedNodesKey()
    {
        printType = "CheckedNodesKey";
        printTexts = tree.CheckedKeys;
    }

    private void DecheckedAll()
    {
        tree.DecheckedAll();
    }

    private void PrintSelectedNodes()
    {
        printType = "SelectedNodes";
        printTexts = tree.SelectedTitles;
    }

    private void DeselectAll()
    {
        tree.DeselectAll();
    }


}
