
<div>
    <Tree DataSource="_datas"
          TitleExpression="x=>((Data)x.DataItem).Title"
          ChildrenExpression="x=>((Data)x.DataItem).Childs"
          IsLeafExpression="x=>x.TreeLevel>2"
          OnNodeLoadDelayAsync="OnNodeLoadDelayAsync"></Tree>
</div>

@code{

    List<Data> _datas = new List<Data>()
{
        new Data(){Title="A"},
        new Data(){Title="B"},
        new Data(){Title="C"},
    };

    public async Task OnNodeLoadDelayAsync(TreeEventArgs args)
    {
        await Task.Delay(2000);//Ä£ÄâÒì²½Ö´ÐÐ

        var dataItem = ((Data)args.Node.DataItem);

        dataItem.Childs.Add(new Data() { Title = $"{dataItem.Title}-1" });
        dataItem.Childs.Add(new Data() { Title = $"{dataItem.Title}-2" });
    }

    public class Data
    {
        public string Title { get; set; }

        public List<Data> Childs { get; set; } = new List<Data>();
    }
}


