<Tree Checkable BlockNode
      OnClick='e=>EventRecord(e,"OnClick")'
      OnDblClick='e=>EventRecord(e,"OnDblClick")'
      OnContextMenu='e=>EventRecord(e,"OnContextMenu")'
      OnCheckBoxChanged='e=>EventRecord(e,"OnCheckBoxChange")'
      OnExpandChanged='e=>EventRecord(e,"OnExpandChange")' TItem="string">
    <Nodes>
        <TreeNode Title="A" TItem="string">
            <Nodes>
                <TreeNode Title="A1" TItem="string">
                    <Nodes>
                        <TreeNode Title="A1-1" TItem="string"></TreeNode>
                        <TreeNode Title="A1-2" TItem="string"></TreeNode>
                    </Nodes>
                </TreeNode>
                <TreeNode Title="A2" Disabled TItem="string">
                    <Nodes>
                        <TreeNode Title="A2-1" TItem="string"></TreeNode>
                        <TreeNode Title="A2-2" TItem="string"></TreeNode>
                    </Nodes>
                </TreeNode>
                <TreeNode Title="A3" DisableCheckbox TItem="string">
                    <Nodes>
                        <TreeNode Title="A3-1" TItem="string"></TreeNode>
                        <TreeNode Title="A3-2" DisableCheckbox TItem="string"></TreeNode>
                        <TreeNode Title="A3-3" Disabled TItem="string"></TreeNode>

                    </Nodes>
                </TreeNode>
            </Nodes>
        </TreeNode>
        <TreeNode Title="B" TItem="string"></TreeNode>
    </Nodes>
</Tree>
<br />
<span>Events</span>
<div style="width:100%;height:150px;overflow-y:scroll">
    <ul>
        @foreach (var item in events)
        {
            <li>@item</li>
        }
    </ul>
</div>

@code{
    public List<string> events { get; set; } = new List<string>();

    public void EventRecord(TreeEventArgs<string> args, string eventName)
    {
        events.Insert(0, $"{eventName}:{args.Node.Title}");
    }
}