@namespace AntBlazor

<div class="@(DatePicker.PrefixCls)-footer">
    <a class="@(DatePicker.PrefixCls)-today-btn" @onclick="e => DatePicker.ChangeDate(DateTime.Now)">今天</a>
</div>

@code {
    [CascadingParameter]
    public AntDatePicker DatePicker { get; set; }

}