
<h3>Avatar</h3>
<AntAvatar size="large" icon="user" />
<AntAvatar icon="user" />
<AntAvatar size="small" icon="user" />
<br />
<AntAvatar src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png" />
<AntAvatar style=" background-color: #87d068 " icon="user" />

<br/>

<AntAvatar text="USER"></AntAvatar>


