
<h3>Avatar</h3>
<AntAvatar Size="large" Icon="user" />
<AntAvatar Icon="user" />
<AntAvatar Size="small" Icon="user" />
<br />
<AntAvatar Src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png" />
<AntAvatar Style="background-color: #87d068" Icon="user" />

<br/>

<AntAvatar Text="USER"></AntAvatar>


