
<h3>Breadcrumb</h3>

<h4>simple</h4>
<AntBreadcrumb>
    <AntBreadcrumbItem>
        Home
    </AntBreadcrumbItem>
    <AntBreadcrumbItem>
        <a>Application List</a>
    </AntBreadcrumbItem>
    <AntBreadcrumbItem>
        An Application
    </AntBreadcrumbItem>
</AntBreadcrumb>

<br/>
<h4>icon</h4>

<AntBreadcrumb>
    <AntBreadcrumbItem>
        <AntIcon Type="home"></AntIcon>
    </AntBreadcrumbItem>
    <AntBreadcrumbItem>
        <a><AntIcon Type="user"></AntIcon><span>Application List</span></a>
    </AntBreadcrumbItem>
    <AntBreadcrumbItem>
        Application
    </AntBreadcrumbItem>
</AntBreadcrumb>

@code {

}
