@page "/Breadcrumb"

<h3>Breadcrumb</h3>

<h4>simple</h4>
<Breadcrumb>
    <BreadcrumbItem>
        Home
    </BreadcrumbItem>
    <BreadcrumbItem>
        <a>Application List</a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        An Application
    </BreadcrumbItem>
</Breadcrumb>

<br/>
<h4>icon</h4>

<Breadcrumb>
    <BreadcrumbItem>
        <Icon Type="home"></Icon>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <a><Icon Type="user"></Icon><span>Application List</span></a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        Application
    </BreadcrumbItem>
</Breadcrumb>

@code {

}
