
<h3>Divider</h3>

<h3>Horizontal</h3>
<div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae sunt a te dicta? Refert
        tamen, quo modo.
    </p>
    <AntDivider></AntDivider>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae sunt a te dicta? Refert
        tamen, quo modo.
    </p>
    <AntDivider text="With Text"></AntDivider>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae sunt a te dicta? Refert
        tamen, quo modo.
    </p>
    <AntDivider dashed>
        <AntIcon type="plus" ></AntIcon> Add
    </AntDivider>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae sunt a te dicta? Refert
        tamen, quo modo.
    </p>
</div>
