@page "/docs/{fileName}"
@page "/docs"

<section class="main-container">
    <article class="markdown">
        @if (_file != null)
        {
            <h1>@_file.Title</h1>
            @((MarkupString) _file.Html)
        }
    </article>
</section>