<h3>AntDrawer</h3>

<AntButton type="primary" @onclick="_=>open()">Open</AntButton>
<AntDrawer closable="false" visible="visible" placement="right" title='("Basic Drawer")' onClose="_=>close()">
    <p>Some contents...</p>
    <p>Some contents...</p>
    <p>Some contents...</p>
</AntDrawer>

@code{
    bool visible = false;

    void open()
    {
        this.visible = true;
    }

    void close()
    {
        this.visible = false;
    }
}
