<AntTitle Level="1">Drawer</AntTitle>
<AntText>A panel which slides in from the edge of the screen.</AntText>
<AntTitle Level="2">When to use</AntTitle>
<AntText>A Drawer is a panel that is typically overlaid on top of a page and slides in from the side. It contains a set of information or actions. Since the user can interact with the Drawer without leaving the current page, tasks can be achieved more efficiently within the same context.</AntText>
<AntParagraph>
    <ul>
        <li>Use a Form to create or edit a set of information.</li>
        <li>Processing subtasks. When subtasks are too heavy for a Popover and we still want to keep the subtasks in the context of the main task, Drawer comes very handy.</li>
        <li>When the same Form is needed in multiple places.</li>
    </ul>
</AntParagraph>
<br />
<AntTitle Level="2">Samples</AntTitle>
<br />

<AntRow>
    <AntCol Span="12">
        <DemoCard>
            <Title>Basic</Title>
            <Description>Simplest Usage. Drawer will be displayed on right in default.</Description>
            <Demo>
                <AntButton Type="primary" @onclick="_=>open1()">Open</AntButton>
                <AntDrawer Closable="true" Visible="visible1" Placement="right" Title='("Basic Drawer")' OnClose="_=>close1()">
                    <p>Some contents...</p>
                    <p>Some contents...</p>
                    <p>Some contents...</p>
                </AntDrawer>
            </Demo>
        </DemoCard>
    </AntCol>
    <AntCol Span="12">
        <DemoCard>
            <Title>Custom placement</Title>
            <Description>The Drawer can appear from any edge of the screen.</Description>
            <Demo>
                <AntRadioGroup @bind-Value="placement">
                    <AntRadio Value="top">top</AntRadio>
                    <AntRadio Value="right">right</AntRadio>
                    <AntRadio Value="bottom">bottom</AntRadio>
                    <AntRadio Value="left">left</AntRadio>
                </AntRadioGroup>

                <AntButton Type="primary" @onclick="_=>open2()">Open</AntButton>
                <AntDrawer Closable="true" Visible="visible2" Placement="@placement" Title='("Drawer in different Placement")' OnClose="_=>close2()">
                    <p>Some contents...</p>
                    <p>Some contents...</p>
                    <p>Some contents...</p>
                </AntDrawer>
            </Demo>
        </DemoCard>
    </AntCol>
</AntRow>

<AntRow>
    <AntCol Span="12">
        <DemoCard>
            <Title>Submit form in Drawer</Title>
            <Description>Use form in Drawer with submit button.</Description>
            <Demo>
                <AntButton Icon="plus" Type="primary" @onclick="_=>open3()">Open</AntButton>
                <AntDrawer Closable="true" Width="720" Visible="visible3" Title='("Submit from in Drawer")' OnClose="_=>close3()">
                    <Template style="height:90%">
                        <AntRow Gutter="16">
                            <AntCol Span="12">
                                <AntText>Name</AntText>
                                <AntInput Placeholder="Please enter user name"></AntInput>
                            </AntCol>
                            <AntCol Span="12">
                                <AntText>Url</AntText>
                                <AntInput Placeholder="please enter url">
                                    <AddOnBefore>Http://</AddOnBefore>
                                    <AddOnAfter>.Com</AddOnAfter>
                                </AntInput>
                            </AntCol>
                        </AntRow>
                        <br />
                        <AntRow Gutter="16">
                            <AntCol Span="12">
                                <AntText>Owner</AntText>
                                <AntInput Placeholder="Please select a owner"></AntInput>
                            </AntCol>
                            <AntCol Span="12">
                                <AntText>Type</AntText>
                                <AntInput Placeholder="please enter url"></AntInput>
                            </AntCol>
                        </AntRow>
                        <br />

                        <AntRow>
                            <AntCol Span="24">
                                <AntText>Description</AntText>
                                <AntTextArea Placeholder="Please enter your description">

                                </AntTextArea>
                            </AntCol>
                        </AntRow>
                        <br />

                        <AntRow Type="">
                            <AntCol Span="18">

                            </AntCol>
                            <AntCol Span="6">
                                <AntButton Type="default" Onclick="close3">Cancel</AntButton>
                                <AntButton Type="primary" Onclick="close3">Submit</AntButton>
                            </AntCol>
                        </AntRow>
                    </Template>
                </AntDrawer>
            </Demo>
        </DemoCard>
    </AntCol>

    <AntCol Span="12">
        <DemoCard>
            <Title>Multi-level drawer</Title>
            <Description>Open a new drawer on top of an existing drawer to handle multi branch tasks.</Description>
            <Demo>
                <AntButton Icon="plus" Type="primary" Onclick="_=>open4()">Open</AntButton>
                <AntDrawer Width="@widthOfFirstLayer" Closable="true" Visible="visible4" Title='("Multi-level drawer")' OnClose="_=>close4()">
                    <AntButton Type="primary" Onclick="_=>open41()">Two-level Drawer</AntButton>
                    <AntDrawer Width="260"  Closable="true" Visible="visible41" Title='("two-level drawer")' OnClose="_=>close41()">
                        <AntButton Type="primary">This is two-level drawer</AntButton>
                    </AntDrawer>
                </AntDrawer>
            </Demo>
        </DemoCard>
    </AntCol>
</AntRow>

<AntRow>
    <AntCol Span="12">
        <DemoCard>
            <Title>Preview drawer </Title>
            <Description>Use Drawer to quickly preview details of an object, such as those in a list.</Description>
            <Demo>
                <AntList>
                    <ChildContent>
                        @foreach (var item in datasource)
                        {
                            <AntListItem>
                                <AntListItemMeta Avatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png" 
                                                 Description="A member of Ant Design blazor team">
                                    <Title>
                                       @item.Title
                                    </Title>
                                </AntListItemMeta>

                                <AntButton Type="@AntButtonType.Link" Onclick="(e)=>open5(e, item.Title)">View Profile</AntButton>

                            </AntListItem>
                        }

                    </ChildContent>
                </AntList>

                <AntDrawer Width="640" Closable="true" Visible="visible5" Title='("User Profile")' OnClose="_=>close5()">
                    <AntTitle Level="3">Personal</AntTitle>
                    <AntRow>
                        <AntCol Span="4">
                            <AntText Strong="true">Full Name:</AntText>
                        </AntCol>
                        <AntCol Span="8">
                            <AntText>Lily</AntText>
                        </AntCol>
                        <AntCol Span="4">
                            <AntText Strong="true">Account:</AntText>                          
                        </AntCol>
                        <AntCol Span="8">
                            <AntText>AntDesign@example.com</AntText>
                        </AntCol>
                    </AntRow>
                    <AntRow>
                        <AntCol Span="4">
                            <AntText Strong="true">City:</AntText>
                        </AntCol>
                        <AntCol Span="8">
                            <AntText>HangZhou</AntText>
                        </AntCol>
                        <AntCol Span="4">
                            <AntText Strong="true">Country:</AntText>
                        </AntCol>
                        <AntCol Span="8">
                            <AntText>China</AntText>
                        </AntCol>                     
                    </AntRow>
                    <AntRow>
                        <AntCol Span="4">
                            <AntText Strong="true">Birthday:</AntText>
                        </AntCol>
                        <AntCol Span="8">
                            <AntText>February 2,1900</AntText>
                        </AntCol>
                        <AntCol Span="4">
                            <AntText Strong="true">Website:</AntText>
                        </AntCol>
                        <AntCol Span="8">
                            <AntText>www.baidu.com</AntText>
                        </AntCol>
                       
                    </AntRow>
                    <AntDivider></AntDivider>
                    <AntTitle Level="3">Company</AntTitle>
                    <AntRow>

                    </AntRow>
                    <AntDivider></AntDivider>
                    <AntTitle Level="4">Contacts</AntTitle>
                </AntDrawer>
            </Demo>
        </DemoCard>
    </AntCol>
</AntRow>














@code{



    public class ListDataSource
    {
        public string Title { get; set; }
    };

    List<ListDataSource> datasource = new List<ListDataSource>() {
    new ListDataSource(){Title="Lily"},
    new ListDataSource(){Title="Henry"}
    };




    #region "demo1"
    bool visible1 = false;

    void open1()
    {
        this.visible1 = true;
    }

    void close1()
    {
        this.visible1 = false;
    }



    #endregion


    #region "demo2"
    string placement = "right";
    bool visible2 = false;

    void open2()
    {
        this.visible2 = true;
    }

    void close2()
    {
        this.visible2 = false;
    }
    #endregion


    #region "demo3"
    bool visible3 = false;

    void open3()
    {
        this.visible3 = true;
    }

    void close3()
    {
        this.visible3 = false;
    }
    #endregion


    #region "demo4"
    bool visible4= false;
    bool visible41 = false;
    int widthOfFirstLayer = 520;

    void open4()
    {
        this.visible4 = true;
    }

    void open41()
    {
        widthOfFirstLayer += 260;
        this.visible41 = true;
    }

    void close4()
    {
        this.visible4 = false;
    }

    void close41()
    {
        widthOfFirstLayer -= 260;
        this.visible41 = false;
    }
    #endregion


    #region "demo5"
    bool visible5 = false;


    void open5(MouseEventArgs arg, string Title)
    {
        this.visible5 = true;
    }

    void close5()
    {
        this.visible5 = false;
    }
    #endregion

}
