<h3>AntDrawer</h3>

<AntButton Type="primary" @onclick="_=>open()">Open</AntButton>
<AntDrawer Closable="false" Visible="visible" Placement="right" Title='("Basic Drawer")' OnClose="_=>close()">
    <p>Some contents...</p>
    <p>Some contents...</p>
    <p>Some contents...</p>
</AntDrawer>

@code{
    bool visible = false;

    void open()
    {
        this.visible = true;
    }

    void close()
    {
        this.visible = false;
    }
}
