
<DemoCard>
    <Title>基本使用</Title>
    <Description>
        <AntParagraph>使用 <AntText Code>@(@"<AntIcon></AntIcon>")</AntText> 标签声明组件，指定图标对应的 <AntText Code>Type</AntText> 属性。可以通过 <AntText Code>Theme</AntText> 属性来设置不同的主题风格的图标，也可以通过设置 <AntText Code>spin</AntText> 属性来实现动画旋转效果。</AntParagraph>
    </Description>
    <Demo>
        <div class="icons-list">
            <AntIcon Type="home"></AntIcon>
            <AntIcon Type="setting" Theme="fill"></AntIcon>
            <AntIcon Type="smile" Theme="outline"></AntIcon>
            <AntIcon Type="sync" Theme="true"></AntIcon>
            <AntIcon Type="smile" Theme="outline" Rotate="180"></AntIcon>
            <!-- Loading with new API would spin automatically! -->
            <AntIcon Type="loading"></AntIcon>
        </div>
    </Demo>
</DemoCard>


@code {

}
