@page "/"

<Markdown>
<p align="center">
    <a href="https://yangshunjie.com/ant-design-blazor/">
        <img src="https://raw.githubusercontent.com/ElderJames/ant-design-blazor/master/logo.svg?sanitize=true">
    </a>
</p>

<h1 align="center">Ant Design Blazor</h1>

<div align="center">
    An enterprise-class UI components based on Ant Design and Blazor.
</div>
</Markdown>