<AntTitle level="1">InputNumber</AntTitle>
<AntText>Enter a number within certain range with the mouse or keyboard.</AntText>
<AntTitle level="2">When To Use</AntTitle>
<AntParagraph>When a numeric value needs to be provided.</AntParagraph>
<br />
<h2>Examples</h2>
<br />
<DemoCard>
    <Title>Basic usage</Title>
    <Description>Basic usage example.</Description>
    <Demo>
        <AntInputNumber></AntInputNumber>
    </Demo>
</DemoCard>