<AntTitle level="1">InputNumber</AntTitle>
<AntText>Enter a number within certain range with the mouse or keyboard.</AntText>
<AntTitle level="2">When To Use</AntTitle>
<AntParagraph>When a numeric value needs to be provided.</AntParagraph>
<br />
<h2>Examples</h2>
<br />
<DemoCard>
    <Title>Basic usage</Title>
    <Description>Basic usage example.</Description>
    <Demo>
        <AntInputNumber></AntInputNumber>
    </Demo>
</DemoCard>

<DemoCard>
    <Title>Sizes</Title>
    <Description>There are three sizes available to a numeric input box. By default, the size is <code>32px</code>. The two additional sizes are <code>large</code> and <code>small</code> which means <code>40px</code> and <code>24px</code>, respectively.</Description>
    <Demo>
        <style>
            .example-input > span {
                width: 200px;
                margin: 0 8px 8px 0;
            }
        </style>
        <span class="example-input">
            <AntInputNumber defaultValue="3" size="@AntInputSize.Large"></AntInputNumber>
            <AntInputNumber defaultValue="3"></AntInputNumber>
            <AntInputNumber defaultValue="3" size="@AntInputSize.Small"></AntInputNumber>
        </span>
    </Demo>
</DemoCard>