@page "/input"

<AntTitle level="1">Input</AntTitle>
<AntText>Input用于输入文字</AntText>
<AntTitle level="2">何时使用</AntTitle>
<AntParagraph>xxxxxxx。</AntParagraph>
<AntParagraph>在 Ant Design 中，xxxxxxx。</AntParagraph>
<br />
<h2>演示</h2>
<br />
<DemoCard>
    <Title>Input Size</Title>
    <Description>Input xxxxxxx。</Description>
    <Demo>
        <AntInput></AntInput>
        <br />
        <AntInput size="@AntInputSize.Large"></AntInput>
        <br />
        <AntInput size="@AntInputSize.Small"></AntInput>
    </Demo>
</DemoCard>