@page "/input"

<AntTitle level="1">Input</AntTitle>
<AntText>Input用于输入文字123</AntText>
<AntTitle level="2">何时使用</AntTitle>
<AntParagraph>xxxxxxx。</AntParagraph>
<AntParagraph>在 Ant Design 中，xxxxxxx。</AntParagraph>
<br />
<h2>演示</h2>
<br />
<DemoCard>
    <Title>Basic usage</Title>
    <Description>Basic usage example.</Description>
    <Demo>
        <style>
            .example-input > span {
                width: 400px;
                margin: 0 8px 8px 0;
            }
        </style>
        <span class="example-input">
            <AntInput>123</AntInput>
            <AntInput placeholder="basic usage"></AntInput>
            <AntInput placeholder="allwoClear" allowClear></AntInput>
            <AntInput placeholder="disabled" disabled></AntInput>
        </span>
    </Demo>
</DemoCard>
<DemoCard>
    <Title>Three sizes of input</Title>
    <Description>There are three sizes of an Input box: <code>large</code> (40px), <code>default</code> (32px) and <code>small</code> (24px).</Description>
    <Demo>
        <style>
            .example-input > span {
                width: 200px;
                margin: 0 8px 8px 0;
            }
        </style>
        <span class="example-input">
            <AntInput prefix="user" placeholder="large size" defaultValue="123" size="@AntInputSize.Large" />
            <AntInput prefix="user" placeholder="default size" />
            <AntInput prefix="user" placeholder="small size" size="@AntInputSize.Small" />
            <AntInputPassword placeholder="large Password" size="@AntInputSize.Large" />
        </span>
    </Demo>
</DemoCard>

<DemoCard>
    <Title>TextArea</Title>
    <Description>For multi-line input.</Description>
    <Demo>
        <div>
            <AntTextArea defaultValue="hello world!"></AntTextArea>
            <AntTextArea autoSize="true"></AntTextArea>
            <AntTextArea defaultValue="onResize"></AntTextArea>
        </div>
    </Demo>
</DemoCard>

<DemoCard>
    <Title>Pre / Post tab</Title>
    <Description>Using pre & post tabs example.</Description>
    <Demo>
        <div>
            <AntInput placeholder="url">
                <AddOnBefore>https://</AddOnBefore>
                <AddOnAfter>.com</AddOnAfter>
            </AntInput>
        </div>
    </Demo>
</DemoCard>

<DemoCard>
    <Title>Search box</Title>
    <Description>Example of creating a search box by grouping a standard input with a search button.</Description>
    <Demo>
        <div>
            <AntSearch placeholder="input search text" />
            <AntSearch placeholder="input search text" enterButton />
            <AntSearch placeholder="input search text" enterButton="Search" />
        </div>
    </Demo>
</DemoCard>