<AntTitle Level="1">List列表</AntTitle>
<AntText>通用列表。</AntText>
<AntTitle Level="2">何时使用</AntTitle>
<AntParagraph>
    <ul>
        <li>最基础的列表展示，可承载文字、列表、图片、段落，常用于后台数据展示页面。</li>
    </ul>
</AntParagraph>
<br />
<h2>代码演示</h2>
<br />
<DemoCard>
    <Demo>
        <h3 style="margin: 16px 0px;">Default Size</h3>
        <AntList>
            <Header>Header</Header>
            <ChildContent>
                @foreach (var item in demo1Data)
                {
                    <AntListItem>
                        <span><mark>[ITEM]</mark></span>
                        @item
                    </AntListItem>
                }
            </ChildContent>
            <Footer>Footer</Footer>
        </AntList>

        <h3 style="margin: 16px 0px;">Small Size</h3>
        <AntList Size="small">
            <Header>Header</Header>
            <ChildContent>
                @foreach (var item in demo1Data)
                {
                    <AntListItem>
                        @item
                    </AntListItem>
                }
            </ChildContent>
            <Footer>Footer</Footer>
        </AntList>

        <h3 style="margin: 16px 0px;">Large Size</h3>
        <AntList Size="large">
            <Header>Header</Header>
            <ChildContent>
                @foreach (var item in demo1Data)
                {
                    <AntListItem>
                        @item
                    </AntListItem>
                }
            </ChildContent>
            <Footer>Footer</Footer>
        </AntList>
    </Demo>

    <Title>简单列表</Title>
    <Description>
        列表拥有大、中、小三种尺寸。<br />
        通过设置 size 为 large small 分别把按钮设为大、小尺寸。若不设置 size，则尺寸为中。<br />
        可通过设置 Header 和 Footer，来自定义列表头部和尾部。<br />
    </Description>
</DemoCard>



@code{

    public List<string> demo1Data = new List<string>
{
        "Racing car sprays burning fuel into crowd.",
        "Japanese princess to wed commoner.",
        "Australian walks 100km after outback crash.",
        "Man charged over missing wedding girl.",
        "Los Angeles battles huge wildfires."
    };
}

<DemoCard>
    <Demo>
        <AntList>
            @foreach (var item in BasicComponentDemoList)
            {
                <AntListItem>
                    <AntListItemMeta Avatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png" Description="Ant Design, a design language for background applications, is refined by Ant UED Team">
                        <Title>
                            <a href="https://ng.ant.design">@item.Title</a>
                        </Title>
                    </AntListItemMeta>

                </AntListItem>
            }
        </AntList>
    </Demo>
    <Title>基础列表</Title>
    <Description>基础列表</Description>
</DemoCard>
@code{

    public class BasicComponentDemo
    {
        public string Title { get; set; }
    }

    public List<BasicComponentDemo> BasicComponentDemoList = new List<BasicComponentDemo>
{
        new BasicComponentDemo { Title = "Ant Design Title 1"},
        new BasicComponentDemo { Title = "Ant Design Title 1"},
        new BasicComponentDemo { Title = "Ant Design Title 2"},
        new BasicComponentDemo { Title = "Ant Design Title 3"},
        new BasicComponentDemo { Title = "Ant Design Title 4"},
    };
}