@page "/mock"
@using System.Reflection
@using System.Net
@layout BlankLayout;

<div id="@DemoId">
    @ShowCaseContent
</div>


@code
{
    [Parameter]
    public string DemoId { get; set; }

    [Parameter]
    public string Type { get; set; }

    RenderFragment ShowCaseContent => (builder) =>
    {
        var showCase = System.Type.GetType($"{Assembly.GetExecutingAssembly().GetName().Name}.{Type}");
        builder.OpenComponent(0, showCase);
        builder.CloseComponent();
    };
}
