<h3>Step</h3>

<DemoCard>
    <Title>基本用法</Title>
    <Description>简单的步骤条。</Description>
    <Demo>
        <AntSteps Current="1">
            <AntStep Title="Finished" Description="This is a description." />
            <AntStep Title="In Progress" Subtitle="Left 00:00:08" Description="This is a description." />
            <AntStep Title="Waiting" Description="This is a description." />
            <AntStep Title="Waiting" Description="This is a description." />
        </AntSteps>
    </Demo>
</DemoCard>
<br />
<DemoCard>
    <Title>基本用法</Title>
    <Description>简单的步骤条。</Description>
    <Demo>
        <AntSteps Size="small" Current=1>
            <AntStep Title="Finished" />
            <AntStep Title="In Progress" />
            <AntStep Title="Waiting" />
        </AntSteps>
    </Demo>
</DemoCard>
<br />
<DemoCard>
    <Title>基本用法</Title>
    <Description>简单的步骤条。</Description>
    <Demo>
        <AntSteps Direction="vertical" Current="1">
            <AntStep Title="Finished" Description="This is a description." />
            <AntStep Title="In Progress" Description="This is a description." />
            <AntStep Title="Waiting" Description="This is a description." />
        </AntSteps>,
    </Demo>
</DemoCard>

@code {

}
