<h3>AntTable</h3>

@code{
    class Test
    {
        public string A { get; set; }
        public string B { get; set; }
    }

    List<Test> Tests { get; } = new List<Test> {
    new Test{A="111",B="222"},
    new Test{A="333",B="444"},
    };
}

<AntTable DataSource=@Tests RowSelection=RowSelectionType.CheckBox>
    <AntColumn>
        <Title>A</Title>
        <Render>@context.A</Render>
    </AntColumn>
    <AntColumn>
        <Title>B</Title>
        <Render>@context.B</Render>
    </AntColumn>
</AntTable>