<AntTitle level="1">Tabs</AntTitle>
<AntText>Tabs make it easy to switch between different views.</AntText>
<AntTitle level="2">When To Use</AntTitle>
<AntParagraph>
    <Markdown markdown="@paragraph"></Markdown>
</AntParagraph>

@code{
    private string paragraph = @"Ant Design has 3 types of Tabs for different situations.
* Card Tabs: for managing too many closeable views.
* Normal Tabs: for functional aspects of a page.
* <a href='/radio'>RadioButton</a>: for secondary tabs.";
}
<br />
<h2>Examples</h2>
<br />
@*<DemoCard>
        <Title>Basic</Title>
        <Description>Default activate first tab.</Description>
        <Demo>
            <AntTabs DefaultActiveKey="1">
                <AntTabPane Key="1">
                    <Tab>Tab 1</Tab>
                    <ChildContent>Content of Tab Pane 1</ChildContent>
                </AntTabPane>
                <AntTabPane Key="2">
                    <Tab>Tab 2</Tab>
                    <ChildContent>Content of Tab Pane 2</ChildContent>
                </AntTabPane>
                <AntTabPane Key="3">
                    <Tab>Tab 3</Tab>
                    <ChildContent>Content of Tab Pane 3</ChildContent>
                </AntTabPane>
            </AntTabs>
        </Demo>
    </DemoCard>

    <DemoCard>
        <Title>Icon</Title>
        <Description>The Tab with Icon.</Description>
        <Demo>
            <AntTabs DefaultActiveKey="1">
                <AntTabPane Key="1">
                    <Tab>Tab 1</Tab>
                    <ChildContent>Tab 1</ChildContent>
                </AntTabPane>
                <AntTabPane Key="2" disabled>
                    <Tab>Tab 2</Tab>
                    <ChildContent>Tab 2</ChildContent>
                </AntTabPane>
                <AntTabPane Key="3">
                    <Tab>Tab 3</Tab>
                    <ChildContent>Tab 3</ChildContent>
                </AntTabPane>
            </AntTabs>
        </Demo>
    </DemoCard>

    <DemoCard>
        <Title>Disabled</Title>
        <Description>Disabled a tab.</Description>
        <Demo>
            <AntTabs DefaultActiveKey="1">
                <AntTabPane Key="1">
                    <Tab>
                        <span><AntIcon type="android" />Tab 1</span>
                    </Tab>
                    <ChildContent>Tab 1</ChildContent>
                </AntTabPane>
                <AntTabPane Key="2">
                    <Tab>
                        <span><AntIcon type="apple" />Tab 2</span>
                    </Tab>
                    <ChildContent>Tab 2</ChildContent>
                </AntTabPane>
            </AntTabs>
        </Demo>
    </DemoCard>*@

<DemoCard>
    <Title>Slide</Title>
    <Description>In order to fit in more tabs, they can slide left and right (or up and down).</Description>
    <Demo>
        <AntTabs DefaultActiveKey="1">
            <AntTabPane Key="1">
                <Tab>Tab 1</Tab>
                <ChildContent>Content of Tab Pane 1</ChildContent>
            </AntTabPane>
            <AntTabPane Key="2">
                <Tab>Tab 2</Tab>
                <ChildContent>Content of Tab Pane 2</ChildContent>
            </AntTabPane><AntTabPane Key="3">
                <Tab>Tab 3</Tab>
                <ChildContent>Content of Tab Pane 3</ChildContent>
            </AntTabPane>
            <AntTabPane Key="4">
                <Tab>Tab 4</Tab>
                <ChildContent>Content of Tab Pane 4</ChildContent>
            </AntTabPane><AntTabPane Key="5">
                <Tab>Tab 5</Tab>
                <ChildContent>Content of Tab Pane 5</ChildContent>
            </AntTabPane>
            <AntTabPane Key="6">
                <Tab>Tab 6</Tab>
                <ChildContent>Content of Tab Pane 6</ChildContent>
            </AntTabPane>
            <AntTabPane Key="7">
                <Tab>Tab 7</Tab>
                <ChildContent>Content of Tab Pane 7</ChildContent>
            </AntTabPane><AntTabPane Key="8">
                <Tab>Tab 8</Tab>
                <ChildContent>Content of Tab Pane 8</ChildContent>
            </AntTabPane>
            <AntTabPane Key="9">
                <Tab>Tab 9</Tab>
                <ChildContent>Content of Tab Pane 9</ChildContent>
            </AntTabPane>
            <AntTabPane Key="10">
                <Tab>Tab 10</Tab>
                <ChildContent>Content of Tab Pane 10</ChildContent>
            </AntTabPane>
            <AntTabPane Key="11">
                <Tab>Tab 11</Tab>
                <ChildContent>Content of Tab Pane 11</ChildContent>
            </AntTabPane>
            <AntTabPane Key="12">
                <Tab>Tab 12</Tab>
                <ChildContent>Content of Tab Pane 12</ChildContent>
            </AntTabPane>
            <AntTabPane Key="13">
                <Tab>Tab 13</Tab>
                <ChildContent>Content of Tab Pane 13</ChildContent>
            </AntTabPane>
            <AntTabPane Key="14">
                <Tab>Tab 14</Tab>
                <ChildContent>Content of Tab Pane 14</ChildContent>
            </AntTabPane>
            <AntTabPane Key="15">
                <Tab>Tab 15</Tab>
                <ChildContent>Content of Tab Pane 15</ChildContent>
            </AntTabPane>
            <AntTabPane Key="16">
                <Tab>Tab 16</Tab>
                <ChildContent>Content of Tab Pane 16</ChildContent>
            </AntTabPane>
            <AntTabPane Key="17">
                <Tab>Tab 17</Tab>
                <ChildContent>Content of Tab Pane 17</ChildContent>
            </AntTabPane>
            <AntTabPane Key="18">
                <Tab>Tab 18</Tab>
                <ChildContent>Content of Tab Pane 18</ChildContent>
            </AntTabPane>
            <AntTabPane Key="19">
                <Tab>Tab 19</Tab>
                <ChildContent>Content of Tab Pane 19</ChildContent>
            </AntTabPane>
            <AntTabPane Key="20">
                <Tab>Tab 20</Tab>
                <ChildContent>Content of Tab Pane 20</ChildContent>
            </AntTabPane>
            <AntTabPane Key="21">
                <Tab>Tab 21</Tab>
                <ChildContent>Content of Tab Pane 21</ChildContent>
            </AntTabPane>
            <AntTabPane Key="22">
                <Tab>Tab 22</Tab>
                <ChildContent>Content of Tab Pane 22</ChildContent>
            </AntTabPane>
            <AntTabPane Key="23">
                <Tab>Tab 23</Tab>
                <ChildContent>Content of Tab Pane 23</ChildContent>
            </AntTabPane>
            <AntTabPane Key="24">
                <Tab>Tab 24</Tab>
                <ChildContent>Content of Tab Pane 24</ChildContent>
            </AntTabPane>
            <AntTabPane Key="25">
                <Tab>Tab 25</Tab>
                <ChildContent>Content of Tab Pane 25</ChildContent>
            </AntTabPane>

            @{
                Enumerable.Range(1, 29).Select<int, RenderFragment>
                    (i => { return template(i); }).Aggregate((r1, r2) => r1 + r2);
            }
        </AntTabs>
    </Demo>
</DemoCard>

@code{
    RenderFragment<int>
    template = (i) =>
    {
        return@<AntTabPane Key="@i.ToString()">
        <Tab>Tab @i</Tab>
        <ChildContent>Content of Tab Pane @i</ChildContent>
    </AntTabPane>;
};
}
