<AntTitle level="1">Tabs</AntTitle>
<AntText>Tabs make it easy to switch between different views.</AntText>
<AntTitle level="2">When To Use</AntTitle>
<AntParagraph>
    <Markdown markdown="@paragraph"></Markdown>
</AntParagraph>

@code{
    private string paragraph = @"Ant Design has 3 types of Tabs for different situations.
* Card Tabs: for managing too many closeable views.
* Normal Tabs: for functional aspects of a page.
* <a href='/radio'>RadioButton</a>: for secondary tabs.";
}
<br />
<h2>Examples</h2>
<br />
<DemoCard>
    <Title>Basic</Title>
    <Description>Default activate first tab.</Description>
    <Demo>
        <AntTabs DefaultActiveKey="1">
            <AntTabPane Key="1">
                <Tab>Tab 1</Tab>
                <ChildContent>Content of Tab Pane 1</ChildContent>
            </AntTabPane>
            <AntTabPane Key="2">
                <Tab>Tab 2</Tab>
                <ChildContent>Content of Tab Pane 2</ChildContent>
            </AntTabPane>
            <AntTabPane Key="3">
                <Tab>Tab 3</Tab>
                <ChildContent>Content of Tab Pane 3</ChildContent>
            </AntTabPane>
        </AntTabs>
    </Demo>
</DemoCard>

<DemoCard>
    <Title>Disabled</Title>
    <Description>Disabled a tab.</Description>
    <Demo>
        <AntTabs DefaultActiveKey="1">
            <AntTabPane Key="1">
                <Tab>Tab 1</Tab>
                <ChildContent>Tab 1</ChildContent>
            </AntTabPane>
            <AntTabPane Key="2" disabled>
                <Tab>Tab 2</Tab>
                <ChildContent>Tab 2</ChildContent>
            </AntTabPane>
            <AntTabPane Key="3">
                <Tab>Tab 3</Tab>
                <ChildContent>Tab 3</ChildContent>
            </AntTabPane>
        </AntTabs>
    </Demo>
</DemoCard>