
<h3>Basic Tag</h3>
<AntTag>Tag 1</AntTag>
<AntTag>
    <a href="https://github.com/NG-ZORRO/ng-zorro-antd">Link</a>
</AntTag>
<AntTag Mode="closeable" OnClose="()=>OnClose()">Tag 2</AntTag>
<AntTag Mode="closeable" OnClose="preventDefault">Prevent Default</AntTag>


<br />
<br />
<h3>Checkable Tag</h3>
<AntTag Mode="checkable" Checked CheckedChange="_checked=>checkChange(_checked)">Tag1</AntTag>
<AntTag Mode="checkable" Checked CheckedChange="_checked=>checkChange(_checked)">Tag2</AntTag>
<AntTag Mode="checkable" Checked CheckedChange="_checked=>checkChange(_checked)">Tag3</AntTag>

@code {
    public void OnClose()
    {

    }

    public void preventDefault(MouseEventArgs e)
    {

    }

    private void checkChange(bool e)
    {

    }
}
