<AntTitle Level="1">TimePicker 时间选择框</AntTitle>
<AntText>输入或选择时间的控件。</AntText>
<AntTitle Level="2">何时使用</AntTitle>
<AntParagraph>当用户需要输入一个时间，可以点击标准输入框，弹出时间面板进行选择。</AntParagraph>
<br />
<h2>演示</h2>
<br />
<DemoCard>
    <Title>基本</Title>
    <Description>点击 TimePicker，然后可以在浮层中选择或者输入某一时间。</Description>
    <Demo>
        <AntTimePicker />
    </Demo>
</DemoCard>
<br />
<DemoCard>
    <Title>选择时分</Title>
    <Description>TimePicker 浮层中的列会随着 <AntText Code>Format</AntText> 变化，当略去 <AntText Code>Format</AntText> 中的某部分时，浮层中对应的列也会消失。</Description>
    <Demo>
        <AntTimePicker Format='@("hh:mm")' />
    </Demo>
</DemoCard>
<br />
<DemoCard>
    <Title>禁用</Title>
    <Description>禁用时间选择。</Description>
    <Demo>
        <AntTimePicker Disabled="@true" />
    </Demo>
</DemoCard>
<br />
<DemoCard>
    <Title>附加内容</Title>
    <Description>在 TimePicker 选择框底部显示自定义的内容。</Description>
    <Demo>
        <AntTimePicker RenderExtraFooter="ExtraFooter" />
    </Demo>
</DemoCard>
@code {
    private RenderFragment ExtraFooter =@<AntButton Type="@AntButtonType.Primary">Ok</AntButton>;
}
<br />
<DemoCard>
    <Title>API</Title>
    <Description>
        <li>
            时间选择器完成度较低，暂时只实现了以下功能：
            autoFocus、bordered、className、defaultValue、
            disabled、format、inputReadOnly、open、placeholder、
            popupStyle、renderExtraFooter、value、onChange、onOpenChange
        </li>
    </Description>
</DemoCard>