<AntTitle Level="1">Tree</AntTitle>
<AntText>Tree test</AntText>
<AntTitle Level="2">Tree test</AntTitle>
<AntParagraph>
    <Markdown MarkdownText="@paragraph"></Markdown>
</AntParagraph>

@code{
    private string paragraph = @"Ant Design has 3 types of Tabs for different situations.
* Card Tabs: for managing too many closeable views.
* Normal Tabs: for functional aspects of a page.
* <a href='/radio'>RadioButton</a>: for secondary tabs.";
}

<br />
<h2>Examples</h2>
<br />

<p>
    Global Options:
    <AntSwitch Checked="_checkable1" OnChange="(v)=>_checkable1=v" /> Checkable
    <AntSwitch Checked="_showIcon1" OnChange="(v)=>_showIcon1=v" /> ShowIcon
</p>

@code{
    bool node0_expanded = true;
    bool node01_expanded = true;
    bool node02_checked = true;
}

<DemoCard>
    <Title>Basic</Title>
    <Description>Default tree view.</Description>
    <Demo>
        <AntTree Checkable="_checkable1" ShowIcon="_showIcon1" IconType="home">
            <AntTreeNode Text="node0" @bind-IsExpanded="node0_expanded">
                <AntTreeNode Text="node0-0" />
                <AntTreeNode Text="node0-1" @bind-IsExpanded="node01_expanded">
                    <AntTreeNode Text="node0-1-0" IsDisabled="true" />
                </AntTreeNode>
                <AntTreeNode Text="node0-2" @bind-IsChecked="node02_checked" />
            </AntTreeNode>
        </AntTree>
    </Demo>
</DemoCard>


<DemoCard>
    <Title>Basic</Title>
    <Description>Default tree view.</Description>
    <Demo>
        <AntTree Checkable="_checkable1" ShowIcon="_showIcon1" IconType="home" Items="TreeItems1"></AntTree>
    </Demo>
</DemoCard>
@code{

    bool _showIcon1 = true;
    bool _checkable1 = true;

    List<AntTreeDataItem>
    _treeitems1;
    public List<AntTreeDataItem> TreeItems1
    {
        get
        {
            if (_treeitems1 != null)
                return _treeitems1;

            List<AntTreeDataItem> items = new List<AntTreeDataItem>();

            items.Add(new AntTreeDataItem()
            {
                Key = "0",
                Text = "node0",
                IsExpanded = true,
                Items = new AntTreeDataItem[] {
                    new AntTreeDataItem{ Text="node0-0"},
                    new AntTreeDataItem{ Text="node0-1",IsExpanded=true,
                        Items=new AntTreeDataItem[]
{
                             new AntTreeDataItem{ Text="node0-1-0", IsDisabled=true},
                        }
                    },
                    new AntTreeDataItem{ Text="node0-2"},
                }
            }); ;

            _treeitems1 = items;
            return _treeitems1;
        }
    }
}

