
<h1>Typography 排版</h1>
<p>文本的基本格式</p>

<h2>代码演示</h2>
<DemoCard>
    <Demo>
        <AntTitle Level="1">Introduction</AntTitle>
        <AntParagraph>In the process of internal desktop applications development, many different design specs and implementations would be involved, which might cause designers and developers difficulties and duplication and reduce the efficiency of development.</AntParagraph>
        <AntParagraph>
            After massive project practice and summaries, Ant Design, a design language for background applications, is refined by Ant UED Team, which aims to
            <AntText Strong>
                uniform the user interface specs for internal background projects, lower the unnecessary cost of design differences and implementation and liberate the resources of design and front-end development.
            </AntText>
        </AntParagraph>
        <AntTitle Level="2">Guildelines and Resources</AntTitle>
        <AntParagraph>
            We supply a series of design principles, practical patterns and high quality design resources
            (<AntText Code>Sketch</AntText> and <AntText Code>Axure</AntText>), to help people create their product
            prototypes beautifully and efficiently.
        </AntParagraph>
        <AntParagraph>
            <ul>
                <li>
                    <a href="/docs/spec/proximity">Principles</a>
                </li>
                <li>
                    <a href="/docs/pattern/navigation">Patterns</a>
                </li>
                <li>
                    <a href="/docs/resource/download">Resource Download</a>
                </li>
            </ul>
        </AntParagraph>

        <AntDivider />

        <AntTitle>介绍</AntTitle>
        <AntParagraph>
            蚂蚁的企业级产品是一个庞大且复杂的体系。这类产品不仅量级巨大且功能复杂，而且变动和并发频繁，常常需要设计与开发能够快速的做出响应。同时这类产品中有存在很多类似的页面以及组件，可以通过抽象得到一些稳定且高复用性的内容。
        </AntParagraph>
        <AntParagraph>
            随着商业化的趋势，越来越多的企业级产品对更好的用户体验有了进一步的要求。带着这样的一个终极目标，我们（蚂蚁金服体验技术部）经过大量的项目实践和总结，逐步打磨出一个服务于企业级产品的设计体系
            Ant Design。基于<AntText Mark>『确定』和『自然』</AntText>
            的设计价值观，通过模块化的解决方案，降低冗余的生产成本，让设计者专注于
            <AntText Strong>更好的用户体验</AntText>。
        </AntParagraph>
        <AntTitle Level="2">设计资源</AntTitle>
        <AntParagraph>
            我们提供完善的设计原则、最佳实践和设计资源文件（<AntText Code>Sketch</AntText> 和
            <AntText Code>Axure</AntText>），来帮助业务快速设计出高质量的产品原型。
        </AntParagraph>

        <AntParagraph>
            <ul>
                <li>
                    <a href="/docs/spec/proximity">设计原则</a>
                </li>
                <li>
                    <a href="/docs/pattern/navigation">设计模式</a>
                </li>
                <li>
                    <a href="/docs/resource/download">设计资源</a>
                </li>
            </ul>
        </AntParagraph>
    </Demo>
    <Title>基本</Title>
    <Description>展示文档样例</Description>
</DemoCard>
<br />

<DemoCard>
    <Demo>
        <AntTitle Level="1">h1. Ant Design 标题一</AntTitle>
        <AntTitle Level="2">h2. Ant Design 标题二</AntTitle>
        <AntTitle Level="3">h3. Ant Design 标题三</AntTitle>
        <AntTitle Level="4">h4. Ant Design 标题四</AntTitle>
    </Demo>
    <Title>
        标题组件
    </Title>
    <Description>
        展示不同级别的标题。
    </Description>
</DemoCard>
<br />
<DemoCard>
    <Demo>
        <AntText>Ant Design</AntText>
        <br />
        <AntText Type="secondary">Ant Design</AntText>
        <br />
        <AntText Type="warning">Ant Design</AntText>
        <br />
        <AntText Type="danger">Ant Design</AntText>
        <br />
        <AntText Disabled>Ant Design</AntText>
        <br />
        <AntText Mark>Ant Design</AntText>
        <br />
        <AntText Code>Ant Design</AntText>
        <br />
        <AntText Underline>Ant Design</AntText>
        <br />
        <AntText Delete>Ant Design</AntText>
        <br />
        <AntText Strong>Ant Design</AntText>
    </Demo>
    <Title>文本组件</Title>
    <Description>内置不同样式的文本。</Description>
</DemoCard>
<br />
<DemoCard>
    <Title>可交互</Title>
    <Description>提供可编辑和可复制等额外的交互能力。</Description>
    <Demo>
        <AntParagraph Copyable>Simple copyable text</AntParagraph>
        <AntParagraph Copyable CopyConfig="@selfDefinedText">Copy a self defiend text</AntParagraph>
        <AntParagraph Copyable CopyConfig="@selfDefinedCopy">在控制台中查看此文本的log</AntParagraph>
        <AntTitle Copyable>可复制的标题</AntTitle>
        <AntParagraph >不可复制的段落中穿插着<AntText Strong Copyable>可复制的文字</AntText>以及其他</AntParagraph>
    </Demo>
</DemoCard>



@code {
    public TypographyCopyableConfig selfDefinedText;
    public TypographyCopyableConfig selfDefinedCopy;

    protected override void OnInitialized()
    {
        selfDefinedText = new TypographyCopyableConfig() { Text = "Just copied from self defined text" };
        selfDefinedCopy = new TypographyCopyableConfig();
        selfDefinedCopy.OnCopy += () => System.Console.WriteLine("Log in console as a self defined copy behavior");
        base.OnInitialized();
    }

}
