<div>
    <Button Type="primary" @onclick="_ => Open()">Open</Button>
    <Drawer Closable="true" Visible="_visible" Placement="right" Title='"Basic Drawer"' OnClose="_ => Close()">
        <p>Some contents...</p>
        <p>Some contents...</p>
        <p>Some contents...</p>
    </Drawer>
</div>

@code {
    private bool _visible;

    private void Open()
    {
        _visible = true;
    }

    private void Close()
    {
        _visible = false;
    }
}