<div>
    <Button  Type="primary" OnClick="_=>Open()">Open</Button>

    <Drawer Width="@_wdFirstLayer" Closable="true" Visible="_visible1" Title='("Multi-level drawer")' OnClose="_=>Close()">
        <Button Type="primary" OnClick="_=>ShowDrawer()">Two-level Drawer</Button>
        <Drawer Width="260" Closable="true" Visible="_visible2" Title='("two-level drawer")' OnClose="_=>CloseDrawer()">
            <Button Type="primary">This is two-level drawer</Button>
        </Drawer>

    </Drawer>
</div>

@code {
    private bool _visible1;
    private bool _visible2;
    private int _wdFirstLayer = 520;

    private void Open()
    {
        _visible1 = true;
    }

    private void ShowDrawer()
    {
        _visible2 = true;
        _wdFirstLayer += 260;
    }

    private void Close()
    {
        _visible1 = false;
    }

    private void CloseDrawer()
    {
        _wdFirstLayer -= 260;
        _visible2 = false;
    }
}