<AutoComplete @bind-Value="@value" Options="@options" OnSelectionChange="OnSelectionChange" OnActiveChange="OnActiveChange" Placeholder="input here" TOption="string"/>
<Divider></Divider>
<span>bind-Value:@value</span>
<br />
<span>SelectedValue:@selectItem?.Value</span>
<br />
<span>ActiveValue:@activeItem?.Value</span>

@code
{ 
    private string value;

    List<string> options = new List<string>()
{
        "Beijing","Shanghai","Guangzhou","Shenzhen","Chongqing","Wuhan"
    };


    private AutoCompleteOption<string> selectItem;

    void OnSelectionChange(AutoCompleteOption<string> item)
    {
        selectItem = item;
    }

    private AutoCompleteOption<string> activeItem;

    void OnActiveChange(AutoCompleteOption<string> item)
    {
        activeItem = item;
    }
}