<div>Input</div>
<AutoComplete Options="@options">
    <AutoCompleteInput Placeholder="input here" @bind-Value="@value" />
</AutoComplete>
<div>Search</div>
<AutoComplete Options="@options">
    <AutoCompleteSearch Placeholder="input here" @bind-Value="@value" />
</AutoComplete>

<Divider></Divider>
<span>bind-Value:@value</span>


@code
{
    private string value;

    List<string> options = new List<string>(){
        "Beijing","Shanghai","Guangzhou","Shenzhen","Chongqing","Wuhan"
    };
}
