<span>DataSource</span>
<AutoComplete @bind-Value="@value" DataSource="@options" FilterOption="@(option=>option.Label.Contains(value??"",StringComparison.InvariantCultureIgnoreCase))"/>
<span>AutoCompleteOptions</span>
<AutoComplete>
    <ChildContent>
        <AutoCompleteInput @bind-Value="@value" Placeholder="try to type 'b'" />
    </ChildContent>
    <AutoCompleteOptions>
        @foreach (var option in options.Where(x=>x.Contains(value ?? "", StringComparison.InvariantCultureIgnoreCase)))
        {
            <AutoCompleteOption Value="option"></AutoCompleteOption>
        }
    </AutoCompleteOptions>
</AutoComplete>

<Divider></Divider>
<span>bind-Value:@value</span>

@code
{
    private string value;

    private List<string> options = new List<string>() { "Burns Bay Road", "Downing Street", "Wall Street" };
}