<AutoComplete Options="options"
              CompareWith="CompareWith"
              OnSelectionChange="OnSelectionChange"
              OptionLabelExpression="x=>x.CityName"
              OptionDisabledExpression="x=>x.IsProvincial==false"
              KeyValueFunc="x=>((ObjectValueOption)x).CityId"
              TOption="ObjectValueOption"
              @bind-Value="@value"
              @bind-KeyValue="@keyValue">
</AutoComplete>
<Divider></Divider>
<span>bind-Value:@value</span>
<br />
<span>bind-KeyValue:@keyValue</span>
<br />
<span>SelectedValue:@(System.Text.Json.JsonSerializer.Serialize(selectItem?.Value))</span>
@code
{
    ObjectValueOption[] options = new ObjectValueOption[] {
                                    new ObjectValueOption()   { CityName= "Beijing", CityId= "1000", IsProvincial= true },
                                    new ObjectValueOption()  { CityName= "Shanghai", CityId= "1001", IsProvincial= true },
                                    new ObjectValueOption()   { CityName= "Guangzhou", CityId= "1002", IsProvincial= true },
                                    new ObjectValueOption()  { CityName= "Shenzhen", CityId= "1003", IsProvincial= false },
                                    new ObjectValueOption()  { CityName= "Chongqing", CityId= "1004", IsProvincial= true },
                                    new ObjectValueOption()  { CityName= "Wuhan", CityId= "1005", IsProvincial= true },
                                    };

    private string value;

    private object keyValue;

    private AutoCompleteOption<ObjectValueOption> selectItem;

    void OnSelectionChange(AutoCompleteOption<ObjectValueOption> item)
    {
        selectItem = item;
    }


    Func<object, object, bool> CompareWith = (a, b) =>
    {
        if (a is ObjectValueOption o1 && b is ObjectValueOption o2)
        {
            return o1.CityId == o2.CityId;
        }
        else
        {
            return false;
        }
    };


    public class ObjectValueOption
    {
        public string CityName { get; set; }
        public string CityId { get; set; }
        public bool IsProvincial { get; set; }
    }
}