@namespace AntDesign
@inherits MessageBase

<div class="@PrefixCls-notice @Config.AnimationClass">
    <div class="@PrefixCls-notice-content">
        <div class="@PrefixCls-custom-content @GetClassName()">
            @{
                switch (Config.Type)
                {
                    case MessageType.Success:
                        {
                            <Icon Type="check-circle" Theme="fill" Class="anticon anticon-check-circle" ></Icon>

                            break;
                        }
                    case MessageType.Warning:
                        {
                            <Icon Type="exclamation-circle" Theme="fill" Class="anticon anticon-exclamation-circle"></Icon>
                            break;
                        }
                    case MessageType.Error:
                        {
                            <Icon Type="close-circle" Theme="fill"  Class="anticon anticon-close-circle"></Icon>
                            break;
                        }
                    case MessageType.Info:
                        {
                            <Icon Type="info-circle" Theme="fill" Class="anticon anticon-info-circle"></Icon>
                            break;
                        }
                    default:
                        {
                            <Icon Type="loading" Theme="outline" Class="anticon anticon-loading"></Icon>
                            break;
                        }
                }
            }
        <span>
            @if (Config.Content.IsT0)
            {
                @Config.Content.AsT0;
            }
            else
            {
                @Config.Content.AsT1;
            }
        </span>
        </div>
    </div>
</div>