@namespace AntDesign
@inherits AntDomComponentBase

@if (_configs.Count > 0)
{
    <div>
        <div class="ant-message" style="top: @(_top)px;" @ref="Ref">
            <span>
                @foreach (var config in _configs)
                {
                    <MessageItem @key="config" Config="config"></MessageItem>
                }
            </span>
        </div>
    </div>
}