@namespace AntDesign
@inherits AntDomComponentBase

@{
    var coinfigs = _configDict.Values.OrderBy(x=>x.Order).ToList();
    if (coinfigs.Count > 0)
    {
        <div>
            <div class="ant-message" style="top: @(_top)px;" @ref="Ref">
                <span>
                    @foreach (var config in coinfigs)
                    {
                        <MessageItem @key="config" Config="config" OnMouseEnter="OnMouseEnter" OnMouseLeave="OnMouseLeave"></MessageItem>
                    }
                </span>
            </div>
        </div>
    }
}