<div>
    <Spin Spinning="_loading">
        <Alert
            Message="Alert message title"
            Description="Further details about the context of this alert."
            Type="info"
        />
    </Spin>
    <div style="margin-top: 16px">
        Loading state：
        <Switch Checked="_loading" OnChange="Toggle" />
    </div>
</div>

@code {
    private bool _loading;

    private void Toggle(bool value) => _loading = value;
}