<div class="site-page-header-ghost-wrapper">
    <PageHeader Ghost="false">
        <PageHeaderTitle>Title</PageHeaderTitle>
        <PageHeaderSubtitle>This is a subtitle</PageHeaderSubtitle>
        <PageHeaderExtra>
            <Button>Operation</Button>
            <Button>Operation</Button>
            <Button Type="@ButtonType.Primary">Primary</Button>
        </PageHeaderExtra>
        <PageHeaderContent>
            @*<Description Size="small" Column="3"> todo:Description
            <DescriptionsItem Title="Created" Span="1">Lili Qu</DescriptionsItem>
            <DescriptionsItem Title="Association" Span="1"><a>421421</a></DescriptionsItem>
            <DescriptionsItem Title="Creation Time" Span="1">2017-01-10</DescriptionsItem>
            <DescriptionsItem Title="Effective Time" Span="1">2017-10-10</DescriptionsItem>
            <Descriptions-item Title="Remarks" Span="2">
                Gonghu Road, Xihu District, Hangzhou, Zhejiang, China
            </Descriptions-item>
        </Descriptions>*@
        </PageHeaderContent>
    </PageHeader>
</div>