<div>
    <Alert Message=@($"You selected date: {_selectedValue:yyyy-MM-dd}") />
    <Calendar Value="@_value" OnSelect="OnSelect" OnPanelChange="OnPanelChange" />
</div>

@code {
    private DateTime _selectedValue = new(2017, 1, 25);
    private DateTime _value = new(2017, 1, 25);

    private void OnSelect(DateTime value)
    {
        _value = value;
        _selectedValue = value;
    }

    private void OnPanelChange(DateTime value, string mode) => _value = value;
}