@namespace AntBlazor
@inherits AntDomComponentBase

<CascadingValue Value="this">
    <div class="@ClassMapper.Class" style="@GutterStyle @Style" id="@Id">
        @ChildContent
    </div>
</CascadingValue>

