@inject ModalService ModalService

<Button OnClick="@ShowConfirm">Confirm</Button>

@code {
    private async Task DestroyAll()
    {
        await ModalService.DestroyAllConfirmAsync();
    }

    private async Task ShowConfirm()
    {
        RenderFragment icon =@<Icon Type="exclamation-circle" Theme="outline"></Icon>;
        RenderFragment content = @<Button OnClick="DestroyAll"> Click to destroy all </Button>;

        for (var i = 0; i < 3; i++)
        {
            ModalService.Confirm(new ConfirmOptions
            {
                Icon = icon,
                Content = content
            });
            await Task.Delay(500);
        }
    }
}
