<Button Type="primary" OnClick="@(()=>{ _visible = true; })">
    Open Modal
</Button>
<Modal Title="BasicModal"
       @bind-Visible="@_visible"
       MaxBodyHeight = "@("50vh")">
    <div>
        <p  style="height: 1000px;">
            I'm very height
        </p>
    </div>
</Modal>
@code{

    bool _visible = false;
}