@inject ModalService ModalService

<Input @bind-Value="@_value" placeholder="user name" />
<br />
<br />
<Button OnClick="OpenTemplate" Type="primary">Use Template</Button>

@code {
    private string _value = "AntDesignBlazor";

    private ModalRef _modalRef;

    private async Task OpenTemplate()
    {
        var templateOptions = new Form.demo.Basic.Model
        {
            Username = _value
        };

        var modalConfig = new ModalOptions
        {
            Title = "Basic Form",
            OnCancel = async _ =>
            {
                Console.WriteLine("OnCancel");
                await _modalRef.CloseAsync();
            },
            AfterClose = () =>
            {
                Console.WriteLine("AfterClose");
                _value = templateOptions.Username;
                InvokeAsync(StateHasChanged);
                return Task.CompletedTask;
            }
        };

        _modalRef = await ModalService.CreateModalAsync<ModalTemplateDemo, Form.demo.Basic.Model>(modalConfig, templateOptions);
    }
}