@namespace AntBlazor
@inherits AntDomComponentBase

<div class="ant-progress ant-progress-line ant-progress-status-normal ant-progress-show-info ant-progress-default">
    <div class="ant-progress-outer">
        <div class="ant-progress-inner">
            <div class="ant-progress-bg" style="width: 30%; height: 8px;">
            </div>
        </div>
    </div>
    <span title="30%" class="ant-progress-text">30%</span>
</div>