<div>
	<Breadcrumb>
    <BreadcrumbItem>
        <Icon Type="home"></Icon>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <a><Icon Type="user"></Icon><span>Application List</span></a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        Application
    </BreadcrumbItem>
</Breadcrumb>
</div>