<Result Status="404"
        Title="404"
        SubTitle="Sorry, the page you visited does not exist."
        Extra="_extra" />

@code {
    private readonly RenderFragment _extra =@<Button Type="primary">Back Home</Button>;
}