<Result Status="404"
        Title="404"
        SubTitle="Sorry, the page you visited does not exist."
        Extra="extra" />

@code
{
    RenderFragment extra =@<Button Type="primary">Back Home</Button>;
}