<Result Status="500"
        Title="500"
        SubTitle="Sorry, something went wrong."
        Extra="_extra" />

@code {
    private readonly RenderFragment _extra =@<Button Type="primary">Back Home</Button>;
}