<Result Icon="smile-outline"
        Title="Great, we have done all the operations!"
        Extra="_extra">
</Result>
<Divider></Divider>
<Result IsShowIcon="false"
        Title="Great, we can hide the icon!"
        Extra="_extra">
</Result>

@code {
    private readonly RenderFragment _extra =@<Button Type="primary">Next</Button>;
}
