<Result Icon="smile-outline"
        Title="Great, we have done all the operations!"
        Extra="extra">
</Result>
<Divider></Divider>
<Result IsShowIcon="false"
        Title="Great, we can hide the icon!"
        Extra="extra">
</Result>

@code
{
    RenderFragment extra =@<Button Type="primary">Next</Button>;
}
