<Result Status="warning"
        Title="There are some problems with your operation."
        Extra="_extra" />

@code {
    private readonly RenderFragment _extra =@<Button Type="primary">Go Console</Button>;
}