@namespace AntBlazor
@inherits AntDomComponentBase

<div class="@ClassMapper.Class" style="@Style" id="@Id">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool Hoverable { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ClassMapper.Add("ant-card-grid")
            .If("ant-card-hoverable", () => Hoverable);
    }

}
