@namespace AntDesign
@inherits AntDomComponentBase

<div class="@ClassMapper.Class" style="@Style" id="@Id" @ref="Ref">
    @if (!string.IsNullOrWhiteSpace(Avatar) || AvatarTemplate != null)
    {
        <div class="ant-card-meta-avatar">
            @if (AvatarTemplate != null)
            {
                @AvatarTemplate
            }
            else
            {
                <Avatar Src="@Avatar" />
            }
        </div>
    }

    @if (!string.IsNullOrWhiteSpace(Title) || TitleTemplate != null
            || !string.IsNullOrWhiteSpace(Description) || DescriptionTemplate != null)
    {
        <div class="ant-card-meta-detail">
            @if (!string.IsNullOrWhiteSpace(Title) || TitleTemplate != null)
            {
                <div class="ant-card-meta-title">
                    @if (TitleTemplate != null)
                    {
                        @TitleTemplate
                    }
                    else
                    {
                        @Title
                    }
                </div>
            }
            @if (DescriptionTemplate != null)
            {
                @DescriptionTemplate
            }
            else
            {
                @Description
            }
        </div>
    }
</div>

@code{

    /// <summary>
    /// Title string
    /// </summary>
    [Parameter]
    public string Title { get; set; }

    /// <summary>
    /// Title content. Takes priority over <see cref="Title"/>
    /// </summary>
    [Parameter]
    public RenderFragment TitleTemplate { get; set; }

    /// <summary>
    /// Description string
    /// </summary>
    [Parameter]
    public string Description { get; set; }

    /// <summary>
    /// Description content. Takes priority over <see cref="Description"/>
    /// </summary>
    [Parameter]
    public RenderFragment DescriptionTemplate { get; set; }

    /// <summary>
    /// Avatar string. Will be passed to <see cref="AntDesign.Avatar"/> component's <see cref="AntDesign.Avatar.Src"/>
    /// </summary>
    [Parameter]
    public string Avatar { get; set; }

    /// <summary>
    /// Avatar content. Takes priority over <see cref="Avatar"/>
    /// </summary>
    [Parameter]
    public RenderFragment AvatarTemplate { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ClassMapper.Add("ant-card-meta");
    }

}
