@inherits ModalTemplate<string, string>

<div>
    <Text>Please input "@config"</Text>
    value: <Input @bind-Value="value" Placeholder="@config" />
</div>

@code{

    string config;

    string value;

    protected override void OnInitialized()
    {
        config = this.Options;
        base.OnInitialized();
    }


    public override async Task OkAsync(ModalClosingEventArgs args)
    {
        ModalRef.Config.OkButtonProps.Loading = true;
        await Task.Delay(1000);
        if (value != config)
            args.Cancel = true;
        else
            await this.OnOkAsync(value);

        await base.OkAsync(args);
    }
}