<div>
    <AntDesign.InputNumber DefaultValue="3" Disabled="@disabled" @bind-Value="myValue" />
    <div style="margin: 20px 0px 20px 0px;">
        <Button Type="@ButtonType.Primary" OnClick="(e)=> ToggleDisable()">Toggle disabled</Button>
    </div>
</div>

@code{
    private bool disabled = true;

    private double myValue { get; set; }


    private void ToggleDisable()
    {
        disabled = !disabled;
    }
}		