@using System.Text.RegularExpressions
<div>
    <AntDesign.InputNumber Formatter="Format1" Parser="Parse1" DefaultValue="1000d"/>
    <AntDesign.InputNumber Formatter="Format2" Parser="Parse2" DefaultValue="100d" Min="0" Max="100"/>
</div>


@code{

    private double myValue { get; set; }

    private string Format1(double value)
    {
        return "$ " + value.ToString("n0");
    }

    private string Parse1(string value)
    {
       return Regex.Replace(value, @"\$\s?|(,*)", "");
    }

    private string Format2(double value)
    {
        return value.ToString() + "%";
    }

    private string Parse2(string value)
    {
        return value.Replace("%", "");
    }
}		