<div>
			<AntBlazor.InputNumber DefaultValue="3" Size="@InputSize.Large"></AntBlazor.InputNumber>
            <AntBlazor.InputNumber DefaultValue="3"></AntBlazor.InputNumber>
            <AntBlazor.InputNumber DefaultValue="3" Size="@InputSize.Small"></AntBlazor.InputNumber>
</div>
		