<div>
    <AntBlazor.InputNumber DefaultValue="3" Size="@InputSize.Large"/>
    <AntBlazor.InputNumber DefaultValue="3"/>
    <AntBlazor.InputNumber DefaultValue="3" Size="@InputSize.Small"/>
</div>
		