<div>
			<InputNumber DefaultValue="3" Size="@InputSize.Large"></InputNumber>
            <InputNumber DefaultValue="3"></InputNumber>
            <InputNumber DefaultValue="3" Size="@InputSize.Small"></InputNumber>
</div>
		