<div>
			<AntInputNumber DefaultValue="3" Size="@AntInputSize.Large"></AntInputNumber>
            <AntInputNumber DefaultValue="3"></AntInputNumber>
            <AntInputNumber DefaultValue="3" Size="@AntInputSize.Small"></AntInputNumber>
</div>
		