<div>
    <Slider TValue="double" DefaultValue="34" Value="@value" TipFormatter="tipFormatter"/>
</div>

@code
{

    private int value { get; set; }

    string tipFormatter()
    {
        return $"{value}%";
    }
}