@using AntDesign.Docs.Demos.Components.TreeSelect.Demo 


<TreeSelect TItem="string" @bind-Value="selectMenuId" 
            Placeholder="Please select"
            >
    

        <TreeNode Title="parent 1" Key="0-0" TItem="string">
            <Nodes>
                <TreeNode Title="parent 1-0" Key="0-0-0" TItem="string">
                    <Nodes>
                        <TreeNode Title="leaf A" Key="0-0-0-0" TItem="string"></TreeNode>
                        <TreeNode Title="leaf B" Key="0-0-0-1" TItem="string"></TreeNode>
                    </Nodes>
                </TreeNode>
                <TreeNode Title="parent 1-1" Key="0-0-1" TItem="string">
                    <Nodes>
                        <TreeNode Key="0-0-1-0" Title="bb" TItem="string">
                            <TitleTemplate>
                                <span style="color: #1890ff; ">sss</span>
                            </TitleTemplate>
                        </TreeNode>
                    </Nodes>
                </TreeNode>
            </Nodes>
        </TreeNode>
</TreeSelect>


select MenuId: @selectMenuId

@code{
    private string selectMenuId;
}