@using AntDesign.Docs.Demos.Components.TreeSelect.Demo


<TreeSelect Multiple="true" TItem="WebMenu" @bind-Values="selectMenuId"
            DataSource="@(LocalJsonData.Data)" AllowClear="true"
            TitleExpression="m => m.MenuName"
            KeyExpression="m => m.MenuId"
            DataItemExpression="(menus, menuId) => menus.FirstOrDefault(m => m.MenuId == menuId)"
            ChildrenExpression="menuId => LocalJsonData.GetMenusByParentId(menuId)"
            IsLeafExpression="m => LocalJsonData.HasChild(m.MenuId)"
            Placeholder="Please select"
            TreeDefaultExpandAll>
</TreeSelect>

select MenuId: @string.Join(',', selectMenuId ?? new[] { ""})

<Button OnClick="ChangeMenuId" OnClickStopPropagation="true">Update</Button>

@code{
    private IEnumerable<string> selectMenuId = new[] { "3", "1"};

    private void ChangeMenuId()
    {
        selectMenuId = new[] { "5", "2" };
    }
}