@using AntDesign.Docs.Demos.Components.TreeSelect.Demo


<SimpleTreeSelect TItem="WebMenu"  @bind-Value="selectMenuId"
            DataSource="@(LocalJsonData.Data)"
            TitleExpression="m => m.MenuName"
            KeyExpression="m => m.MenuId"
            DataItemExpression="(menus, menuId) => menus.FirstOrDefault(m => m.MenuId == menuId)"
            ChildrenMethodExpression="(menus, menuId) => menus.Where(m => m.ParentId == menuId).ToList()"
            IsLeafExpression="(menus,m) => menus.All(m => m.ParentId != m.MenuId)"
            Placeholder="Please select"
            TreeDefaultExpandAll>
</SimpleTreeSelect>


select MenuId:<Input Placeholder="current Select MenuId" @bind-Value="@selectMenuId" /><Button OnClick="ChangeMenuId" OnClickStopPropagation="true">Update</Button>

@code{
    private string selectMenuId = "3";

    private void ChangeMenuId()
    {
        selectMenuId = "5";
    }
}