@inject MessageService MessageService

<Upload Action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
        Name="avatar"
        Class="avatar-uploader"
        ListType="picture-card"
        ShowUploadList="false"
        BeforeUpload="BeforeUpload"
        OnChange="HandleChange">
    @if (!string.IsNullOrWhiteSpace(_imageUrl))
    {
        <img src="@_imageUrl" alt="avatar" style="width: 100%" />
    }
    else
    {
        <div>
            <Icon Spin="_loading" Type="@(_loading?"Loading":"plus")" ></Icon>
            <div className="ant-upload-text">Upload</div>
        </div>
    }
</Upload>

<style>
    .avatar-uploader > .ant-upload {
        width: 128px;
        height: 128px;
    }
</style>

@code {
    private bool _loading;
    private string _imageUrl;

    private bool BeforeUpload(UploadFileItem file)
    {
        var isJpgOrPng = file.Type == "image/jpeg" || file.Type == "image/png";
        if (!isJpgOrPng)
        {
            MessageService.Error("You can only upload JPG/PNG file!");
        }
        var isLt2M = file.Size / 1024 / 1024 < 2;
        if (!isLt2M)
        {
            MessageService.Error("Image must smaller than 2MB!");
        }
        return isJpgOrPng && isLt2M;
    }

    private void HandleChange(UploadInfo fileInfo)
    {
        _loading = fileInfo.File.State == UploadState.Uploading;

        if (fileInfo.File.State == UploadState.Success)
        {
            _imageUrl = fileInfo.File.ObjectURL;
        }
        InvokeAsync(StateHasChanged);
    }
}