@inject IMessageService _message

<Upload @attributes="attrs"
        OnSingleCompleted="OnSingleCompleted">
    <Button Icon="upload">
        <span>Upload</span>
    </Button>
</Upload>

@code
{

    Upload upload;

    Dictionary<string, object> attrs = new Dictionary<string, object>
{
        {"Action", "https://www.mocky.io/v2/5cc8019d300000980a055e76" },
        {"Name", "files" },
        {"DefaultFileList", new List<UploadFileItem>
            {
                new UploadFileItem
                {
                    Id = "1",
                    FileName = "1.jpg",
                    Url = "https://www.baidu.com/1.jpg",
                    State = UploadState.Success
                },
                new UploadFileItem
                {
                    Id = "2",
                    FileName = "2.jpg",
                    Response = "网络错误",
                    State = UploadState.Fail
                }
            }
        }
    };

    void OnSingleCompleted(UploadInfo fileinfo)
    {
        if (fileinfo.File.State == UploadState.Success)
        {
            var result = fileinfo.File.GetResponse<ResponseModel>();
            fileinfo.File.Url = result.url;
        }
    }

    public class ResponseModel
    {
        public string name { get; set; }

        public string status { get; set; }

        public string url { get; set; }

        public string thumbUrl { get; set; }
    }

}