<Upload Action="https://www.mocky.io/v2/5cc8019d300000980a055e76" Directory OnSingleCompleted="OnSingleCompleted">
    <Button Icon="upload">
        <span>点击上传</span>
    </Button>
</Upload>

@code {
    private static void OnSingleCompleted(UploadInfo fileInfo)
    {
        if (fileInfo.File.State != UploadState.Success)
            return;

        var result = fileInfo.File.GetResponse<ResponseModel>();
        fileInfo.File.Url = result.url;
    }

    private class ResponseModel
    {
        public string name { get; set; }

        public string status { get; set; }

        public string url { get; set; }

        public string thumbUrl { get; set; }
    }
}