<Upload Action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
        Name="avatar"
        @bind-FileList="@_fileList"
        ShowButton="_fileList?.Count < 8"
        ListType="picture-card"
        OnPreview="(file)=> {
                           Console.WriteLine(file.FileName);
                           Console.WriteLine(file.Url);
                           _previewVisible = true; _imgUrl = file.Url;
                       }"
        OnChange="HandleChange">
    <div>
        <Icon Type="plus"></Icon>
        <div class="ant-upload-text">Upload</div>
    </div>

</Upload>
<Modal Visible="_previewVisible"
       Title="previewTitle"
       OnCancel="()=> _previewVisible=false">
    <img style="width: 100%" src="@_imgUrl" />
</Modal>


<style>
    /* you can make up upload button and sample style by using stylesheets */
    .ant-upload-select-picture-card i {
        color: #999;
        font-size: 32px;
    }

    .ant-upload-select-picture-card .ant-upload-text {
        margin-top: 8px;
        color: #666;
    }
</style>

@code {
    private bool _previewVisible;
    private string _imgUrl = string.Empty;

    private List<UploadFileItem> _fileList = new()
    {
        new UploadFileItem
        {
            Id = "1",
            FileName = "image.png",
            State = UploadState.Success,
            Url = "https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
        },
        new UploadFileItem
        {
            Id = "2",
            FileName = "image.png",
            State = UploadState.Success,
            Url = "https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
        },
        new UploadFileItem
        {
            Id = "3",
            FileName = "image.png",
            State = UploadState.Success,
            Url = "https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
        },
        new UploadFileItem
        {
            Id = "4",
            FileName = "image.png",
            State = UploadState.Success,
            Url = "https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
        },
        new UploadFileItem
        {
            Id = "xxx",
            FileName = "image.png",
            State = UploadState.Uploading,
            Percent = 50,
            Url = "https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
        },
        new UploadFileItem
        {
            Id = "5",
            FileName = "image.png",
            State = UploadState.Fail
        },
    };

    private static void HandleChange(UploadInfo fileInfo)
    {
        if (fileInfo.File.State == UploadState.Success)
        {
            fileInfo.File.Url = fileInfo.File.ObjectURL;
        }
    }
}