<div>
    <RadioGroup @bind-Value="_radioValue4" ButtonStyle="solid">
        <Radio RadioButton Value="@("A")">Hangzhou</Radio>
        <Radio RadioButton Value="@("B")">Shanghai</Radio>
        <Radio RadioButton Value="@("C")">Beijing</Radio>
        <Radio RadioButton Value="@("D")">Chengdu</Radio>
    </RadioGroup>
</div>

@code {
    private string _radioValue4 = "A";
}