@layout BlankLayout;
@page "/reuse/"
@page "/{Locale}/reuse/"

@using System.Reflection
@using AntDesign.Docs.Services

<CascadingValue Value="routeData">
    <div id="@DemoId">
        <DynamicComponent Type="_demoType"></DynamicComponent>
    </div>
</CascadingValue>

@inject DemoService demoService
@code {
    [SupplyParameterFromQuery]
    public string DemoId { get; set; }

    [SupplyParameterFromQuery]
    public string Type { get; set; }

    [Parameter]
    public string Locale { get; set; }

    [SupplyParameterFromQuery]
    public string FileName { get; set; }

    private Type _demoType;

    RouteData routeData => new RouteData(typeof(AntDesign.Docs.Pages.Docs), new Dictionary<string, object>()
        {
            ["FileName"] = (object)FileName ?? "getting-started"
        });

    protected override void OnInitialized()
    {
        _demoType = demoService.GetShowCase(Type);
        base.OnInitialized();
    }
}
