<Select Mode="tags"
        DataSource="@_items"
		@bind-Values="@_selectedValues"
		TItemValue="string"
		TItem="string"
		EnableSearch>
</Select>

<Button OnClick="@OnButtonClick">Click me to update datasource</Button>
@code
{
    List<string> _items = new List<string>();
    IEnumerable<string> _selectedValues;

    protected void OnButtonClick()
    {
        const int min = 10;
        const int max = 36;

        for (var i = min; max > i; i++)
        {
            var value = Convert.ToString(i, 16).PadLeft(2, '0') + i.ToString();
            _items.Add(value);

            
        }
    }
}