@inherits ConfirmTemplate<string, string>

<div>
    <Text>Please input "@_config"</Text>
    value: <Input @bind-Value="_value" Placeholder="@_config" />
</div>

@code {
    private string _config;

    private string _value;

    protected override void OnInitialized()
    {
        _config = Options;
        base.OnInitialized();
    }

    public override async Task OkAsync(ModalClosingEventArgs args)
    {
        ConfirmRef.Config.OkButtonProps.Loading = true;
        await Task.Delay(1000);

        // only the input's value equals the initialized value, the OK button will close the confirm dialog box
        if (_value != _config) args.Cancel = true;
        else await OnOkAsync(_value);

        await base.OkAsync(args);
    }
}