<div>
    <AntSlider DefaultValue="30" Disabled="@Diabled"  />
    <AntSlider DefaultValue="(20, 50)" Disabled="@Diabled" />
    Diabled: <AntSwitch Size="small" Checked="@Diabled" OnChange="(e)=>OnSwitch(e)" />
</div>

@code{

    private bool Diabled;

    private void OnSwitch(bool args)
    {
        Diabled = args;
    }
}
