<div>
    <Slider DefaultValue="30" OnChange="(e)=>OnChange1(e.AsT0)" OnAfterChange="(vlaue)=>OnAfterChange1()" />
    <Slider Step="10" DefaultValue="( 20, 50 )" OnChange="(e)=>OnChange2(e.AsT0)" OnAfterChange="(vlaue)=>OnAfterChange2()" />
</div>


@code {

    private void OnChange1(double args)
    {
    }

    private void OnAfterChange1()
    {
    }

    private void OnChange2(double args)
    {
    }

    private void OnAfterChange2()
    {
    }
}
