<div>
    <Icon Style="display: inline-block" Type="Frown" Theme="outline" />
    <Slider TValue="double" Style="display: inline-block; width: 300px;" Min="0" Max="20" DefaultValue="5" />
    <Icon Style="display: inline-block" Type="Smile" Theme="outline" />
</div>


