<div>
    <AntSlider Reverse="@reversed" DefaultValue="30" />
    <AntSlider Reverse="@reversed" DefaultValue="(20, 50)" />
    Reversed: <AntSwitch Size="small" Checked="@reversed" OnChange="(e)=>OnSwitchReverse(e)" />
</div>


@code{

    private bool reversed = true;

    private void OnSwitchReverse(bool args)
    {
        reversed = args;
    }
}
