<div>
    <div style="height: 300px; margin-left: 70px; display: inline-block;">
        <AntSlider Vertical DefaultValue="30" />
    </div>
    <div style="height: 300px; margin-left: 70px; display: inline-block;">
        <AntSlider Vertical Step="10" DefaultValue="(20, 50 )" />
    </div>
    <div style="height: 300px; margin-left: 70px; display: inline-block;">
        <AntSlider Vertical Marks="@_marks1" DefaultValue="(26, 37 )" />
    </div>
</div>

@code{
    private AntSliderMark[] _marks1 =
{
            new AntSliderMark(0, "0℃"),
            new AntSliderMark(26, "26℃"),
            new AntSliderMark(37, "37℃"),
            new AntSliderMark(100, (b)=>{
                b.OpenElement(0,"strong");
                b.AddContent(1,"100℃");
                b.CloseElement();
            }, "color: #f50;")
        };
}
