<AntList DataSource="@_data" TItem="BasicItem" OnItemClick="ItemClick">
    <ListItem>
        <ListItemMeta Avatar="@_avatar" Description="Ant Design, a design language for background applications, is refined by Ant UED Team">
            <TitleTemplate>
                <a href="https://ng.ant.design">@context.Title</a>
            </TitleTemplate>
        </ListItemMeta>
    </ListItem>
</AntList>


@code {
    private readonly RenderFragment _avatar = @<Avatar Src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></Avatar>;

    private class BasicItem
    {
        public string Title { get; set; }
    }

    private readonly List<BasicItem> _data = new()
    {
        new BasicItem
        {
            Title = "Ant Design Title 1"
        },
        new BasicItem
        {
            Title = "Ant Design Title 2"
        },
        new BasicItem
        {
            Title = "Ant Design Title 3"
        },
        new BasicItem
        {
            Title = "Ant Design Title 4"
        }
    };

    private void ItemClick(BasicItem item)
    {
        Console.WriteLine($"item was clicked: {item.Title}");
    }
}

