<AntList Grid="_gutter" DataSource="@_data">
    <ListItem >
        <Card Bordered Title="@(context.Title)">
            <Body>
                Card context
            </Body>
        </Card>
    </ListItem>
</AntList>

@code {
    private readonly ListGridType _gutter = new()
    {
        Gutter = 16,
        Column = 4
    };

    private readonly List<BasicItem> _data = new()
    {
        new BasicItem
        {
            Title = "Title 1"
        },
        new BasicItem
        {
            Title = "Title 2"
        },
        new BasicItem
        {
            Title = "Title 3"
        },
        new BasicItem
        {
            Title = "Title 4"
        }
    };

    private class BasicItem
    {
        public string Title { get; set; }
    }
}


