<AntList Grid="grid" DataSource="@Data">
    <ListItem >
        <Card Bordered Title="@(context.Title)">
            <Body>
            Card context
            </Body>
        </Card>
    </ListItem>
</AntList>

@code{

    private ListGridType grid = new()
    {
        Gutter = 16,
        Xs = 1,
        Sm = 2,
        Md = 4,
        Lg = 4,
        Xl = 6,
        Xxl = 3,
    };

    public List<BasicItem> Data = new List<BasicItem>
    {
        new BasicItem { Title = "Title 1"},
        new BasicItem { Title = "Title 2"},
        new BasicItem { Title = "Title 3"},
        new BasicItem { Title = "Title 4"},
        new BasicItem { Title = "Title 5"},
        new BasicItem { Title = "Title 6"},
    };

    public class BasicItem
    {
        public string Title { get; set; }
    }

}