<AntList Grid="_gutter" DataSource="@_data">
    <ListItem >
        <Card Bordered Title="@(context.Title)">
            <Body>
            Card context
            </Body>
        </Card>
    </ListItem>
</AntList>

@code {
    private readonly ListGridType _gutter = new()
    {
        Gutter = 16,
        Xs = 1,
        Sm = 2,
        Md = 4,
        Lg = 4,
        Xl = 6,
        Xxl = 3,
        Column = 3
    };

    private List<BasicItem> _data = new()
    {
        new BasicItem
        {
            Title = "Title 1"
        },
        new BasicItem
        {
            Title = "Title 2"
        },
        new BasicItem
        {
            Title = "Title 3"
        },
        new BasicItem
        {
            Title = "Title 4"
        },
        new BasicItem
        {
            Title = "Title 5"
        },
        new BasicItem
        {
            Title = "Title 6"
        }
    };

    private class BasicItem
    {
        public string Title { get; set; }
    }
}