@inherits LayoutComponentBase

<AntLayout Class="app-layout" HasSider="true">
    <AntLayoutSider class="menu-sidebar"
                    adCollapsible
                    adBreakpoint="md"
                    adCollapsed="isCollapsed"
                    longBodyMode=true
                    onCollapsedChange="(collapsed)=>isCollapsed = collapsed">
        <div class="sidebar-logo">
            <a href="https://github.com/ElderJames/ant-design-blazor" target="_blank">
                <img src="https://raw.githubusercontent.com/ElderJames/ant-design-blazor/master/logo.svg?sanitize=true" alt="logo">
                <h1>Ant Design for Blazor</h1>
            </a>
        </div>
        <AntMenu nzTheme="dark" nzMode="NzDirectionVHIType.inline" Style="margin-bottom:40px;" nzInlineCollapsed="isCollapsed">
            <AntSubMenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
                <AntMenuItem nzMatchRouter>
                    <AntNavLink href="" Match="NavLinkMatch.All">
                        Home
                    </AntNavLink>
                </AntMenuItem>
                <AntMenuItem nzMatchRouter>
                    <AntNavLink href="counter">
                        Counter
                    </AntNavLink>
                </AntMenuItem>
                <AntMenuItem nzMatchRouter>
                    <AntNavLink href="fetchdata">
                        Fetch data
                    </AntNavLink>
                </AntMenuItem>
            </AntSubMenu>
            <AntSubMenu nzOpen nzTitle="Form" nzIcon="form">
                <AntMenuItem nzMatchRouter>
                    <AntNavLink href="button">
                        Button
                    </AntNavLink>
                </AntMenuItem>
                <AntMenuItem nzMatchRouter>
                    <AntNavLink href="card">
                        Card
                    </AntNavLink>
                </AntMenuItem>
                <AntMenuItem nzMatchRouter>
                    <AntNavLink href="avatar">
                        Avatar
                    </AntNavLink>
                </AntMenuItem>
                <AntMenuItem nzMatchRouter>
                    <AntNavLink href="tag">
                        Tag
                    </AntNavLink>
                </AntMenuItem>
                <AntMenuItem nzMatchRouter>
                    <AntNavLink href="divider">
                        Divider
                    </AntNavLink>
                </AntMenuItem>
                <AntMenuItem nzMatchRouter>
                    <AntNavLink href="timeline">
                        Timeline
                    </AntNavLink>
                </AntMenuItem>
                <AntMenuItem nzMatchRouter>
                    <AntNavLink href="breadcrumb">
                        Breadcrumb
                    </AntNavLink>
                </AntMenuItem>
            </AntSubMenu>
        </AntMenu>
    </AntLayoutSider>
    <AntLayout class="main-content" Style="@(isCollapsed?"margin-left:80px":"margin-left:256px")">
        <AntLayoutHeader>
            <div class="app-header">
                <span class="header-trigger" @onclick="()=>isCollapsed = !isCollapsed">
                    <AntIcon class="trigger" type="@(isCollapsed ? "menu-unfold" : "menu-fold")"></AntIcon>
                </span>
                <span class="header-buttons">
                    <a class="github-stars" href="https://github.com/ElderJames/ant-design-blazor">
                        <img alt="GitHub stars" src="https://img.shields.io/github/stars/ElderJames/ant-design-blazor?style=social">
                    </a>
                </span>
            </div>
        </AntLayoutHeader>
        <AntLayoutContent longContentMode=true>
            <div class="inner-content">
                @Body
            </div>
        </AntLayoutContent>
        <AntLayoutFooter Style="text-align:center;">
            Ant Design for Blazor @@2020 Create by XXX
        </AntLayoutFooter>
    </AntLayout>
</AntLayout>

@code
{

    bool isCollapsed = false; 
}