@using System.Globalization
@inherits LayoutComponentBase

<AntLayout class="app-layout" hasSider>
    <AntSider class="menu-sidebar"
              collapsible
              breakpoint="lg"
              collapsed="isCollapsed"
              collapsedWidth="0"
              width="256px"
              onCollapsedChange="(collapsed)=>isCollapsed = collapsed">
        <NavMenu isCollapsed="isCollapsed"></NavMenu>
    </AntSider>
    <AntLayout id="BodyContainer">
        <AntHeader>
            <div class="app-header">
                <span class="header-trigger" @onclick="()=>isCollapsed = !isCollapsed">
                    <AntIcon class="trigger" type="@(isCollapsed ? "menu-unfold" : "menu-fold")"></AntIcon>
                </span>
                <span class="header-buttons">
                    @if (CurrentLanguage != "en-US")
                    { 
                        <AntButton size="small" onclick="@(_ => ChangeLanguage("en-US"))">English</AntButton>
                    }
                    else
                    {
                        <AntButton size="small" onclick="@(_ => ChangeLanguage("zh-CN"))">简体中文</AntButton>
                    }
                    <a class="github-stars" href="https://github.com/ElderJames/ant-design-blazor">
                        <img alt="GitHub stars" src="https://img.shields.io/github/stars/ElderJames/ant-design-blazor?style=social">
                    </a>
                </span>
            </div>
        </AntHeader>
        <AntContent>
            <div class="inner-content">
                @Body
            </div>
        </AntContent>
        <footer>
            @*<div class="footer-wrap"></div>*@
            <div class="bottom-bar">
                Made with <span class="heart">❤</span> by ant-design-blazor team
            </div>
        </footer>
    </AntLayout>
</AntLayout>

@inject NavigationManager NavigationManager
@code{
    bool isCollapsed { get; set; } = true;

    string CurrentLanguage => CultureInfo.CurrentCulture.Name;

    public void ChangeLanguage(string language)
    {
        var currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        var newUrl = currentUrl.IndexOf('/') > 0 ? currentUrl.Substring(currentUrl.IndexOf('/') + 1) : currentUrl;
        NavigationManager.NavigateTo($"{language}/{newUrl}",true);
        StateHasChanged();
    }
}