<div>
    <Badge Count="5">
        <a href="#" class="head-example" />
    </Badge>
    <Badge Count="0" ShowZero>
        <a href="#" class="head-example" />
    </Badge>

    <Badge>
        <CountTemplate>
            <Icon Type="clock-circle" Fill="#f5222d" />
        </CountTemplate>
        <ChildContent>
            <a href="#" class="head-example" />
        </ChildContent>
    </Badge>
</div>

