<div>
    <div>
        <Badge Count="@_count">
            <a href="#" class="head-example" />
        </Badge>
        <ButtonGroup>
            <Button @onclick="_=>Decline()">
                <Icon Type="minus"></Icon>
            </Button>
            <Button @onclick="_=>Increase()">
                <Icon Type="plus"></Icon>
            </Button>
        </ButtonGroup>
    </div>
    <div style="margin-top: 10px">
        <Badge Dot="@_show">
            <a href="#" class="head-example" />
        </Badge>
        <Switch OnChange="OnChange" Checked="@_show" />
    </div>
</div>

@code {
    private int _count = 5;
    private bool _show = true;

    private void Increase() => _count++;

    private void Decline()
    {
        _count--;

        if (_count < 0)
        {
            _count = 0;
        }
    }

    void OnChange(bool show) => _show = show;
}
