<div>
    <Badge Dot>
        <Icon Type="@IconType.Outline.Notification"/>
    </Badge>
    <Badge Count="0" Dot>
        <Icon Type="@IconType.Outline.Notification" />
    </Badge>
    <Badge Dot>
        <a href="#">Link something</a>
    </Badge>
    <Badge Dot Status="BadgeStatus.Warning">
        <a href="#" class="head-example" />
    </Badge>
</div>