<div>
    <Badge Status="BadgeStatus.Success" />
    <Badge Status="BadgeStatus.Error" />
    <Badge Status="BadgeStatus.Default" />
    <Badge Status="BadgeStatus.Processing" />
    <Badge Status="BadgeStatus.Warning" />
    <br />
    <Badge Status="BadgeStatus.Success" Text="Success" />
    <br />
    <Badge Status="BadgeStatus.Error" Text="Error" />
    <br />
    <Badge Status="BadgeStatus.Default" Text="Default" />
    <br />
    <Badge Status="BadgeStatus.Processing" Text="Processing" />
    <br />
    <Badge Status="BadgeStatus.Warning" Text="Warning" />
</div>