<ul class="contributors-list" style="display: flex; list-style: none; margin: 0px; padding: 0px;">
    @if (_avatarList != null)
    {
        @foreach (var item in _avatarList)
        {
            <Tooltip Title="@($"{LanguageService.Resources["app.content.contributors"]}:{item.Username}")">
                <Unbound>
                    <a @ref="context.Current" target="_blank" href="@item.ProfileUrl">
                        <Avatar Text="@item.Username" Src="@item.Url" />
                    </a>
                </Unbound>
            </Tooltip>
        }
    }
</ul>
