@inherits LayoutComponentBase

<div id="react-content">
    <MainHeader OnMobileModeChanged="isMobile=> _isMobile=isMobile" />
    @if (LocalizationService.CurrentCulture.Name == "zh-CN")
    {
        <Alert Banner Type="@AlertType.Warning">
            <Icon>
                <Icon Type="notification" Theme="outline"/>
            </Icon>
            <MessageTemplate>
               为了能更好地了解您的商业使用需求，请参与 <a href="https://wj.qq.com/s2/10306537/c332/">Ant Design Blazor 商业应用调查</a>，一起建设商业应用社区，为企业系统研发赋能！
            </MessageTemplate>
        </Alert>
    }
    <div class="main-wrapper">
        @if (_isMobile)
        {
            <div class="drawer-wrapper">
                <div class="drawer drawer-left @(_drawerVisible?"drawer-open":"")">
                    <div class="drawer-mask" @onclick="()=> { _drawerVisible = false; }"></div>
                    <div class="drawer-content-wrapper" style="@(_drawerVisible?"":"transform:translateX(-100%)")">
                        <div class="drawer-content">
                            <NavMenu />
                        </div>
                        <div class="drawer-handle" @onclick="()=> { _drawerVisible = !_drawerVisible; }">
                            <i class="drawer-handle-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        }

        <Row>
            @if (!_isMobile)
            {
                <GridCol Class="main-menu" Xs="24" Sm="24" Md="6" Lg="6" Xl="5" Xxl="4">
                    <Affix>
                        <section class="main-menu-inner">
                            <NavMenu />
                        </section>
                    </Affix>
                </GridCol>
            }

            <GridCol Xs="24" Sm="24" Md="18" Lg="18" Xl="19" Xxl="20">
                <CascadingValue Value="this">
                    @Body
                    @*<div class="fixed-widgets">
                            <span class="ant-avatar fixed-widgets-avatar ant-dropdown-trigger ant-avatar-circle ant-avatar-icon" style="width: 44px; height: 44px; line-height: 44px; font-size: 22px;">
                                <span role="img" class="anticon">
                                    <svg width="21" height="21" viewBox="0 0 21 21" fill="currentColor"><g fill-rule="evenodd"><g fill-rule="nonzero"><path d="M7.02 3.635l12.518 12.518a1.863 1.863 0 010 2.635l-1.317 1.318a1.863 1.863 0 01-2.635 0L3.068 7.588A2.795 2.795 0 117.02 3.635zm2.09 14.428a.932.932 0 110 1.864.932.932 0 010-1.864zm-.043-9.747L7.75 9.635l9.154 9.153 1.318-1.317-9.154-9.155zM3.52 12.473c.514 0 .931.417.931.931v.932h.932a.932.932 0 110 1.864h-.932v.931a.932.932 0 01-1.863 0l-.001-.931h-.93a.932.932 0 010-1.864h.93v-.932c0-.514.418-.931.933-.931zm15.374-3.727a1.398 1.398 0 110 2.795 1.398 1.398 0 010-2.795zM4.385 4.953a.932.932 0 000 1.317l2.046 2.047L7.75 7 5.703 4.953a.932.932 0 00-1.318 0zM14.701.36a.932.932 0 01.931.932v.931h.932a.932.932 0 010 1.864h-.933l.001.932a.932.932 0 11-1.863 0l-.001-.932h-.93a.932.932 0 110-1.864h.93v-.931a.932.932 0 01.933-.932z"></path></g></g></svg>
                                </span>
                            </span>
                        </div>*@
                        <FixedWidgets />
                    <PrevNextNav />
                </CascadingValue>
                <MainFooter />
            </GridCol>
        </Row>
    </div>
</div>