<div>
    <Steps>
        <Step Status="finish" Title="Login" Icon="user" />
        <Step Status="finish" Title="Verification" Icon="solution"  />
        <Step Status="process" Title="Pay" Icon="loading" />
        <Step Status="wait" Title="Done" Icon="smile"/>
    </Steps>
</div>