<div>
    <Progress Percent=_percent Type=ProgressType.Circle />
    <ButtonGroup>
        <Button OnClick=Decline Icon=Minus />
        <Button OnClick=Increase Icon=Plus />
    </ButtonGroup>
</div>

@code{
    private int _percent = 0;

    private void Decline()
    {
        _percent -= 10;
        if (_percent < 0)
        {
            _percent = 0;
        }
    }

    private void Increase()
    {
        _percent += 10;
        if (_percent > 100)
        {
            _percent = 100;
        }
    }
}