<div>
    <Progress Type=ProgressType.Circle Percent=75 Format=_fortmat1 />
    <Progress Type=ProgressType.Circle Percent=100 Format=_fortmat2 />

</div>

@code{
    private Func<double, string> _fortmat1 = (p) => $"{p} Days";
    private Func<double, string> _fortmat2 = (p) => "Done";
}