<div>
    <Progress Type="ProgressType.Circle" Percent="75" Format="_format" />
    <Progress Type="ProgressType.Circle" Percent="100" Format="_format2" />

</div>

@code {
    private readonly Func<double, string> _format = p => $"{p} Days";
    private readonly Func<double, string> _format2 = _ => "Done";
}