<div>
    <Progress Percent=60 SuccessPercent=30 />
    <Progress Percent=60 SuccessPercent=30 Type=ProgressType.Circle />
    <Progress Percent=60 SuccessPercent=30 Type=ProgressType.Dashboard />
</div>