<div>
    <Progress Percent=50 Steps=3 StrokeColor=_color />
    <br />
    <Progress Percent=30 Steps=5 StrokeColor=_color />
    <br />
    <Progress Percent=100 Steps=5 Size=ProgressSize.Small StrokeColor=_color />
</div>

@code{
    private string _color = "#1890ff";
}