@page "/"
@namespace AntBlazor.Docs.ServerApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using EmbeddedBlazorContent;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AntBlazor.Docs.ServerApp</title>
    <base href="~/" />
    @Html.EmbeddedBlazorContent(assembly: typeof(AntBlazor._Imports).Assembly, requestPath: "~/_content/AntBlazor")
    @Html.EmbeddedBlazorContent(assembly: typeof(AntBlazor.Docs.Pages.Index).Assembly, requestPath: "~/_content/AntBlazor.Docs")
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.Server))
    </app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
