<Card Hoverable Style="width: 620px;" BodyStyle="padding: 0; overflow: hidden;">
     <Flex Justify="space-between">
         <img alt="avatar"
              src="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
              style="display:block;width:273px;" />
         <Flex Vertical Align="flex-end" Justify="space-between" Style="padding: 32px;">
             <Title Level="3">
                 “antd is an enterprise-class UI design language and React UI library.”
             </Title>
             <a href="http://localhost:5000/zh-CN/docs/getting-started" target="_blank">
                 <Button Type="@ButtonType.Primary">
                     Get Start
                 </Button>
             </a>
         </Flex>
     </Flex>
 </Card>