<Flex Wrap="FlexWrap.Wrap" Gap="FlexGap.Small">
    @foreach(var i in Enumerable.Range(0, 24))
    {
        <Button @key="i" Type="ButtonType.Primary">
            Button
        </Button>
    }
</Flex>
