@inject IMessageService _message

<Button Type="ButtonType.Default" OnClick="OnClick">
    Display normal message
</Button>

@code {
    private async Task OnClick()
    {
        await _message.LoadingAsync("Action in progress..", 2.5);
        await _message.InfoAsync("Loading finished", 2.5);
        await _message.InfoAsync("Loading finished is finished", 2.5);
    }
}