@inject MessageService MessageService

<Button Type="default" OnClick="OnClickAsync">
    Display normal message
</Button>

@code {
    private async Task OnClickAsync()
    {
        await MessageService.Loading("Action in progress..", 2.5)
            .ContinueWith(_ =>
            {
                MessageService.Info("Loading finished", 2.5)
                    .ContinueWith(_ =>
                    {
                        MessageService.Info("Loading finished is finished", 2.5);
                    });
            });
    }
}