@inject IMessageService _message

<Button Type="default" OnClick="OnClick">
    Customized display duration
</Button>

@code{
    private void OnClick()
    {
        _message.Success("This is a prompt message for success, and it will disappear in 10 seconds", 10);
    }
}