@inject MessageService MessageService

<Button Type="primary" OnClick="OnClick">
    Display normal message
</Button>

@code {
    private void OnClick()
    {
        Console.WriteLine("onclick");
        MessageService.Info("This is a normal message");
    }
}