@inject IMessageService _message

    <Button Type="ButtonType.Default" OnClick="OnClick">
        Display a loading indicator
    </Button>

@code{

    private async Task OnClick()
    {
        var cofig = new MessageConfig()
        {
            Content = "Action in progress..",
            Duration = 0
        };
        var task = _message.LoadingAsync(cofig);
        await Task.Delay(2000);
        task.Start();
    }

}