@inject MessageService MessageService

<Button Type="default" OnClick="OnClick">
    Display a loading indicator
</Button>

@code {
    private async Task OnClick()
    {
        var config = new MessageConfig
        {
            Content = "Action in progress..",
            Duration = 0
        };

        var task =  MessageService.Loading(config);
        await Task.Delay(2000);
        task.Start();
    }
}