@inject MessageService MessageService

<Button Type="primary" OnClick="OnClickAsync">
    Display normal message
</Button>

@code {
    private async Task OnClickAsync()
    {
        var key = $"updatable-{DateTime.Now.Ticks}";
        var config = new MessageConfig
        {
            Content = "Loading...",
            Key = key
        };

        MessageService.Loading(config);

        await Task.Delay(2000);

        config.Content = "Loaded";
        config.Duration = 2;
        await MessageService.Success(config);
    }
}