@namespace AntDesign
@inherits DrawerTemplate<string, string>

<div>
    value: <Input @bind-Value="_value" />
    <br/>
    <br/>
    <Button Type="primary" OnClick="OnClose">Confirm</Button>
</div>

@code {

    private string _value;

    protected override void OnInitialized()
    {
        _value = Options;
        base.OnInitialized();
    }

    private async void OnClose()
    {
        await CloseAsync(_value);
    }
}