<div>
    <AntRadioGroup @bind-Value="radioValue4" ButtonStyle="solid">
        <AntRadio RadioButton Value="A">Hangzhou</AntRadio>
        <AntRadio RadioButton Value="B">Shanghai</AntRadio>
        <AntRadio RadioButton Value="C">Beijing</AntRadio>
        <AntRadio RadioButton Value="D">Chengdu</AntRadio>
    </AntRadioGroup>
</div>
@code
{
    string radioValue4 = "A";
}