<div>
    <Radio Checked Disabled="@Disabled" TValue="bool">
        Disabled
    </Radio>
    <br />
    <Radio Disabled="@Disabled" TValue="bool">
        Disabled
    </Radio>
    <div style="margin-top: 20px">
        <Button Type="primary" OnClick="_=>Disabled=!Disabled">Toggle Disabled</Button>
    </div>
</div>

@code
{
    bool Disabled = true;
}
