<div>
    <RadioGroup @bind-Value="@_value" >
        <Radio Value="1">A</Radio>
        <Radio Value="2">B</Radio>
        <Radio Value="3">C</Radio>
        <Radio Value="4">D</Radio>
    </RadioGroup>
</div>
@code
 {

    int _value = 1;
}