<div>
    <AntRadioGroup @bind-Value="radioValue2" Name="radiogroup">
        <AntRadio Value="A">A</AntRadio>
        <AntRadio Value="B">B</AntRadio>
        <AntRadio Value="C">C</AntRadio>
        <AntRadio Value="D">D</AntRadio>
    </AntRadioGroup>
</div>
@code
    {
    string radioValue2 = "A";
}