<div>
    <RadioGroup @bind-Value="radioValue2" Name="radiogroup">
        <Radio Value="A">A</Radio>
        <Radio Value="B">B</Radio>
        <Radio Value="C">C</Radio>
        <Radio Value="D">D</Radio>
    </RadioGroup>
</div>
@code
{
    string radioValue2 = "A";
}