@namespace AntBlazor
@inherits AntStepsBase

<CascadingValue Value="this">
    <div class="@ClassMapper.Class" style="@Style" @attributes="Attributes" Id="@Id">
        @ChildContent
    </div>
</CascadingValue>
