@namespace AntBlazor
@inherits AntDomComponentBase


<CascadingValue Value="this">
    <section class="@ClassMapper.Class" style="@Style" @attributes="Attributes" Id="@Id">
        @ChildContent
    </section>
</CascadingValue>

@code
     {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool hasSider { get; set; }


    protected override void OnInitialized()
    {
        base.OnInitialized();
        ClassMapper
            .Add("ant-layout")
            .If("ant-layout-has-sider", () => hasSider);
    }

}
