@namespace AntDesign
@inherits AntDomComponentBase

<main class="@ClassMapper.Class" @ref="Ref" style="@Style" id="@Id">
    @ChildContent
</main>
@_styleContent
@code {

    /// <summary>
    /// The inner content
    /// </summary>
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override void OnInitialized()
    {
        var hashId = UseStyle("ant-layout", LayoutStyle.UseComponentStyle);
        ClassMapper.Add("ant-layout-content").Add(hashId);

        base.OnInitialized();
    }

}
