@namespace AntDesign
@inherits AntDomComponentBase

<CascadingValue Value="this" IsFixed="@true">
    <section class="@ClassMapper.Class" style="@Style" id="@Id">
        @ChildContent
    </section>
</CascadingValue>