@namespace AntDesign
@inherits AntDomComponentBase

<div @ref="Ref" class="box @ClassMapper.Class" @onmouseenter="OnMouseEnter" @onmouseleave="OnMouseLeave">
    <ResizeHandles />
    Content
</div>

<style>
    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #eee;
        border: 1px solid #ddd;
        width: 400px;
        height: 200px;
    }
</style>