<Space>
    <SpaceItem>
        Space
    </SpaceItem>
    <SpaceItem>
        <Button Type="primary">Button</Button>
    </SpaceItem>
    <SpaceItem>
        <Button>
            <Icon Type="upload" Theme="outline" /> Click to Upload
        </Button>
    </SpaceItem>
    <SpaceItem>
        <Button>Confirm</Button>
    </SpaceItem>
</Space>
