<Space Direction="vertical">
    <SpaceItem>
        <AntCard Title=@("Card") Style="width: 300px;">
            <p>Card content</p>
            <p>Card content</p>
        </AntCard>
    </SpaceItem>
    <SpaceItem>
        <AntCard Title=@("Card") Style="width: 300px;">
            <p>Card content</p>
            <p>Card content</p>
        </AntCard>
    </SpaceItem>
</Space>