<style>
	#button-block-demo > * {
		margin-bottom: 12px;
	}
</style>
<div id="button-block-demo">
	<Button Type="primary" Block>Primary</Button>
	<Button Block>Default</Button>
	<Button Type="dashed" Block>Dashed</Button>
	<Button Type="link" Block>Link</Button>
</div>