<div id="button-block-demo">
    <Button Type="@ButtonType.Primary" Block>Primary</Button>
    <Button Block>Default</Button>
    <Button Type="@ButtonType.Dashed" Block>Dashed</Button>
    <Button Type="@ButtonType.Link" Block>Link</Button>
</div>

<style>
	#button-block-demo > * {
		margin-bottom: 12px;
	}
</style>