<div>
    <Button Danger Type="@ButtonType.Primary">
        Primary
    </Button>
    <Button Danger>
        Default
    </Button>
    <Button Danger Type="@ButtonType.Dashed">
        Dashed
    </Button>
    <Button Danger Type="@ButtonType.Text">
        Text
    </Button>
    <Button Danger Type="@ButtonType.Link">
        Link
    </Button>
</div>