<div>
    <Button Type="primary" Danger>
        Primary
    </Button>
    <Button Danger>Default</Button>
    <Button Type="@ButtonType.Dashed" Danger>
        Dashed
    </Button>
    <Button Type="@ButtonType.Text" Danger>
        Text
    </Button>
    <Button Type="@ButtonType.Link" Danger>
        Link
    </Button>
</div>