<div>
    <Button Type="@ButtonType.Primary" Danger>
        Primary
    </Button>
    <Button Danger>Default</Button>
    <Button Type="@ButtonType.Dashed" Danger>
        link
    </Button>
    <Button Type="@ButtonType.Link" Danger>
        link
    </Button>
</div>