<div>
    <DownloadButton Type="@ButtonType.Primary" Icon="@IconType.Outline.Download" Url="docs/assets/logo.svg" FileName="antblazor_logo" />
    <DownloadButton Type="@ButtonType.Primary" Icon="@IconType.Outline.Download" Url="docs/assets/logo.svg" FileName="antblazor_logo" >Download</DownloadButton>
</div>