<div class="site-button-ghost-wrapper">
    <Button Type="@ButtonType.Primary" Ghost>Primary</Button>
    <Button Ghost>Default</Button>
    <Button Type="@ButtonType.Dashed" Ghost>Link</Button>
    <Button Type="@ButtonType.Link" Ghost>Link</Button>
</div>

<style>
    .site-button-ghost-wrapper {
        background: rgb(190, 200, 200);
        padding: 26px 16px 16px;
    }
</style>