<ButtonGroup Size="small">
    <Button Type="primary">Button 1</Button>
    <Button Type="primary">Button 2</Button>
</ButtonGroup>
<ButtonGroup>
    <Button Type="primary">Button 1</Button>
    <Button Type="primary">Button 2</Button>
</ButtonGroup>
<ButtonGroup Size="large">
    <Button Type="primary">Button 1</Button>
    <Button Type="primary">Button 2</Button>
</ButtonGroup>
