@using System.Timers

<div>
    <Button Type="primary" Loading>
        Loading
    </Button>
    <Button Type="primary" Size="small" Loading>
        Loading
    </Button>
    <br />
    <Button Type="primary" Loading="_loading" OnClick="EnterLoading">
        Click me!
    </Button>
    <Button
        Type="primary"
        Icon="poweroff"
    Loading="_iconLoading"
    OnClick="EnterIconLoading">
    Click me!
    </Button>
</div>

@code {
    private bool _loading;
    private bool _iconLoading;

    private void EnterLoading()
    {
        _loading = true;
        Task.Run(async () =>
        {
            await Task.Delay(8000);
            _loading = false;
            await InvokeAsync(StateHasChanged);
            Console.WriteLine("Timer2 ended" + DateTime.Now);
        });
    }

    private void EnterIconLoading()
    {
        _iconLoading = true;

        Task.Run(async () =>
        {
            await Task.Delay(8000);
            _iconLoading = false;
            await InvokeAsync(StateHasChanged);
        });
    }
}
