<div>
    <Button Type="ButtonType.Primary" Loading>Loading</Button>
    <Button Type="ButtonType.Primary" Size="ButtonSize.Small" Loading>Loading</Button>
    <Button Type="ButtonType.Primary" Icon="@IconType.Outline.Poweroff" Loading />
    
    <br />
    
    <Button Type="ButtonType.Primary"
            AutoLoading
            OnClick="EnterNoIconLoading">
        Click me!
    </Button>
    <Button Type="ButtonType.Primary"
            Icon="@IconType.Outline.Poweroff"
            AutoLoading
            OnClick="EnterWithIconLoading">
        Click me!
    </Button>
    <Button Type="ButtonType.Primary"
            Icon="@IconType.Outline.Poweroff"
            Loading="_onlyIconLoading"
            OnClick="EnterOnlyIconLoading" />
</div>

@code
{
    private bool _onlyIconLoading;

    private async Task EnterNoIconLoading()
    {
        await Task.Delay(8000);
    }

    private async Task EnterWithIconLoading()
    {
        await Task.Delay(8000);
    }

    private async Task EnterOnlyIconLoading()
    {
        _onlyIconLoading = true;
        await Task.Delay(8000);
        _onlyIconLoading = false;
    }
}
