@{
    RenderFragment menu = @<Menu>
        <MenuItem Key="1">1st item</MenuItem>
        <MenuItem Key="2">2nd item</MenuItem>
        <MenuItem Key="3">3rd item</MenuItem>
    </Menu>;
}

<Button Type="primary">primary</Button>
<Button>secondary</Button>
<DropdownButton>
    <Overlay>
        @menu
    </Overlay>
    <Unbound>
        Actions
    </Unbound>
</DropdownButton>