<Button Type="@ButtonType.Primary">Primary</Button>
<Button>Secondary</Button>
<DropdownButton>
    <Overlay>
        <Menu>
            <MenuItem Key="1">1st item</MenuItem>
            <MenuItem Key="2">2nd item</MenuItem>
            <MenuItem Key="3">3rd item</MenuItem>
        </Menu>
    </Overlay>
    <Unbound>
        Actions
    </Unbound>
</DropdownButton>