<Tree TItem="string" Checkable
      DefaultExpandedKeys="@(new[] { "0-0-0", "0-0-1"})"
      DefaultSelectedKeys="@(new[] {"0-0-0", "0-0-1" })"
      DefaultCheckedKeys="@(new[] {"0-0-0", "0-0-1" })"
      OnSelect="OnSelect"
      OnCheck="OnCheck">
    <Nodes>
        <TreeNode Title="parent 1" Key="0-0" TItem="string">
            <Nodes>
                <TreeNode Title="parent 1-0" Key="0-0-0" Disabled TItem="string">
                    <Nodes>
                        <TreeNode Title="leaf" Key="0-0-0-0" DisableCheckbox TItem="string"></TreeNode>
                        <TreeNode Title="leaf" Key="0-0-0-1" TItem="string"></TreeNode>
                    </Nodes>
                </TreeNode>
                <TreeNode Title="parent 1-1" Key="0-0-1" TItem="string">
                    <Nodes>
                        <TreeNode Key="0-0-1-0" TItem="string">
                            <TitleTemplate>
                                <span style="color: #1890ff; ">sss</span>
                            </TitleTemplate>
                        </TreeNode>
                    </Nodes>
                </TreeNode>
            </Nodes>
        </TreeNode>
    </Nodes>
</Tree>

@code{

    void OnSelect(TreeEventArgs<string> args)
    {
        Console.WriteLine("OnSelect");
    }

    void OnCheck(TreeEventArgs<string> args)
    {
        Console.WriteLine("onCheck");
    }
}