<div>
    <Search @bind-Value="@searchKey" Placeholder="Search.." />
    <Tree ShowIcon
          SearchValue="@searchKey"
          MatchedClass="site-tree-search-value"
          DataSource="datas"
          TitleExpression="x => x.DataItem.Title"
          ChildrenExpression="x => x.DataItem.Children"
          HideUnmatched></Tree>
</div>

<style>
    .site-tree-search-value {
        color: #f50;
    }
</style>

@code {
    string searchKey;

    List<Data> datas = new List<Data>();

    public HideUnmatched() {
        for (int i = 0; i < 5; i++) {
            var data = new Data(i.ToString());
            datas.Add(data);

            for (int j = 0; j < 8; j++) {
                var d2 = new Data($"{i}-{j}");
                data.Children.Add(d2);

                for (int k = 0; k < 3; k++) {
                    var d3 = new Data($"{i}-{j}-{k}");
                    d2.Children.Add(d3);
                }
            }
        }
    }

    private record Data(string Id, string Title)
    {
        public Data(string Id) : this(Id, Id) {}

        public List<Data> Children { get; set; } = new List<Data>();
    }
}