<Tree @ref="_tree"
      SelectedKey="100"
      ShowIcon DataSource="_games"
      TitleExpression="x => x.DataItem.Text"
      ChildrenExpression="x => x.DataItem.Items"
      IconExpression="x => x.DataItem.Icon"
      IsLeafExpression="x => x.DataItem.Items?.Count == 0"
      KeyExpression="x => x.DataItem.Id"
      @bind-SelectedNode="@_selectedNode"
      TItem="GameElement">
</Tree>

<Divider>Node Modify</Divider>
<Button OnClick="AddSon">Add Son</Button>
<Button OnClick="AddNext">Add Next</Button>
<Button OnClick="AddPrevious">Add Previous</Button>
<Button OnClick="RemoveSelf">Remove Self</Button>

<Divider>Node Move</Divider>
<Button OnClick="NodeMove">Move To First Node Son</Button>
<Button OnClick="NodeMoveUp">Move Up</Button>
<Button OnClick="NodeMoveDown">Move Down</Button>
<Button OnClick="NodeDowngrade">Downgrade</Button>
<Button OnClick="NodeUpgrade">Upgrade</Button>

@code {
    private Tree<GameElement> _tree;

    private TreeNode<GameElement> _selectedNode;

    private int _i;

    GameElement GenerateDataItem() => new(_i++.ToString(), $"Node {_i}")
    {
        Items = new List<GameElement>()
    };

    void AddSon()
    {
        _selectedNode?.AddChildNode(GenerateDataItem());
    }

    void AddNext()
    {
        _selectedNode?.AddNextNode(GenerateDataItem());
    }

    void AddPrevious()
    {
        _selectedNode?.AddPreviousNode(GenerateDataItem());
    }

    void RemoveSelf()
    {
        _selectedNode?.Remove();
    }

    void NodeMove()
    {
        var firstNode = _tree.ChildNodes.First();
        _selectedNode?.MoveInto(firstNode);
    }

    void NodeMoveUp()
    {
        _selectedNode?.MoveUp();
    }

    void NodeMoveDown()
    {
        _selectedNode?.MoveDown();
    }

    void NodeDowngrade()
    {
        _selectedNode?.Downgrade();
    }

    void NodeUpgrade()
    {
        _selectedNode?.Upgrade();
    }

    List<GameElement> _games = new()
    {
        new GameElement("100", "XBox", "windows")
        {
            Items = new List<GameElement>
            {
                new("101", "Halo"),
                new("102", "Gears of War"),
                new("103", "Forza Motosport"),
            }
        },
        new GameElement("200", "PlayStation", "desktop")
        {
            Items = new List<GameElement>
            {
                new("201", "Uncharted"),
                new("202", "God Of War"),
                new("203", "The Order:1886"),
            }
        },
        new GameElement("300", "Switch", "mobile")
        {
            Items = new List<GameElement>
            {
                new("301", "Super Mario Bros"),
                new("302", "The Legend of Zelda"),
            }
        }
    };

    private record GameElement(string Id, string Text, string Icon = null)
    {
        public List<GameElement> Items { get; set; } = new();
    }
}