@namespace AntDesign
@inherits AntComponentBase
@typeparam TItem

@if (IsHeader)
{
    <th class="ant-table-cell">@(Title??DisplayName??FieldName)</th>
}
else
{
    @if (CellRender != null)
    {
        <td>@CellRender(Field)</td>
    }
    else if (ChildContent != null)
    {
        <td>@ChildContent</td>
    }
    else
    {
        <td>@Field</td>
    }
}
