@namespace AntDesign
@inherits AntDomComponentBase
@typeparam TData

@if (IsHeader)
{
    <th class="@ClassMapper.Class">
        @(Title ?? DisplayName ?? FieldName)
    </th>
}
else
{
    <td class="ant-table-cell">
        @if (CellRender != null)
        {
            @CellRender(Field)
        }
        else if (ChildContent != null)
        {
            @ChildContent
        }
        else
        {
            @Field
        }
    </td>
}
