@namespace AntDesign
@inherits AntDomComponentBase
@typeparam TData

@if (IsPlaceholder)
{
    <td style="padding: 0px; border: 0px; height: 0px;"></td>
}
else if (InColGroup)
{
    if (Width != null)
    {
        <col style="width: @Width; min-width: @Width;">
    }
}
else if (IsHeader)
{
    <th class="ant-table-cell">
        @(Title ?? DisplayName ?? FieldName)
    </th>
}
else
{
    <td class="ant-table-cell">
        @if (CellRender != null)
        {
            @CellRender(Field)
        }
        else if (ChildContent != null)
        {
            @ChildContent
        }
        else
        {
            @Field
        }
    </td>
}
