@namespace AntDesign
@inherits AntDomComponentBase

@if (IsPlaceholder)
{
    <td style="padding: 0px; border: 0px; height: 0px;"></td>
}
else if (InColGroup)
{
    if (Width != null)
    {
        <col style="width: @Width; min-width: @Width;">
    }
}
else if (IsHeader)
{
    <th class="ant-table-cell ant-table-selection-column">
        @if (Type == "checkbox")
        {
            <Checkbox @bind-Checked="Checked" CheckedChange="HandleCheckedChange" Indeterminate="Indeterminate" />
        }
    </th>
}
else
{
    <td class="ant-table-cell ant-table-selection-column">
        @if (Type == "checkbox")
        {
            <Checkbox @bind-Checked="Checked" Disabled="Disabled" CheckedChange="HandleCheckedChange" />
        }
        else if (Type == "radio")
        {
            <Radio @bind-Checked="Checked" Disabled="Disabled" CheckedChange="HandleCheckedChange" />
        }
    </td>
}
