@namespace AntDesign
@inherits TableBase


<div class="@WrapperClassMapper.Class">
  <Spin Spinning="Loading">
    <div class="@ClassMapper.Class" @ref="Ref">
      <table>
        @ChildContent
      </table>
    </div>
  </Spin>
</div>
