@namespace AntDesign
@inherits AntDomComponentBase


<div class="ant-anchor-wrapper" style="max-height: 100vh;">
    <div class="ant-anchor">
        <CascadingValue Value="this">
            @ChildContent
        </CascadingValue>
        @*<div class="ant-anchor-ink">
            <span class="ant-anchor-ink-ball" style="top: 10.5px;">
            </span>
        </div>
        <div class="ant-anchor-link">
            <a title="Basic demo" class="ant-anchor-link-title" href="#components-anchor-demo-basic">Basic demo</a>
        </div>
        <div class="ant-anchor-link">
            <a title="Static demo" class="ant-anchor-link-title" href="#components-anchor-demo-static">Static demo</a>
        </div>
        <div class="ant-anchor-link">
            <a title="Basic demo with Target" class="ant-anchor-link-title" href="#components-anchor-demo-basic" target="_blank">Basic demo with Target</a>
        </div>
        <div class="ant-anchor-link">
            <a title="API" class="ant-anchor-link-title" href="#API">API</a>
            <div class="ant-anchor-link">
                <a title="Anchor Props" class="ant-anchor-link-title" href="#Anchor-Props">Anchor Props</a>
            </div>
            <div class="ant-anchor-link">
                <a title="Link Props" class="ant-anchor-link-title" href="#Link-Props">Link Props</a>
            </div>
        </div>*@
    </div>
</div>