@namespace AntDesign
@inherits AntDomComponentBase


<div class="" style="">
    <div class="ant-anchor-wrapper" style="max-height: 100vh;">
        <div class="ant-anchor">
            <div class="ant-anchor-ink">
                <span class="@_ballClass" style="@_ballStyle">
                </span>
            </div>
            <CascadingValue Value="this">
                @ChildContent
            </CascadingValue>
        </div>
    </div>
</div>