@namespace AntDesign
@inherits AntDomComponentBase


<div class="" style="">
    <div class="ant-anchor-wrapper" style="max-height: 100vh;">
        <div class="ant-anchor">
            <CascadingValue Value="this">
                @ChildContent
            </CascadingValue>
        </div>
    </div>
</div>