<Empty Image='"https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"'
          ImageStyle='@("height: 60px")'
          Description="customDescription">
    <AntButton type="@AntButtonType.Primary">Create Now</AntButton>
</Empty>

@code {
    private RenderFragment customDescription =@<span>Customize <a>Description</a></span>;
}