@namespace AntDesign
@inherits AntDomComponentBase

    <div  class="@ClassMapper.Class" @ref="@Ref"
         @onmouseenter="OnMouseEnter"
         @onmouseleave="OnMouseLeave"
         @onclick="OnClick"        
         id="@Id"        
        role="menuitem">
         @ChildContent
    </div>


