@page "/"
@namespace AntDesign.Docs.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ant Design of Blazor</title>
    <base href="~/" />
    <link rel="icon" href="logo.png" type="image/x-icon">
    @*<link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet">*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2.6.3/dist/cdn/docsearch.min.css" />
    <link href="_content/AntDesign.Docs/css/docs.css" rel="stylesheet">

</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="Server" />
    </app>

    <script src="_content/AntDesign.Charts/g2plot.js"></script>
    <script src="_content/AntDesign.Charts/ant-design-charts-blazor.js"></script>
    <script src="_content/AntDesign/js/ant-design-blazor.js"></script>
    <script src="_content/AntDesign.Docs/js/prism.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <script>
        window.AntDesign.Prism = {};
        window.AntDesign.Prism.highlight = function (code, language) {
            return Prism.highlight(code, Prism.languages[language], language);
        }

        window.AntDesign.Prism.highlightAll = function () {
            Prism.highlightAll();
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/docsearch.js@2.6.3/dist/cdn/docsearch.min.js" integrity="sha256-qybEsgf0PGiQS22AmoozPs09oRnSC7Gu7eBu4fbS2Ac=" crossorigin="anonymous"></script>
    <script src="_content/AntDesign.Docs/js/docsearch.js"></script>
</body>
</html>
