@using Microsoft.AspNetCore.Components.Web
@namespace blazorserver.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <base href="~/" />
  <link rel="icon" href="logo.png" type="image/x-icon">
  <link rel="preconnect" href="https://C9UTAZSOWW-dsn.algolia.net" crossorigin />
  <link rel="stylesheet" href="@("https://fastly.jsdelivr.net/npm/@docsearch/css@3")" />
  <link href="_content/AntDesign.Docs/css/default.css" rel="stylesheet">
  <link antblazor-css />
  <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
  <app>
    @RenderBody()
  </app>
  @{
#if NET5_0_OR_GREATER
  var polyfillPath = "_framework/blazor.polyfill.min.js";
#else
    var polyfillPath = "https://raw.githubusercontent.com/Daddoon/Blazor.Polyfill@3.0.8/Publish/Blazor.Polyfill.Publish/blazor.polyfill.min.js";
#endif
#if NET6_0
  var isNET6 = true;
#else
    var isNET6 = false;
#endif
    if (isNET6)
    {
      <script src="https://polyfill.io/v3/polyfill.min.js?features=ResizeObserver"></script>
    }
  }
  <script src="@polyfillPath"></script>
  <script src="_content/AntDesign.Charts/g2plot.js"></script>
  <script src="_content/AntDesign.Charts/ant-design-charts-blazor.js"></script>
  @* <script src="_content/AntDesign/js/ant-design-blazor.js"></script> *@
  <script src="_content/AntDesign.Docs/js/prism.js"></script>
  <script>
    window.XPrism = {};
    window.XPrism.highlight = function (code, language) {
        return Prism.highlight(code, Prism.languages[language], language);
    }

    window.XPrism.highlightAll = function () {
        Prism.highlightAll();
    }
  </script>
  <script src="@("https://fastly.jsdelivr.net/npm/@docsearch/js@3")"></script>
  <script src="_content/AntDesign.Docs/js/docsearch.js"></script>
  @if (!isNET6)
  {
    <script src="https://polyfill.io/v3/polyfill.min.js?features=ResizeObserver"></script>
  }
  <script antblazor-js></script>
  <script src="_framework/blazor.server.js"></script>
</body>
</html>
