@namespace AntBlazor
@inherits AntDomComponentBase
@using AntBlazor.Internal
@using AntBlazor.core.Internal

<div class="@ClassMapper.Class"
     style="width: fit-content; @Style"
     id="@Id"
     @ref="@Ref"
     @onclick="OnClickDiv"
     @onmouseenter="OnTriggerMouseEnter"
     @onmouseleave="OnTriggerMouseLeave"
     @oncontextmenu="OnTriggerContextmenu"
     @oncontextmenu:preventDefault>
    @ChildContent
</div>

<CascadingValue Value="this" Name="Trigger">
    <Overlay @ref="_overlay"
             OnOverlayMouseEnter="OnOverlayMouseEnter"
             OnOverlayMouseLeave="OnOverlayMouseLeave" />
</CascadingValue>