@layout AntDesign.Docs.Demos.Experimental.ReuseTabs.demo.Layout_

@page "/reuse/title-attribute"
@attribute [ReuseTabsPage(Title = "Page settings")]

<PageTitle>Page settings</PageTitle>

<h1>Page settings</h1>
