@layout AntDesign.Docs.Demos.Experimental.ReuseTabs.demo.Layout_

@page "/reuse/title-attribute"
@attribute [ReuseTabsPage(Title = "Home", Pin = true, Closable = false)]

<PageTitle>Home</PageTitle>

<h1>Home</h1>
