<div class="site-page-header-ghost-wrapper">
    <PageHeader BackIcon="true" Ghost="false">
        <PageHeaderTitle>Title</PageHeaderTitle>
        <PageHeaderSubtitle>This is a subtitle</PageHeaderSubtitle>
        <PageHeaderExtra>
            <Button>Operation</Button>
            <Button>Operation</Button>
            <Button Type="@ButtonType.Primary">Primary</Button>
        </PageHeaderExtra>
        <PageHeaderContent>
            <Descriptions Size="small" Column="3">
                <DescriptionsItem Title="Created" Span="1">Lili Qu</DescriptionsItem>
                <DescriptionsItem Title="Association" Span="1"><a>421421</a></DescriptionsItem>
                <DescriptionsItem Title="Creation Time" Span="1">2017-01-10</DescriptionsItem>
                <DescriptionsItem Title="Effective Time" Span="1">2017-10-10</DescriptionsItem>
                <DescriptionsItem Title="Remarks" Span="2">
                    Gonghu Road, Xihu District, Hangzhou, Zhejiang, China
                </DescriptionsItem>
            </Descriptions>
        </PageHeaderContent>
    </PageHeader>
</div>