<Tooltip Title="@("prompt text (wrapped with div element)")">
    <span>Tooltip will show on mouse enter.</span>
</Tooltip>
<br/>
<Tooltip Title="@("prompt text (not wrapped)")">
    <Unbound>
        <span @ref="@context.Current">Tooltip (unbounded) will show on mouse enter.</span>
    </Unbound>
</Tooltip>
