<Tooltip Title="@("prompt text")">
    <span>Tooltip will show on mouse enter.</span>
</Tooltip>
<br/>
<TooltipUnbound Title="@("prompt text")">
    <span  @ref="@context.Current">Tooltip (div-unbound) will show on mouse enter.</span>
</TooltipUnbound>