<Tooltip Title="@("prompt text")">
    <span>Tooltip (bound to div) will show on mouse enter.</span>
</Tooltip>
<br />
<Tooltip Title="@("prompt text")">
    <Unbound>
        <span @ref="@context.Current">Tooltip (unbound) will show on mouse enter.</span>
    </Unbound>
</Tooltip>