<div>
    <Tooltip Placement="PlacementType.TopLeft" Title="@("Prompt Text")">
        <AntButton>Align edge / 边缘对齐</AntButton>
    </Tooltip>
    <Tooltip Placement="PlacementType.TopLeft" Title="@("Prompt Text")" ArrowPointAtCenter="true">
        <AntButton>Arrow points to center / 箭头指向中心</AntButton>
    </Tooltip>
</div>