@namespace AntDesign
@inherits AntDomComponentBase

<span @ref="Ref">

    @if (Overlay != null)
    {
        <Dropdown>
            <ChildContent>
                <span class="ant-breadcrumb-link">
                    @FormattedChildContent
                </span>
                <Icon Type="down"></Icon>
            </ChildContent>
            <Overlay>
                @Overlay
            </Overlay>
        </Dropdown>
    }
    else
    {
        <span class="ant-breadcrumb-link">
            @FormattedChildContent
        </span>
    }

    @if (BreadCrumb?.Separator != null)
    {
        <span class="ant-breadcrumb-separator">
            @BreadCrumb.Separator
        </span>
    }

</span>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment Overlay { get; set; }

    [Parameter]
    public string Href { get; set; }

    [CascadingParameter]
    public Breadcrumb BreadCrumb { get; set; }


    private RenderFragment FormattedChildContent => Href is null ?
        ChildContent :
    @<Microsoft.AspNetCore.Components.Routing.NavLink href="@Href">@ChildContent</Microsoft.AspNetCore.Components.Routing.NavLink>;
}
