<div>
    <div>
        <Avatar Size="64" Icon="user" />
        <Avatar Size="large" Icon="user" />
        <Avatar Icon="user" />
        <Avatar Size="small" Icon="user" />
    </div>
    <div>
        <Avatar Shape="square" Size="64" Icon="user" />
        <Avatar Shape="square" Size="large" Icon="user" />
        <Avatar Shape="square" Icon="user" />
        <Avatar Shape="square" Size="small" Icon="user" />
    </div>
</div>