@page "/checkbox"

<AntCheckbox checked="@(@checked)"></AntCheckbox>

<div style="border-bottom: 1px solid rgb(233, 233, 233);">
    <AntCheckbox checked="allChecked" indeterminate="indeterminate">
        Check all
    </AntCheckbox>
</div>
<br />
<AntCheckboxGroup options="checkOptionsOne"></AntCheckboxGroup>

@code
{
    bool @checked = true;

    bool allChecked = false;
    bool indeterminate = true;

    CheckBoxOption[] checkOptionsOne = new[]
    {
        new CheckBoxOption {label = "Apple", value = "Apple", @checked = true},
        new CheckBoxOption {label = "Pear", value = "Pear", @checked = false},
        new CheckBoxOption {label = "Orange", value = "Orange", @checked = false}
    };

}