<Space>
    <SpaceItem>
        Space
    </SpaceItem>
    <SpaceItem>
        <Button Type="ButtonType.Primary">Button</Button>
    </SpaceItem>
    <SpaceItem>
        <Button>
            <Icon Type="@IconType.Outline.Upload" /> Click to Upload
        </Button>
    </SpaceItem>
    <SpaceItem>
        <Button>Confirm</Button>
    </SpaceItem>
</Space>
