<Space>
    <SpaceCompact Direction="vertical">
        <Button>Button 1</Button>
        <Button>Button 2</Button>
        <Button>Button 3</Button>
    </SpaceCompact>
    <SpaceCompact Direction="vertical">
        <Button Type="dashed">Button 1</Button>
        <Button Type="dashed">Button 2</Button>
        <Button Type="dashed">Button 3</Button>
    </SpaceCompact>
    <SpaceCompact Direction="vertical">
        <Button Type="primary">Button 1</Button>
        <Button Type="primary">Button 2</Button>
        <Button Type="primary">Button 3</Button>
    </SpaceCompact>
</Space>