<Slider @bind-Value=size />
<br />
<br />
<Space Size="@($"{size}")">
    <SpaceItem>
        <Button Type="@ButtonType.Primary">Primary</Button>
    </SpaceItem>
    <SpaceItem>
        <Button>Default</Button>
    </SpaceItem>
    <SpaceItem>
        <Button Type="@ButtonType.Dashed">Dashed</Button>
    </SpaceItem>
    <SpaceItem>
        <Button Type="@ButtonType.Link">Link</Button>
    </SpaceItem>
</Space>

@code{
    double size = 8;
}