<RadioGroup @bind-Value=@size OnChange="e=> setSize(e)" TValue="string">
    <Radio Value="@SpaceSize.Small">Small</Radio>
    <Radio Value="@SpaceSize.Middle">Middle</Radio>
    <Radio Value="@SpaceSize.Large">Large</Radio>
</RadioGroup>
<br />
<br />
<Space Size=@size>
    <SpaceItem>
        <Button Type="primary">Primary</Button>
    </SpaceItem>
    <SpaceItem>
        <Button>Default</Button>
    </SpaceItem>
    <SpaceItem>
        <Button Type="dashed">Dashed</Button>
    </SpaceItem>
    <SpaceItem>
        <Button Type="link">Link</Button>
    </SpaceItem>
</Space>

@code {
    string size = SpaceSize.Small;
    void setSize(string value)
    {
        size = value;
        StateHasChanged();
    }
}
