<Space Direction="DirectionVHType.Vertical">
    <SpaceItem>
        <Card Title=@("Card") Style="width: 300px;">
            <p>Card content</p>
            <p>Card content</p>
        </Card>
    </SpaceItem>
    <SpaceItem>
        <Card Title=@("Card") Style="width: 300px;">
            <p>Card content</p>
            <p>Card content</p>
        </Card>
    </SpaceItem>
</Space>