<div>
    <Switch OnChange=changeMode /> Change Mode
    <div class="ant-divider ant-divider-vertical" role="separator"></div>
    <Switch OnChange=changeTheme/> Change Style
    <br />
    <br />
    <Menu Style=" width: 256px ;"
          DefaultSelectedKeys=@(new[]{"1"})
          DefaultOpenKeys=@(new[]{"sub1"})
          Mode=this.mode
          Theme=this.theme>
        <MenuItem Key="1">
            <Icon Type="mail" Theme="outline"></Icon>
            Navigation One
        </MenuItem>
        <MenuItem Key="2">
            <Icon Type="calendar" Theme="outline"></Icon>
            Navigation Two
        </MenuItem>
        <SubMenu Key="sub1" TitleTemplate=@sub1Title>
            <MenuItem Key="3">Option 3</MenuItem>
            <MenuItem Key="4">Option 4</MenuItem>
            <SubMenu Key="sub1-2" Title="Submenu">
                <MenuItem Key="5">Option 5</MenuItem>
                <MenuItem Key="6">Option 6</MenuItem>
            </SubMenu>
        </SubMenu>
        <SubMenu Key="sub2" TitleTemplate=@sub2Title>
            <MenuItem Key="7">Option 7</MenuItem>
            <MenuItem Key="8">Option 8</MenuItem>
            <MenuItem Key="9">Option 9</MenuItem>
            <MenuItem Key="10">Option 10</MenuItem>
        </SubMenu>
    </Menu>
</div>

@code {

    RenderFragment sub1Title =
        @<span>
            <Icon Type="appstore" Theme="outline"></Icon>
            Navigation Three
        </span>;

    RenderFragment sub2Title =
        @<span>
            <Icon Type="setting" Theme="outline"></Icon>
            Navigation Four
        </span>;

    MenuMode mode = MenuMode.Inline;
    MenuTheme theme = MenuTheme.Light;

    void changeMode(bool value)
    {
        this.mode = value ? MenuMode.Vertical : MenuMode.Inline;
    }

    void changeTheme(bool value)
    {
        this.theme = value ? MenuTheme.Dark : MenuTheme.Light;
    }

}