<div>
    <Switch Checked="_theme == MenuTheme.Dark" OnChange="ChangeTheme" CheckedChildren=@("Dark") UnCheckedChildren=@("Light") />
    <br />
    <br />
    <Menu Theme="_theme"
          OnMenuItemClicked="HandleClick"
          Style=" width: 256px "
          DefaultOpenKeys=@(new []{"sub1"})
          SelectedKeys="@(new []{_current})"
          Mode="MenuMode.Inline">
        <SubMenu Key="sub1" TitleTemplate="@_sub1Title">
            <MenuItem Key="1">Option 1</MenuItem>
            <MenuItem Key="2">Option 2</MenuItem>
            <MenuItem Key="3">Option 3</MenuItem>
            <MenuItem Key="4">Option 4</MenuItem>
        </SubMenu>
        <SubMenu Key="sub2" TitleTemplate="@_sub2Title">
            <MenuItem Key="5">Option 5</MenuItem>
            <MenuItem Key="6">Option 6</MenuItem>
            <SubMenu Key="sub3" Title="Submenu">
                <MenuItem Key="7">Option 7</MenuItem>
                <MenuItem Key="8">Option 8</MenuItem>
            </SubMenu>
        </SubMenu>
        <SubMenu Key="sub4" TitleTemplate="@_sub4Title">
            <MenuItem Key="9">Option 9</MenuItem>
            <MenuItem Key="10">Option 10</MenuItem>
            <MenuItem Key="11">Option 11</MenuItem>
            <MenuItem Key="12">Option 12</MenuItem>
        </SubMenu>
    </Menu>
</div>

@code {
    private readonly RenderFragment _sub1Title = @<span>
                                                     <Icon Type="mail" Theme="outline"></Icon>
                                                     <span>Navigation One</span>
                                                 </span>;

    private readonly RenderFragment _sub2Title = @<span>
                                                     <Icon Type="appstore" Theme="outline"></Icon>
                                                     <span>Navigation Two</span>
                                                 </span>;

    private readonly RenderFragment _sub4Title = @<span>
                                                     <Icon Type="setting" Theme="outline"></Icon>
                                                     <span>Navigation Three</span>
                                                 </span>;

    private MenuTheme _theme = MenuTheme.Dark;
    string _current = "1";

    void ChangeTheme(bool value)
    {
        _theme = value ? MenuTheme.Dark : MenuTheme.Light;
    }

    void HandleClick(MenuItem e)
    {
        _current = e.Key;
    }
}
