<Result
    Status="error"
    Title=@("Submission Failed")
    SubTitle=@("Please check and modify the following information before resubmitting.")
    Extra=extra
>
<div class="desc">
    <AntParagraph>
        <AntText Strong Style="font-size: 16px;">
            The content you submitted has the following error:
        </AntText>
    </AntParagraph>
    <AntParagraph>
        <AntIcon Type="close-circle" Theme="Outline" Class="site-result-demo-error-icon" /> Your account has been frozen
        <a>Thaw immediately &gt;</a>
    </AntParagraph>
    <AntParagraph>
        <AntIcon Type="close-circle" Theme="Outline" Class="site-result-demo-error-icon" /> Your account is not yet
        eligible to apply <a>Apply Unlock &gt;</a>
    </AntParagraph>
</div>
</Result>

@code {
    RenderFragment extra =
        @<Template>
            <AntButton Type="primary">Go Console</AntButton>
            <AntButton>Buy Again</AntButton>
        </Template>
        ;
}
