<div>
    <Carousel Effect="@CarouselEffect.Fade">
        <CarouselSlick>
            <h3>1</h3>
        </CarouselSlick>
        <CarouselSlick>
            <h3>2</h3>
        </CarouselSlick>
        <CarouselSlick>
            <h3>3</h3>
        </CarouselSlick>
        <CarouselSlick>
            <h3>4</h3>
        </CarouselSlick>
    </Carousel>
</div>
