@using Microsoft.AspNetCore.Components.Rendering

<Splitter Style="height: 200px; box-shadow:0 0 10px rgba(0, 0, 0, 0.1)">
    <SplitterPanel Collapsible>
        @Desc(1)
    </SplitterPanel>
    <SplitterPanel Collapsible>
        @Desc(2)
    </SplitterPanel>
    <SplitterPanel>
        @Desc(3)
    </SplitterPanel>
</Splitter>

@code {
    RenderFragment Desc(int text) => b => RenderDesc(b, text);

    void RenderDesc(RenderTreeBuilder __builder, int text)
    {
        <Flex Justify="FlexJustify.Center" align="FlexAlign.Center" Style="height: 100%">
            <Title Type="TextElementType.Secondary" Level="5" Style="white-space: nowrap">
                Panel @text
            </Title>
        </Flex>
    }
}