<div>
    <span class="avatar-item">
        <AntBadge Count="1">
            <AntAvatar shape="square" icon="user" />
        </AntBadge>
    </span>
    <span>
        <AntBadge Dot>
            <AntAvatar shape="square" icon="user"/>
        </AntBadge>
    </span>
</div>