<div>
    <span class="avatar-item">
        <Badge Count="1">
            <AntAvatar Shape="square" Icon="user" />
        </Badge>
    </span>
    <span>
        <Badge Dot>
            <AntAvatar Shape="square" Icon="user"/>
        </Badge>
    </span>
</div>