<div>
    <span class="avatar-item">
        <AntBadge Count="1">
            <AntAvatar Shape="square" Icon="user" />
        </AntBadge>
    </span>
    <span>
        <AntBadge Dot>
            <AntAvatar Shape="square" Icon="user"/>
        </AntBadge>
    </span>
</div>