<div>
    <div>
        <AntAvatar Size="64" Icon="user" />
        <AntAvatar Size="large" Icon="user" />
        <AntAvatar Icon="user" />
        <AntAvatar Size="small" Icon="user" />
    </div>
    <div>
        <AntAvatar Shape="square" Size="64" Icon="user" />
        <AntAvatar Shape="square" Size="large" Icon="user" />
        <AntAvatar Shape="square" Icon="user" />
        <AntAvatar Shape="square" Size="small" Icon="user" />
    </div>
</div>