<div>
    <div>
        <AntAvatar size="64" icon="user" />
        <AntAvatar size="large" icon="user" />
        <AntAvatar icon="user" />
        <AntAvatar size="small" icon="user" />
    </div>
    <div>
        <AntAvatar shape="square" size="64" icon="user" />
        <AntAvatar shape="square" size="large" icon="user" />
        <AntAvatar shape="square" icon="user" />
        <AntAvatar shape="square" size="small" icon="user" />
    </div>
</div>