<Rate @bind-Value="_value" Tooltips="@_descriptions" />
<span class="ant-rate-text">@(_descriptions[(int)_value-1])</span>

@code {
    private readonly string[] _descriptions = { "terrible", "bad", "normal", "good", "wonderful" };
    private decimal _value = 3M;
}
