@namespace AntDesign.Docs.Demos.Drawer.demo
@inherits DrawerTemplate<string>

<div>
    <h3>DrawerComponentTemplate</h3>
    <p>@Config</p>
    <AntDesign.Button Type="primary" OnClick="base.HandleClose">CloseDrawer</AntDesign.Button>
</div>
