@namespace AntDesign.Docs.Demos.Drawer.demo
@inherits DrawerTemplate<string, string>

<div>
    <h3>DrawerComponentTemplate</h3>
    <Input @bind-Value="value" />
    <AntDesign.Button Type="primary" OnClick="OnClose">CloseDrawer</AntDesign.Button>
</div>

@code{

    string value;

    protected override void OnInitialized()
    {
        value = this.Config;
        base.OnInitialized();
    }


    async void OnClose()
    {
        await this.CloseAsync(value);
    }
}