textarea.antblazor-textarea-autosize-measuring {
  height: auto !important;
  overflow: hidden !important;
  // Having 2px top and bottom padding seems to fix a bug where Chrome gets an incorrect
  // measurement. We just have to account for it later and subtract it off the final result.
  padding: 2px 0 !important;
}

.@{search-prefix} {
  &-enter-button {
    & + .@{ant-prefix}-input-group-addon,
    input + .@{ant-prefix}-input-group-addon {
      .@{search-rtl-cls}& {
        .@{search-prefix}-button.@{ant-prefix}-btn-icon-only {
          .square(@btn-height-base);

          &.@{ant-prefix}-btn-sm{
            .square(@btn-height-sm);
          }
          &.@{ant-prefix}-btn-lg{
            .square(@btn-height-lg);
          }
        }
      }
    }
  }
}

// Suggestion styles
.@{ant-prefix}-input-suggestion-wrapper {
  position: relative;
  display: inline-flex;
  width: 100%;
}

.@{ant-prefix}-input-suggestion {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #bfbfbf;
  pointer-events: none;
  background: transparent;
  box-sizing: border-box;
  padding: @input-padding-vertical-base @input-padding-horizontal-base;
  display: flex;
  align-items: flex-start;
  font: inherit;
  white-space: pre-wrap;
  z-index: 1;
}

.@{ant-prefix}-input-suggestion-hidden {
  visibility: hidden;
  white-space: pre-wrap;
}

.@{ant-prefix}-input-suggestion-text {
  color: #bfbfbf;
  white-space: pre-wrap;
}