<div>
    <Text>Ant Design</Text>
    <br />
    <Text Type="TextElementType.Secondary">Ant Design</Text>
    <br />
    <Text Type="TextElementType.Success">Ant Design</Text>
    <br />
    <Text Type="TextElementType.Warning">Ant Design</Text>
    <br />
    <Text Type="TextElementType.Danger">Ant Design</Text>
    <br />
    <Text Disabled>Ant Design</Text>
    <br />
    <Text Mark>Ant Design</Text>
    <br />
    <Text Code>Ant Design</Text>
    <br />
    <Text Keyboard>Ant Design</Text>
    <br />
    <Text Underline>Ant Design</Text>
    <br />
    <Text Delete>Ant Design</Text>
    <br />
    <Text Strong>Ant Design</Text>
</div>

