@namespace AntDesign
@inherits AntDomComponentBase
@typeparam TItem

<div class="@ClassMapper.Class" style="@Style">
    <div class="ant-tree-list">
        <div class="ant-tree-list-holder-inner">
            <CascadingValue Value="this" Name="Tree">
                @if (DataSource != null)
                {
                    foreach (var item in DataSource)
                    {
                        <TreeNode DataItem="@item" TItem="TItem"></TreeNode>
                    }
                }
                else
                {
                    @Nodes
                }
            </CascadingValue>
        </div>
    </div>
</div>