
<Row Gutter="16">
    <Col Span="12">
        <Statistic Title="Active Users" Value="112893" />
    </Col>
    <Col Span="12">
        <Statistic Title="Account Balance (CNY)" Value="112893" Precision="2"/>
        <Button Style="margin-top: 16px;" Type="primary">
            Recharge
        </Button>
    </Col>
</Row>
