<Row Gutter="16">
    <Col Span="12">
        <CountDown Title="Countdown" Value="@deadline" OnFinish="OnFinish" />
    </Col>
    <Col Span="12">
        <CountDown Title="Million" Value="@deadline" Format="hh:mm:ss:fff" />
    </Col>
    <Col Span="24">
        <CountDown Title="Day Level" Value="@deadline" Format="dd 天  h 小时 m 分钟 s 秒" />
    </Col>
    <br/>
    <Button OnClick="OnReset">Reset Value</Button>
</Row>

@code
{
    DateTime deadline = DateTime.Now.AddMilliseconds(1000 * 60 * 60 * 24 * 2 + 1000 * 30);

    void OnFinish()
    {
        Console.WriteLine("finished!");
    }

    void OnReset()
    {
        deadline = DateTime.Now.AddMinutes(10);
    }
}