@namespace AntDesign
@inherits AntDomComponentBase

<div class="@ClassMapper.Class" style="@Style">

    @if (AvatarTemplate != null)
    {
        <div class="ant-list-item-meta-avatar">
            @AvatarTemplate
        </div>
    }
    else if (Avatar == null)
    {
        <div class="ant-list-item-meta-avatar">
            <Avatar Src="@Avatar"></Avatar>
        </div>
    }

    <div class="ant-list-item-meta-content">
        <div>
            <h4 class="ant-list-item-meta-title">
                @Title
            </h4>
        </div>
        <div class="ant-list-item-meta-description">
            @Description
        </div>
    </div>
</div>

