<Tabs @bind-ActiveKey="@activeKey" OnChange="OnTabChange" Animated>
	  <TabPane Key="1">
          <TabTemplate>
            @tab
          </TabTemplate>
   <ChildContent>
            Content of Tab Pane 1
   </ChildContent>
    </TabPane>
    <TabPane Tab="Tab 2" Key="2">
        Content of Tab Pane 2
    </TabPane>
    <TabPane Tab="Tab 3" Key="3">
      Content of Tab Pane 3
    </TabPane>
</Tabs>

<Button OnClick="OnClick">Click</Button>

@code{
    string activeKey { get; set; } = "1";

    string tab = "tab1";

    void OnClick()
    {
        tab += tab;
    }

    void OnTabChange(string key)
    {
        Console.WriteLine($"tab change:{key}");
    }
}
