<Tabs DefaultActiveKey="2">
    <TabPane Key="1">
        <TabTemplate>
            <span><Icon Type="android" />Tab 1</span>
        </TabTemplate>
        <ChildContent>Tab 1</ChildContent>
    </TabPane>
    <TabPane Key="2">
        <TabTemplate>
            <span><Icon Type="apple" />Tab 2</span>
        </TabTemplate>
        <ChildContent>Tab 2</ChildContent>
    </TabPane>
</Tabs>