<div>
    <RadioGroup @bind-Value="mode" Style="margin-bottom: 8px;">
        <Radio RadioButton Value="@TabPosition.Top">Horizontal</Radio>
        <Radio RadioButton Value="@TabPosition.Left">Vertical</Radio>
    </RadioGroup>
    <Tabs DefaultActiveKey="0" TabPosition="@mode" Style="height: 220px;">
        @for (int i = 0; i < 30; i++)
        {
            var key = $"{i}";
            <TabPane Key="@key" Tab=@($"Tab-{@key}")>
                Content of tab Pane @key
            </TabPane>
        }
    </Tabs>
</div>

@code {
    private TabPosition mode = TabPosition.Top;
}
