<Layout>
    <Sider Breakpoint="@BreakpointType.Lg"
           CollapsedWidth="64"
           @bind-Collapsed=@collapsed
         >
        <div class="logo" />
        <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Inline" DefaultSelectedKeys=@(new[]{"4"})>
            <MenuItem Key="1">
                <Icon Type="user" Theme="outline" />
                <span class="nav-text">nav 1</span>
            </MenuItem>
            <MenuItem Key="2">
                <Icon Type="video-camera" Theme="outline" />
                <span class="nav-text">nav 2</span>
            </MenuItem>
            <MenuItem Key="3">
                <Icon Type="upload" Theme="outline" />
                <span class="nav-text">nav 3</span>
            </MenuItem>
            <MenuItem Key="4">
                <Icon Type="user" Theme="outline" />
                <span class="nav-text">nav 4</span>
            </MenuItem>
        </Menu>
    </Sider>
    <Layout>
        <Header Class="site-layout-sub-header-background" Style="padding: 0;" ></Header>
        <Content Style=" margin: 24px 16px 0;">
            <div class="site-layout-background" style="padding: 24px; min-height: 360px">
                content
            </div>
        </Content>
        <Footer Style="text-align: center;">Ant Design ©2018 Created by Ant UED</Footer>
    </Layout>
</Layout>

@code{
    bool collapsed;
}

<style>
    #components-layout-demo-responsive .logo {
        height: 32px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px;
    }

    .site-layout-sub-header-background {
        background: #fff;
    }

    .site-layout-background {
        background: #fff;
    }
</style>