<Layout Style="min-height: 100vh; ">
    <Sider Collapsible>
        <div class="logo" />
        <Menu Theme="MenuTheme.Dark" DefaultSelectedKeys=@(new[]{"1"}) Mode="MenuMode.Inline">
            <MenuItem Key="1">
                <Icon Type="pie-chart" Theme="outline" />
                <span>Option 1</span>
            </MenuItem>
            <MenuItem Key="2">
                <Icon Type="desktop" Theme="outline" />
                <span>Option 2</span>
            </MenuItem>
            @{
                RenderFragment sub1Title =
                    @<span>
                        <Icon Type="user" Theme="outline"/>
                        <span>User</span>
                    </span>;
            }
            <SubMenu Key="sub1" TitleTemplate=sub1Title>
                <MenuItem Key="3">Tom</MenuItem>
                <MenuItem Key="4">Bill</MenuItem>
                <MenuItem Key="5">Alex</MenuItem>
            </SubMenu>
            @{
                RenderFragment sub2Title =
                    @<span>
                        <Icon Type="team" Theme="outline"/>
                        <span>Team</span>
                    </span>;
            }
            <SubMenu Key="sub2" TitleTemplate=sub2Title>
                <MenuItem Key="6">Team 1</MenuItem>
                <MenuItem Key="8">Team 2</MenuItem>
            </SubMenu>
            <MenuItem Key="9">
                <Icon Type="file" Theme="outline"/>
            </MenuItem>
        </Menu>
    </Sider>
    <Layout Class="site-layout" >
        <Header Class="site-layout-background" Style=" padding: 0 ;" ></Header>
        <Content Style="margin:0 16px;" >
            <Breadcrumb Style="margin:16px 0;">
                <BreadcrumbItem>User</BreadcrumbItem>
                <BreadcrumbItem>Bill</BreadcrumbItem>
            </Breadcrumb>
            <div class="site-layout-background" style="padding: 24; min-height: 360px">
                Bill is a cat.
            </div>
        </Content>
        <Footer Style="text-align:center ">Ant Design ©2018 Created by Ant UED</Footer>
    </Layout>
</Layout>


<style>
    #components-layout-demo-side .logo {
        height: 32px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px;
    }

    .site-layout .site-layout-background {
        background: #fff;
    }
</style>