<div>
    <AntDesign.Input DefaultValue="mysite">
        <AddOnBefore>https://</AddOnBefore>
        <AddOnAfter>.com</AddOnAfter>
    </AntDesign.Input>    
    <br />
    <br />
    <AntDesign.Input DefaultValue="mysite">
        <AddOnAfter><Icon type="setting"></Icon></AddOnAfter>
    </AntDesign.Input>
    <br />
    <br />
    <AntDesign.Input DefaultValue="mysite">
        <AddOnBefore>https://</AddOnBefore>
    </AntDesign.Input>

</div>
