<div>
    <AntInput DefaultValue="mysite">
        <AddOnBefore>https://</AddOnBefore>
        <AddOnAfter>.com</AddOnAfter>
    </AntInput>
    <div style="margin: 24px 0" />
    <AntInput DefaultValue="mysite">
        <AddOnAfter><AntIcon type="setting"></AntIcon></AddOnAfter>
    </AntInput>
    <div style="margin: 24px 0" />
    <AntInput DefaultValue="mysite">
        <AddOnBefore>https://</AddOnBefore>
    </AntInput>

</div>
