<div>
    <AntInput DefaultValue="mysite">
        <AddOnBefore>https://</AddOnBefore>
        <AddOnAfter>.com</AddOnAfter>
    </AntInput>
    <br />
    <br />
    <AntInput DefaultValue="mysite">
        <AddOnAfter><AntIcon type="setting"></AntIcon></AddOnAfter>
    </AntInput>
    <br />
    <br />
    <AntInput DefaultValue="mysite">
        <AddOnBefore>https://</AddOnBefore>
    </AntInput>

</div>
