<div>
    <AntBlazor.Input DefaultValue="mysite">
        <AddOnBefore>https://</AddOnBefore>
        <AddOnAfter>.com</AddOnAfter>
    </AntBlazor.Input>
    <br />
    <br />
    <AntBlazor.Input DefaultValue="mysite">
        <AddOnAfter><AntIcon type="setting"></AntIcon></AddOnAfter>
    </AntBlazor.Input>
    <br />
    <br />
    <AntBlazor.Input DefaultValue="mysite">
        <AddOnBefore>https://</AddOnBefore>
    </AntBlazor.Input>

</div>
