<div>
    <AntDesign.Input DefaultValue="mysite">
        <AddOnBefore>https://</AddOnBefore>
        <AddOnAfter>.com</AddOnAfter>
    </AntDesign.Input>
    <br />
    <br />
    <AntDesign.Input DefaultValue="mysite">
        <AddOnAfter><AntIcon type="setting"></AntIcon></AddOnAfter>
    </AntDesign.Input>
    <br />
    <br />
    <AntDesign.Input DefaultValue="mysite">
        <AddOnBefore>https://</AddOnBefore>
    </AntDesign.Input>

</div>
