<div>
    <Input DefaultValue="mysite">
        <AddOnBefore>https://</AddOnBefore>
        <AddOnAfter>.com</AddOnAfter>
    </Input>
    <br />
    <br />
    <Input DefaultValue="mysite">
        <AddOnAfter><AntIcon type="setting"></AntIcon></AddOnAfter>
    </Input>
    <br />
    <br />
    <Input DefaultValue="mysite">
        <AddOnBefore>https://</AddOnBefore>
    </Input>

</div>
