<div>
    <AntTextArea Placeholder="Autosize height based on content lines" AutoSize="true"></AntTextArea>
    <div style="margin: 24px 0" />
    <AntTextArea Placeholder="Autosize height based on content lines" MinRows="2" MaxRows="6"></AntTextArea>
    <div style="margin: 24px 0" />
    <AntTextArea Placeholder="Autosize height based on content lines" MinRows="3" MaxRows="5" Value="@textValue">

    </AntTextArea>
</div>

@code{
    string textValue { get; set; }
}
