<div>
    <AntBlazor.TextArea Placeholder="Autosize height based on content lines" AutoSize="true" @bind-Value="@txtValue"/>
    <br />
    <br />
    <AntBlazor.TextArea Placeholder="Autosize height based on content lines" MinRows="2" MaxRows="6" @bind-Value="@txtValue"/>
    <br />
    <br />
    <AntBlazor.TextArea Placeholder="Autosize height based on content lines" MinRows="3" MaxRows="5" @bind-Value="@txtValue"/>
</div>

@code{
    string txtValue { get; set; }
}
