<div>    
    <Input Placeholder="input with clear icon" AllowClear="true" OnChange="onChange" />
    <br />
    <br />
    <TextArea Placeholder="textarea with clear icon"  AllowClear="true" OnChange="onChange" />
</div>
@code{

    private void onChange()
    {
       
    }
}