<div>
    <InputGroup Size="@InputSize.Large">
        <AntRow Gutter="8">
            <AntCol Span="5">
                <Input DefaultValue="0571"  @bind-Value="code" />
            </AntCol>
            <AntCol Span="8">
                <Input DefaultValue="26888888" @bind-Value="phonenumber" />
            </AntCol>
        </AntRow>
    </InputGroup>
    <br />
    <br />
    <InputGroup Compact>
        <Input DefaultValue="0571" Style="width: 20%;"  @bind-Value="code" />
        <Input DefaultValue="26888888" Style="width: 30%;"  @bind-Value="phonenumber" />
    </InputGroup>
    <br />
    <br />
    <InputGroup Compact>
        <Input DefaultValue="0571" Style="width: 20%;" @bind-Value="code" /> 
        <Search DefaultValue="26888888" Style="width: 30%;" @bind-Value="phonenumber" />
    </InputGroup>
    <br />
    <br />
    <InputGroup Compact>
        <Input DefaultValue="0571" Style="width: 20%;" />
        <DatePicker Size="@DatePickerSize.Small" Style="width: 100%"></DatePicker>
    </InputGroup>
</div>


@code{
    private string code { get; set; }
    private string phonenumber { get; set; }
}
