<div>
    <AntInputGroup Size="@AntInputSize.Large">
        <AntRow Gutter="8">
            <AntCol Span="5">
                <AntInput DefaultValue="0571" />
            </AntCol>
            <AntCol Span="8">
                <AntInput DefaultValue="26888888" />
            </AntCol>
        </AntRow>
    </AntInputGroup>

    <br />
    <br />
    <AntInputGroup Compact>
        <AntInput DefaultValue="0571" Style="width: 20%;" />
        <AntInput DefaultValue="26888888" Style="width: 30%;" />
    </AntInputGroup>

    <br />
    <br />
    <AntInputGroup Compact>
        <AntInput DefaultValue="0571" Style="width: 20%;" />
        <AntSearch DefaultValue="26888888" Style="width: 30%;" />
    </AntInputGroup>

    <br />
    <br />

    <AntInputGroup Compact>
        <AntInput DefaultValue="0571" Style="width: 20%;" />
        <DatePicker Size="@DatePickerSize.Small" Style="width: 100%"></DatePicker>
    </AntInputGroup>
</div>
