<div>
    <AntBlazor.Input Placeholder="Prefix and Suffix" DefaultValue="123">
        <Prefix>
            <AntIcon Type="user" />
        </Prefix>
    </AntBlazor.Input>
    <br />
    <br />
    <AntBlazor.Input Placeholder="default size">
    <Prefix> ￥ </Prefix>
    <Suffix>RMB </Suffix>
    </AntBlazor.Input>
</div>
