<div>
    <AntDesign.Input Placeholder="Prefix and Suffix" DefaultValue="123" @bind-Value="@txtValue" >
        <Prefix>
            <AntIcon Type="user" />
        </Prefix>
    </AntDesign.Input>
    <br />
    <br />
    <AntDesign.Input Placeholder="default size" @bind-Value="@txtValue">
    <Prefix> ￥ </Prefix>
    <Suffix>RMB </Suffix>
    </AntDesign.Input>
</div>

@code {
    private string txtValue { get; set; }
}
