<div>
    <AntInput Placeholder="Prefix and Suffix" DefaultValue="123">
        <Prefix>
            <AntIcon Type="user" />
        </Prefix>
    </AntInput>
    <div style="margin: 24px 0" />
    <AntInput Placeholder="default size">
        <Prefix>
            <AntIcon Type="￥" />
        </Prefix>
        <Suffix>
            RMB
        </Suffix>
    </AntInput>
</div>
