<div>
    <AntBlazor.Input Placeholder="large size" DefaultValue="123" Size="@InputSize.Large">
        <Prefix>
            <AntIcon Type="user" />
        </Prefix>
    </AntBlazor.Input>
    <br />
    <br />
    <AntBlazor.Input Placeholder="default size">
        <Prefix>
            <AntIcon Type="user" />
        </Prefix>
    </AntBlazor.Input>
    <br />
    <br />
    <AntBlazor.Input Placeholder="small size" Size="@InputSize.Small">
        <Prefix>
            <AntIcon Type="user" />
        </Prefix>
    </AntBlazor.Input>
    <br />
    <br />
    <InputPassword @bind-Value="@_password" Placeholder="large Password" Size="@InputSize.Large" OnPressEnter="(e)=>Submit(e)" />
</div>
@code{
    private string _password;
    private void Submit(KeyboardEventArgs args)
    {
        Console.WriteLine($"password: {_password}");
    }
}