<div>
    <Steps Current="_current" OnChange="OnChange">
        <Step Title="Step 1" Description="This is a description." />
        <Step Title="Step 2" Description="This is a description." />
        <Step Title="Step 3" Description="This is a description." />
    </Steps>

    <Divider />

    <Steps Current="_current" OnChange="OnChange" Direction="vertical">
        <Step Title="Step 1" Description="This is a description." />
        <Step Title="Step 2" Description="This is a description." />
        <Step Title="Step 3" Description="This is a description." />
    </Steps>
</div>

@code {
    private int _current;

    private void OnChange(int current)
    {
        _current = current;
    }
}