<Steps Current=1 ProgressDot=@customDot>
    <Step Title="Finished" Description="You can hover on the dot." />
    <Step Title="In Progress" Description="You can hover on the dot." />
    <Step Title="Waiting" Description="You can hover on the dot." />
    <Step Title="Waiting" Description="You can hover on the dot." />
</Steps>

@code
{
    RenderFragment customDot = @<span>
                                   step {index} status: {status}
                               </span>;
}
