<div>
    <Steps>
        <Step Status="@StepsStatus.Finish" Title="Login" Icon="user" />
        <Step Status="@StepsStatus.Finish" Title="Verification" Icon="solution"  />
        <Step Status="@StepsStatus.Process" Title="Pay" Icon="loading" />
        <Step Status="@StepsStatus.Wait" Title="Done" Icon="smile"/>
    </Steps>
</div>