<div>
    <Steps>
        <Step Status="StepsStatus.Finish" Title="Login" Icon="@IconType.Outline.User" />
        <Step Status="StepsStatus.Finish" Title="Verification" Icon="@IconType.Outline.Solution"  />
        <Step Status="StepsStatus.Process" Title="Pay" Icon="@IconType.Outline.Loading" />
        <Step Status="StepsStatus.Wait" Title="Done" Icon="@IconType.Outline.Smile"/>
    </Steps>
</div>