<div>
    <Steps ShowProgressDot Current="1">
        <Step Title="Finished" Description="This is a description." />
        <Step Title="In Progress" Description="This is a description." />
        <Step Title="Waiting" Description="This is a description." />
    </Steps>
    <Divider />
    <Steps ShowProgressDot Current="1" Direction="vertical">
        <Step Title="Finished" Description="This is a description. This is a description." />
        <Step Title="Finished" Description="This is a description. This is a description." />
        <Step Title="In Progress" Description="This is a description. This is a description." />
        <Step Title="Waiting" Description="This is a description." />
        <Step Title="Waiting" Description="This is a description." />
    </Steps>
</div>