<div>
    <Tooltip Placement="Placement.TopLeft" Title="Prompt Text">
        <Button>Align edge / 边缘对齐</Button>
    </Tooltip>
    <Tooltip Placement="Placement.TopLeft" Title="Prompt Text" ArrowPointAtCenter="true">
        <Button>Arrow points to center / 箭头指向中心</Button>
    </Tooltip>
</div>