<AutoComplete @bind-Value="@_value" Options="@_options" OnSelectionChange="OnSelectionChange" OnActiveChange="OnActiveChange" Placeholder="input here"/>
<Divider></Divider>
<span>bind-Value:@_value</span>
<br />
<span>SelectedValue:@_selectItem?.Value</span>
<br />
<span>ActiveValue:@_activeItem?.Value</span>

@code
{ 
    private string _value;

    private readonly List<string> _options = new()
    {
        "Beijing","Shanghai","Guangzhou","Shenzhen","Chongqing","Wuhan"
    };
    
    private AutoCompleteOption _selectItem;

    void OnSelectionChange(AutoCompleteOption item)
    {
        _selectItem = item;
    }

    private AutoCompleteOption _activeItem;

    void OnActiveChange(AutoCompleteOption item)
    {
        _activeItem = item;
    }
}