<span>Contains</span>
<AutoComplete  Options="@_options" FilterExpression="@((option,value)=>option.Label.Contains(value??"", StringComparison.InvariantCultureIgnoreCase))" />
<span>StartsWith</span>
<AutoComplete  Options="@_options" FilterExpression="@((option,value)=>option.Label.StartsWith(value??"", StringComparison.InvariantCultureIgnoreCase))" />

@code {
    private readonly List<string> _options = new() { "Burns Bay Road", "Downing Street", "Wall Street" };
}