<span>Contains</span>
<AutoComplete  Options="@options" FilterExpression="@((option,value)=>option.Label.Contains(value??"", StringComparison.InvariantCultureIgnoreCase))" />
<span>StartsWith</span>
<AutoComplete  Options="@options" FilterExpression="@((option,value)=>option.Label.StartsWith(value??"", StringComparison.InvariantCultureIgnoreCase))" />

@code
{
    private List<string> options = new List<string>() { "Burns Bay Road", "Downing Street", "Wall Street" };
}