<Divider>Input</Divider>
<AutoComplete Options="@_options">
    <AutoCompleteInput Placeholder="input here" @bind-Value="@_inputValue" />
</AutoComplete>
<br />
<span>bind-Value:@_inputValue</span>

<Divider>Search</Divider>
<AutoComplete Options="@_options">
    <AutoCompleteSearch Placeholder="input here" @bind-Value="@_searchValue" />
</AutoComplete>
<br />
<span>bind-Value:@_searchValue</span>

@code {
    private string _inputValue;
    private string _searchValue;

    private readonly List<string> _options = new(){
        "Beijing","Shanghai","Guangzhou","Shenzhen","Chongqing","Wuhan"
    };
}
