<div>
    <AutoComplete @bind-Value="@_value" Options="@_options" OptionFormat='x => $"{x.Value} City"' />
</div>
<Divider></Divider>
<span>bind-Value:@_value</span>

@code {
    private string _value;

    private readonly List<string> _options = new()
    {
        "Beijing","Shanghai","Guangzhou","Shenzhen","Chongqing","Wuhan"
    };

}