<div style="margin: 10px; overflow: scroll; height: 200px">
    <div style="padding: 100px; height: 1000px; background: #eee; position: relative " id="area">
        <AutoComplete PopupContainerSelector="#area"
                      @bind-Value="@value"
                      Options="@options"
                      BoundaryAdjustMode="@TriggerBoundaryAdjustMode.InScroll"/>
    </div>
</div>

@code
{
    private string value;

    List<string> options = new List<string>(){
        "Beijing","Shanghai","Guangzhou","Shenzhen","Chongqing","Wuhan"
    };

}