<AntList DataSource="@data" TItem="BasicItem">
    <Item Context="item">
        <AntListItemMeta  Avatar="avatar" Description="Ant Design, a design language for background applications, is refined by Ant UED Team">
            <Title>
                <a href="https://ng.ant.design">@item.Title</a>
            </Title>
        </AntListItemMeta>
    </Item>
</AntList>


@code{

    RenderFragment avatar = @<Avatar Src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></Avatar>;

    public class BasicItem
    {
        public string Title { get; set; }
    }

    public List<BasicItem> data = new List<BasicItem>
    {
        new BasicItem { Title = "Ant Design Title 1"},
        new BasicItem { Title = "Ant Design Title 2"},
        new BasicItem { Title = "Ant Design Title 3"},
        new BasicItem { Title = "Ant Design Title 4"},
    };
}

