<Divider Orientation="left">Default Size</Divider>

<AntList DataSource="@data">
    <Header>Header</Header>
    <Item Context="item">
        <span><mark>[ITEM]</mark></span>@item
    </Item>
    <Footer>Footer</Footer>
</AntList>

<Divider Orientation="left">Small Size</Divider>

<AntList DataSource="@data" Size="small">
    <Header>Header</Header>
    <Item Context="item">
        <span><mark>[ITEM]</mark></span>@item
    </Item>
    <Footer>Footer</Footer>
</AntList>

<Divider Orientation="left">Large Size</Divider>

<AntList DataSource="@data" Size="large">
    <Header>Header</Header>
    <Item Context="item">
        <span><mark>[ITEM]</mark></span>@item
    </Item>
    <Footer>Footer</Footer>
</AntList>

@code{

    public List<string> data = new List<string>
    {
        "Racing car sprays burning fuel into crowd.",
        "Japanese princess to wed commoner.",
        "Australian walks 100km after outback crash.",
        "Man charged over missing wedding girl.",
        "Los Angeles battles huge wildfires."
    };
}
