<style>
    .ant-progress-circle-wrap,
    .ant-progress-line-wrap {
        margin-right: 8px;
        margin-bottom: 5px;
    }
</style>

<div>
    <Progress Type="ProgressType.Circle" Percent=75 />
    <Progress Type="ProgressType.Circle" Percent=70 Status="ProgressStatus.Exception" />
    <Progress Type="ProgressType.Circle" Percent=100 />
</div>