<div>
    <Progress StrokeLinecap=ProgressStrokeLinecap.Square Percent=75 />
    <Progress StrokeLinecap=ProgressStrokeLinecap.Square Type=ProgressType.Circle Percent=75 />
    <Progress StrokeLinecap=ProgressStrokeLinecap.Square Type=ProgressType.Dashboard Percent=75 />
</div>