<div style="width: 170px;">
    <Progress Percent="30" Size="@ProgressSize.Small" />
    <Progress Percent="50" Size="@ProgressSize.Small" Status="ProgressStatus.Active" />
    <Progress Percent="70" Size="@ProgressSize.Small" Status="ProgressStatus.Exception" />
    <Progress Percent="100" Size="@ProgressSize.Small" />
</div>