<div>
    <Progress Percent=30 />
    <Progress Percent=50 Status="@ProgressStatus.Active" />
    <Progress Percent=70 Status="@ProgressStatus.Exception" />
    <Progress Percent=100 />
    <Progress Percent=50 ShowInfo="false" />
</div>