<div>
 <AntCarousel Autoplay="TimeSpan.FromSeconds(2)" >
        <AntCarouselSlick>
            <h3>1</h3>
        </AntCarouselSlick>
        <AntCarouselSlick>
            <h3>2</h3>
        </AntCarouselSlick>
        <AntCarouselSlick>
            <h3>3</h3>
        </AntCarouselSlick>
        <AntCarouselSlick>
            <h3>4</h3>
        </AntCarouselSlick>
 </AntCarousel>
</div>
