<div>
 <style>
    /* For demo */
        .ant-carousel .slick-slide 
        {
            text-align: center;
            height: 160px;
            line-height: 160px;
            background: #364d79;
            overflow: hidden;
        }

        .ant-carousel .slick-slide h3
        {
            color: #fff;
        }
</style>
<AntCarousel>
    <AntCarouselSlick>
        <h3>1</h3>
    </AntCarouselSlick>
    <AntCarouselSlick>
        <h3>2</h3>
    </AntCarouselSlick>
    <AntCarouselSlick>
        <h3>3</h3>
    </AntCarouselSlick>
    <AntCarouselSlick>
        <h3>4</h3>
    </AntCarouselSlick>
</AntCarousel>
</div>
