<div>
    <AntTag >Tag 1</AntTag>
    <AntTag>
        <a href="https://github.com/ant-design-blazor/ant-design-blazor">Link</a>
    </AntTag>
    <AntTag Mode="closeable" OnClose="()=>onClose()">Tag 2</AntTag>
    <AntTag Mode="closeable" OnClose="preventDefault">Prevent Default</AntTag>
</div>

@code{
    void onClose()
    {

    }

    void preventDefault()
    {

    }
}