<div>
    <AntTag  Mode="checkable"  Checked="check1">Tag1</AntTag>
    <AntTag Mode="checkable" Checked="check1">Tag2</AntTag>
    <AntTag Mode="checkable" Checked="check1" CheckedChange="_checked=>checkChange(_checked)">Tag3</AntTag>
    
</div>

@code{
    bool check1 { get; set; } = false;

    private void checkChange(bool e)
    {
        check1 = !check1;
    }
}
    