<div>


    <div>
        Presets:
    </div>
    <br />
    <div>
        <AntTag Color="magenta">magenta</AntTag>
        <AntTag Color="pink">pink</AntTag>
        <AntTag Color="red">red</AntTag>
        <AntTag Color="volcano">volcano</AntTag>
        <AntTag Color="orange">orange</AntTag>
        <AntTag Color="green">green</AntTag>
        <AntTag Color="cyan">cyan</AntTag>
        <AntTag Color="blue">blue</AntTag>
        <AntTag Color="lime">lime</AntTag>
        <AntTag Color="geekblue">geekblue</AntTag>
        <AntTag Color="purple">purple</AntTag>
    </div>
    <br />
    <div>
        Inverse:
    </div>
    <br />
    <div>
        <AntTag Icon="taobao" Color="blue-inverse">blue-inverse</AntTag>
        <AntTag Color="orange-inverse">orange-inverse</AntTag>
        <AntTag Icon="skype" Color="red-inverse">red-inverse</AntTag>
        <AntTag Icon="weibo" Color="purple-inverse">purple-inverse</AntTag>
    </div>
    <br />
    <div>
        Customs:
    </div>
    <br />
    <div>
        To Do
    </div>



</div>