<div>
    <span style="margin-right:8px">Categories:</span>
    <AntTag Mode="checkable" Checked="lstCheck[0]">Movies</AntTag>
    <AntTag Mode="checkable" Checked="lstCheck[1]">Books</AntTag>
    <AntTag Mode="checkable" Checked="lstCheck[2]">Music</AntTag>
    <AntTag Mode="checkable" Checked="lstCheck[3]">Sports</AntTag>
</div>

@code{
    bool[] lstCheck = new bool[] { false, true, false, true };
}
  