<div>
    <Card Title="Default size card" Style="width:300px;">
        <Extra>
            <a>More</a>
        </Extra>
        <Body>
            <p>Card content</p>
        </Body>
    </Card>
    <br />
    <Card Size="small" Title="Small size card" Style="width:300px;">
        <Extra>
            <a>More</a>
        </Extra>
        <Body>
            <p>Card content</p>
        </Body>
    </Card>
    <br />
    <Card Style="width:300px;">
        <TitleTemplate>
            <Icon Type="credit-card" Theme="outline" /> Title is Template
        </TitleTemplate>
        <Extra>
            <a>More</a>
        </Extra>
        <Body>
            <p>Card content</p>
        </Body>
    </Card>
    <br />
    <Card Size="small" TitleTemplate="titleTemplate" Style="width:300px;">
        <Extra>
            <a>More</a>
        </Extra>
        <Body>
            <p>Card content</p>
        </Body>
    </Card>
</div>

@code{
    RenderFragment titleTemplate =@<div><Icon Type="credit-card" Theme="outline" /> Title is Template</div>;

}
