<div>
    <Card Title="Default size card" Style="width:300px;">
        <Extra>
            <a>More</a>
        </Extra>
        <Body>
            <p>Card content</p>
        </Body>
    </Card>
    <br />
    <Card Size="CardSize.Small" Title="Small size card" Style="width:300px;">
        <Extra>
            <a>More</a>
        </Extra>
        <Body>
            <p>Card content</p>
        </Body>
    </Card>
    <br />
    <Card Style="width:300px;">
        <TitleTemplate>
            <Icon Type="@IconType.Outline.CreditCard" /> Title is Template
        </TitleTemplate>
        <Extra>
            <a>More</a>
        </Extra>
        <Body>
            <p>Card content</p>
        </Body>
    </Card>
    <br />
    <Card Size="CardSize.Small" TitleTemplate="titleTemplate" Style="width:300px;">
        <Extra>
            <a>More</a>
        </Extra>
        <Body>
            <p>Card content</p>
        </Body>
    </Card>
</div>

@code{
    RenderFragment titleTemplate =@<div><Icon Type="@IconType.Outline.CreditCard" /> Title is Template</div>;

}
