<div>
    <Switch Checked="!_loading" OnChange="OnChange">
        Toggle loading
    </Switch>

    <Card Loading="_loading" Style="width: 300px; margin-top: 16px">
        <CardMeta Avatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
                  Title="Card title"
                  Description="This is the description" />
    </Card>

    <Card Style="width: 300px; margin-top: 16px"
          Actions="new[] { _actionSetting, _actionEdit, _actionEllipsis }">
        <Skeleton Loading="_loading" Avatar Active>
            <CardMeta Title="Card title"
                      Description="This is the description"
                      Avatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png" />
        </Skeleton>
    </Card>
</div>

@code {
    private bool _loading = true;

    void OnChange() => _loading = !_loading;

    private readonly RenderFragment _actionSetting =
        @<Template>
            <Icon Type="setting"/>
        </Template>;

    private readonly RenderFragment _actionEdit =
        @<Template>
            <Icon Type="edit"/>
        </Template>;

    private readonly RenderFragment _actionEllipsis =
        @<Template>
            <Icon Type="ellipsis"/>
        </Template>;
}


