<div>
    <Card Title=@("Card title")>
        <Extra>
            <a>More</a>
        </Extra>
        <CardTabs>
            <Tabs DefaultActiveKey="1">
                <TabPane Key="1">
                    <Tab>Tab 1</Tab>
                    <ChildContent>Content of Tab Pane 1</ChildContent>
                </TabPane>
                <TabPane Key="2">
                    <Tab>Tab 2</Tab>
                    <ChildContent>Content of Tab Pane 2</ChildContent>
                </TabPane>
                <TabPane Key="3">
                    <Tab>Tab 3</Tab>
                    <ChildContent>Content of Tab Pane 3</ChildContent>
                </TabPane>
            </Tabs>
        </CardTabs>
    </Card>
    <br />
    <br />
    <Card>
        <Extra>
            <a>More</a>
        </Extra>
        <CardTabs>
            <Tabs DefaultActiveKey="1">
                <ChildContent>
                    <TabPane Key="1">
                        <Tab>Article</Tab>
                        <ChildContent>Content of Tab Pane 1</ChildContent>
                    </TabPane>
                    <TabPane Key="2">
                        <Tab>App</Tab>
                        <ChildContent>Content of Tab Pane 2</ChildContent>
                    </TabPane>
                    <TabPane Key="3">
                        <Tab>Project</Tab>
                        <ChildContent>Content of Tab Pane 3</ChildContent>
                    </TabPane>
                </ChildContent>
            </Tabs>
        </CardTabs>
    </Card>
</div>


