<div>
    <Card Title=@("Card title")>
        <Extra>
            <a>More</a>
        </Extra>
        <CardTabs>
            <Tabs DefaultActiveKey="1">
                <TabPane Key="1">
                    <TabTemplate>Tab 1</TabTemplate>
                    <ChildContent>Content of Tab Pane 1</ChildContent>
                </TabPane>
                <TabPane Key="2">
                    <TabTemplate>Tab 2</TabTemplate>
                    <ChildContent>Content of Tab Pane 2</ChildContent>
                </TabPane>
                <TabPane Key="3">
                    <TabTemplate>Tab 3</TabTemplate>
                    <ChildContent>Content of Tab Pane 3</ChildContent>
                </TabPane>
            </Tabs>
        </CardTabs>
    </Card>
    <br />
    <br />
    <Card>
        <Extra>
            <a>More</a>
        </Extra>
        <CardTabs>
            <Tabs DefaultActiveKey="1">
                <ChildContent>
                    <TabPane Key="1">
                        <TabTemplate>Article</TabTemplate>
                        <ChildContent>Content of Tab Pane 1</ChildContent>
                    </TabPane>
                    <TabPane Key="2">
                        <TabTemplate>App</TabTemplate>
                        <ChildContent>Content of Tab Pane 2</ChildContent>
                    </TabPane>
                    <TabPane Key="3">
                        <TabTemplate>Project</TabTemplate>
                        <ChildContent>Content of Tab Pane 3</ChildContent>
                    </TabPane>
                </ChildContent>
            </Tabs>
        </CardTabs>
    </Card>
</div>


