<div>
    <Card Title="TabbedCard">
        <Extra>
            <a>More</a>
        </Extra>
        <ChildContent>
            <Tabs DefaultActiveKey="1">
                <TabPane Key="1">
                    <TabTemplate>Tab 1</TabTemplate>
                    <ChildContent>Content of Tab Pane 1</ChildContent>
                </TabPane>
                <TabPane Key="2">
                    <TabTemplate>Tab 2</TabTemplate>
                    <ChildContent>Content of Tab Pane 2</ChildContent>
                </TabPane>
                <TabPane Key="3">
                    <TabTemplate>Tab 3</TabTemplate>
                    <ChildContent>Content of Tab Pane 3</ChildContent>
                </TabPane>
            </Tabs>
        </ChildContent>
    </Card>
    <br />
    <br />
    <Card Title="Standalone Tabs">
        <Extra>
            <a>More</a>
        </Extra>
        <ChildContent>
            <p>Card content</p>
            <p>Card content</p>
            <p>Card content</p>
            <Tabs DefaultActiveKey="1" StandaloneInCard>
                <TabPane Key="1">
                    <TabTemplate>Article</TabTemplate>
                    <ChildContent>Content of Tab Pane 1</ChildContent>
                </TabPane>
                <TabPane Key="2">
                    <TabTemplate>App</TabTemplate>
                    <ChildContent>Content of Tab Pane 2</ChildContent>
                </TabPane>
                <TabPane Key="3">
                    <TabTemplate>Project</TabTemplate>
                    <ChildContent>Content of Tab Pane 3</ChildContent>
                </TabPane>
            </Tabs>
        </ChildContent>
    </Card>
</div>


