<div>
    <Mentions Style="width:100%" Loading="true">
        <MentionsOption Value="afc163">
            <Icon Type="setting" Theme="fill" />
            <span>afc163</span>
            <span>zombieJ</span>
        </MentionsOption>     
    </Mentions>
</div>