<div>
    <Mentions Rows="8">
        <MentionsOption Value="afc163">afc163</MentionsOption>
        <MentionsOption Value="zombieJ">zombieJ</MentionsOption>
        <MentionsOption Value="yesmeck">yesmeck</MentionsOption>
    </Mentions>
</div>