<div>


    <Mentions>
        <Option Value="afc163">afc163</Option>
        <Option Value="zombieJ">zombieJ</Option>
        <Option Value="yesmeck">yesmeck</Option>
    </Mentions>

    <br />

    <Mentions Rows="3" Placeholder="You can use  to ref user here">
        <Option Value="afc163">afc163</Option>
        <Option Value="zombieJ">zombieJ</Option>
        <Option Value="yesmeck">yesmeck</Option>
    </Mentions>

    <br />

    <Button Type="primary">Submit</Button>
    <Button>Reset</Button>



</div>