<div>

    <div style="margin-bottom: 10px">

                <Mentions>
                    <MentionsOption Value="afc163">afc163</MentionsOption>
                    <MentionsOption Value="zombieJ">zombieJ</MentionsOption>
                    <MentionsOption Value="yesmeck">yesmeck</MentionsOption>
                </Mentions>


    </div>

    <div style="margin-bottom: 10px">

        <Mentions Rows="8" Placeholder="You can use  to ref user here">
            <MentionsOption Value="afc163">afc163</MentionsOption>
            <MentionsOption Value="zombieJ">zombieJ</MentionsOption>
            <MentionsOption Value="yesmeck">yesmeck</MentionsOption>
        </Mentions>

    </div>

    <Button Type="primary">Submit</Button>
    <Button>Reset</Button>



</div>


@code{

    private class FormData
    {
        public string data1 { get; set; }
        public string data2 { get; set; }
    }


    private FormData frmData = new FormData();

}
