<div>
    <Mentions Placement="top" Placeholder="placement on bottom">
        <Option Value="afc163">afc163</Option>
        <Option Value="zombieJ">zombieJ</Option>
        <Option Value="yesmeck">yesmeck</Option>
    </Mentions>

    <br />

    <Mentions Placement="bottom" Placeholder="placement on bottom">
        <Option Value="afc163">afc163</Option>
        <Option Value="zombieJ">zombieJ</Option>
        <Option Value="yesmeck">yesmeck</Option>
    </Mentions>

    <br />
</div>