<div>
    <Mentions Placement="top" Placeholder="placement on bottom">
        <MentionsOption Value="afc163">afc163</MentionsOption>
        <MentionsOption Value="zombieJ">zombieJ</MentionsOption>
        <MentionsOption Value="yesmeck">yesmeck</MentionsOption>
    </Mentions>

    <br />

    <Mentions Placement="bottom" Placeholder="placement on bottom">
        <MentionsOption Value="afc163">afc163</MentionsOption>
        <MentionsOption Value="zombieJ">zombieJ</MentionsOption>
        <MentionsOption Value="yesmeck">yesmeck</MentionsOption>
    </Mentions>

    <br />
</div>