<div>
    <Mentions Placeholder="this is disabled Mentions" Disable="true">
        <Option Value="afc163">afc163</Option>
        <Option Value="zombieJ">zombieJ</Option>
        <Option Value="yesmeck">yesmeck</Option>
    </Mentions>

    <Mentions Placeholder="this is readOnly Mentions" Readonly="true">
        <Option Value="afc163">afc163</Option>
        <Option Value="zombieJ">zombieJ</Option>
        <Option Value="yesmeck">yesmeck</Option>
    </Mentions>
</div>