<div>
    <Spin Spinning=loading>
        <Alert
            Message="Alert message title"
            Description="Further details about the context of this alert."
            Type="info"
        />
    </Spin>
    <div style="margin-top: 16px">
        Loading state：
        <Switch Checked=loading OnChange=toggle />
    </div>
</div>

@code {
    bool loading = false;

    void toggle(bool value) => loading = value;
}