<div>
    <Row>
        <Col Span="8">
            col-8
        </Col>
        <Col Span="8" Offset="8">
            col-8
        </Col>
    </Row>
    <Row>
        <Col Span="6" Offset="6">
            col-6 col-offset-6
        </Col>
        <Col Span="6" Offset="6">
            col-6 col-offset-6
        </Col>
    </Row>
    <Row>
        <Col Span="12" Offset="6">
            col-12 col-offset-6
        </Col>
    </Row>
</div>

@code{

}