<div id="grid-demo-flex-Order">
    <Row>
        <Col Span="6" Order="4">
            1 col-Order-4
        </Col>
        <Col Span="6" Order="3">
            2 col-Order-3
        </Col>
        <Col Span="6" Order="2">
            3 col-Order-2
        </Col>
        <Col Span="6" Order="1">
            4 col-Order-1
        </Col>
    </Row>

    <style>
        #grid-demo-flex-Order .ant-row { background-color: rgba(128, 128, 128, 0.08); }
    </style>
</div>


@code{

}