<div>
    <Divider Orientation="left" Style="color: #333; font-weight:normal">
        Percentage columns
    </Divider>
    <p>To do</p>
    <Divider Orientation="left" Style="color: #333; font-weight:normal">
        Fill rest
    </Divider>
    <p>To do</p>
    <Divider Orientation="left" Style="color: #333; font-weight:normal">
        Raw flex style
    </Divider>
    <p>To do</p>
</div>


@code{

}