<div>
    <AntCard Bordered Title=@("Default size card")>
        <Extra>
            <a>More</a>
        </Extra>
        <Body>
            <p>Card content</p>
            <p>Card content</p>
            <p>Card content</p>
        </Body>
    </AntCard>

    <AntCard Bordered Size="small" Title=@("Small size card")>
        <Extra>
            <a>More</a>
        </Extra>
        <Body>
            <p>Card content</p>
            <p>Card content</p>
            <p>Card content</p>
        </Body>
    </AntCard>


</div>
@code
{
    private RenderFragment actionSetting =@<Template>  <AntIcon Type="setting" /></Template>;

    private RenderFragment actionEdit =@<Template><AntIcon Type="edit" /></Template>;

    private RenderFragment actionEllipsis =@<Template> <AntIcon Type="ellipsis" /></Template>;

}
