<div style="background-color: #ececec; padding: 20px;">
    <Row Gutter="16">
        <Col Span="8">
            <AntCard Bordered="false" Title=@("Card title")>
                <Body>
                    <p>Card content</p>
                </Body>
            </AntCard>
        </Col>
        <Col Span="8">
            <AntCard Bordered="false" Title=@("Card title")>
                <Body>
                    <p>Card content</p>
                </Body>
            </AntCard>
        </Col>
        <Col Span="8">
            <AntCard Bordered="false" Title=@("Card title")>
                <Body>
                    <p>Card content</p>
                </Body>
            </AntCard>
        </Col>
    </Row>

</div>


