<div style="background-color: #ececec; padding: 20px;">
    <AntRow Gutter="16">
        <AntCol Span="8">
            <AntCard Bordered="false" Title=@("Card title")>
                <Body>
                    <p>Card content</p>
                </Body>
            </AntCard>
        </AntCol>
        <AntCol Span="8">
            <AntCard Bordered="false" Title=@("Card title")>
                <Body>
                    <p>Card content</p>
                </Body>
            </AntCard>
        </AntCol>
        <AntCol Span="8">
            <AntCard Bordered="false" Title=@("Card title")>
                <Body>
                    <p>Card content</p>
                </Body>
            </AntCard>
        </AntCol>
    </AntRow>

</div>


