<div>
    <AntCard Title=@("Card Title")>
        <AntCardGrid Style="width:25%;text-align:center" Hoverable="true">
            Content
        </AntCardGrid>
        <AntCardGrid Style="width:25%;text-align:center" Hoverable="false">
            Content
        </AntCardGrid>
        <AntCardGrid Style="width:25%;text-align:center" Hoverable="true">
            Content
        </AntCardGrid>
        <AntCardGrid Style="width:25%;text-align:center" Hoverable="true">
            Content
        </AntCardGrid>
        <AntCardGrid Style="width:25%;text-align:center" Hoverable="true">
            Content
        </AntCardGrid>
        <AntCardGrid Style="width:25%;text-align:center"Hoverable="true">
            Content
        </AntCardGrid>
        <AntCardGrid Style="width:25%;text-align:center" Hoverable="true">
            Content
        </AntCardGrid>
        <AntCardGrid Style="width:25%;text-align:center" Hoverable="true">
            Content
        </AntCardGrid>

    </AntCard>
</div>


  