<div>
    <AntCard Title=@("Card title")>  
        <Body>


            <AntCard Title=@("Inner card title")>
                <Extra>   <a slot="extra" href="#">More</a>  </Extra>
                <Body>                   
                    Inner Card content
                </Body>
              
            </AntCard>
            <AntCard Title=@("Inner card title") Style="margin-top: 16px">
                <Extra> <a slot="extra" href="#">More</a> </Extra>
                <Body>
               
                    Inner Card content
                </Body>             
            </AntCard>

        </Body>
    </AntCard>
</div>


  