<div>
    <Card Loading="loading" Title=@("Card title")>
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
    </Card>
    <Button Style="margin-top: 16px"  OnClick="handleClick">
        Toggle loading
    </Button>
</div>

@code
{
    bool loading { get; set; } = true;
    void handleClick()
    {
        loading = !loading;
    }
}


  