<div>
    <AntCard Style="width:300px;" Bordered Cover="coverTemplate" Actions="new[] { actionSetting, actionEdit, actionEllipsis }">
        <AntCardMeta Avatar="avatarTemplate">
            <Title>Meta Card</Title>
            <Description>This is the description</Description>
        </AntCardMeta>
    </AntCard>
</div>

@code
{
    private RenderFragment actionSetting =@<Template><AntIcon Type="setting" /></Template>;

    private RenderFragment actionEdit =@<Template><AntIcon Type="edit" /></Template>;

    private RenderFragment actionEllipsis =@<Template><AntIcon Type="ellipsis" /></Template>;

    private RenderFragment avatarTemplate = @<Avatar src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></Avatar>;

    private RenderFragment coverTemplate = @<img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />;

}


