<div>
    <AntCard Style="width:100%" Title=@("Card title")>
        <Extra>
            <a>More</a>
        </Extra>
        <Body>
            <AntTabs DefaultActiveKey="1">
                <AntTabPane Key="1">
                    <Tab>Tab 1</Tab>
                    <ChildContent>Content of Tab Pane 1</ChildContent>
                </AntTabPane>
                <AntTabPane Key="2">
                    <Tab>Tab 2</Tab>
                    <ChildContent>Content of Tab Pane 2</ChildContent>
                </AntTabPane>
                <AntTabPane Key="3">
                    <Tab>Tab 3</Tab>
                    <ChildContent>Content of Tab Pane 3</ChildContent>
                </AntTabPane>
            </AntTabs>
        </Body>
    </AntCard>

    <AntCard Style="width:100%" >
        <Extra>
            <a>More</a>
        </Extra>
        <Body>
            <AntTabs DefaultActiveKey="1">
                <AntTabPane Key="1">
                    <Tab>Article</Tab>
                    <ChildContent>Content of Tab Pane 1</ChildContent>
                </AntTabPane>
                <AntTabPane Key="2">
                    <Tab>App</Tab>
                    <ChildContent>Content of Tab Pane 2</ChildContent>
                </AntTabPane>
                <AntTabPane Key="3">
                    <Tab>Project</Tab>
                    <ChildContent>Content of Tab Pane 3</ChildContent>
                </AntTabPane>
            </AntTabs>
        </Body>
    </AntCard>
</div>


  