@namespace AntDesign
@inherits AntDomComponentBase

<div class="@ClassMapper.Class" style="@Style @_marginStyle" @ref="Ref" id="@Id">
    @ChildContent
</div>

@if (Parent?.Split != null && _index != Parent.SpaceItemMaxIndex)
{
    <span class="ant-space-item-split" style="margin-right: 4px;">
        @Parent.Split
    </span>
}