@namespace AntDesign
@inherits AntDomComponentBase

@if (Parent?.Split != null && _index != 0)
{
    <span class="ant-space-item-split" style="margin-right: 4px;">
        @Parent.Split
    </span>
}

<div class="@ClassMapper.Class" style="@Style @_marginStyle" @ref="Ref" id="@Id">
    @ChildContent
</div>