@namespace AntDesign
@inherits AntDomComponentBase


<CascadingValue Value="this">
    <div class="@ClassMapper.Class" style="@Style" id="@Id" @ref="@Ref">
        @ChildContent
    </div>
</CascadingValue>