<div>
    <Cascader Options="@sizeNodes" Size="large" Style="margin:15px 0;"></Cascader>
    <Cascader Options="@sizeNodes" Size="middle" Style="margin:15px 0"></Cascader>
    <Cascader Options="@sizeNodes" Size="small" Style="margin:15px 0"></Cascader>
</div>

@code {
    List<CascaderNode> sizeNodes = GetSizeNodes();

    private static List<CascaderNode> GetSizeNodes()
    {
        List<CascaderNode> list = new List<CascaderNode>() {
        new CascaderNode()
        {
            Value = "1",
            Label = "Large1",
            Children = new CascaderNode[] {
                    new CascaderNode{ Value = "11", Label="Large11", Children = new CascaderNode[]{
                        new CascaderNode{ Value = "111", Label="Large111" },
                        new CascaderNode{ Value = "112", Label="Large112"}
                    } },
                    new CascaderNode{ Value = "12", Label="Large12"},
                    new CascaderNode{ Value = "13", Label="Large13"}
                }
        }, new CascaderNode()
        {
            Value = "2",
            Label = "Large2",
            Children = new CascaderNode[] {
                    new CascaderNode{ Value = "21", Label="Large21"},
                    new CascaderNode{ Value = "22", Label="Large22"}
                }
        }, new CascaderNode()
        {
            Value = "3",
            Label = "Large3",
        }};
        return list;
    }
}
