<div>
    <Progress Type=ProgressType.Circle Percent=75 Size=ProgressSize.Small />
    <Progress Type=ProgressType.Circle Percent=70 Size=ProgressSize.Small Status="ProgressStatus.Exception" />
    <Progress Type=ProgressType.Circle Percent=100 Size=ProgressSize.Small />
</div>