<div>
    <Switch Checked="true" CheckedChildren='@("开")' UnCheckedChildren='@("关")' />
    <br />
    <Switch Checked="false" CheckedChildren='@("开")' UnCheckedChildren='@("关")' />
    <br />
    <Switch Checked="true"
               CheckedChildren="checkedChildren"
               UnCheckedChildren="unCheckedChildren" />
</div>


@code{
    RenderFragment checkedChildren = @<Icon Type="check"></Icon>;

    RenderFragment unCheckedChildren = @<Icon Type="close"></Icon>;
}
