<div>
    <Button Type="primary">Primary</Button>
    <Button Type="primary" Disabled>
        Primary(disabled)
    </Button>
    <br/>
    <Button>Default</Button>
    <Button Disabled>Default(disabled)</Button>
    <br/>
    <Button Type="dashed">Dashed</Button>
    <Button Type="dashed" Disabled>
        Dashed(disabled)
    </Button>
    <br/>
    <Button Type="link">Link</Button>
    <Button Type="link" Disabled>
        Link(disabled)
    </Button>
    <br/>
    <Button Type="link" Danger>
        Danger Link
    </Button>
    <Button Type="link" Danger Disabled>
        Danger Link(disabled)
    </Button>
    <br/>
    <Button Danger>Danger Default</Button>
    <Button Danger Disabled>
        Danger Default(disabled)
    </Button>
    <div class="site-Button-Ghost-wrapper">
        <Button Ghost>Ghost</Button>
        <Button Ghost Disabled>
            Ghost(disabled)
        </Button>
    </div>
</div>