<div class="site-button-ghost-wrapper">
    <Button Type="primary" Ghost>
        Primary
    </Button>
    <Button Ghost>Default</Button>
    <Button Type="dashed" Ghost>
        link
    </Button>
    <Button Type="link" Ghost>
        link
    </Button>
</div>

<style>
    .site-button-ghost-wrapper {
        background: rgb(190, 200, 200);
        padding: 26px 16px 16px;
    }
</style>