<div>
    <Tooltip Title=@("search")>
        <Button Type="primary" Shape="circle" Icon="search"/>
    </Tooltip>
    <Button Type="primary" Shape="circle">
        A
    </Button>
    <Button Type="primary" Icon="search">
        Search
    </Button>
    <Tooltip Title=@("search")>
        <Button Shape="circle" Icon="search"/>
    </Tooltip>
    <Button Icon="search">Search</Button>
    <br/>
    <Tooltip Title=@("search")>
        <Button Shape="circle" Icon="search"/>
    </Tooltip>
    <Button Icon="search">Search</Button>
    <Tooltip Title=@("search")>
        <Button Type="dashed" Shape="circle" Icon="search"/>
    </Tooltip>
    <Button Type="dashed" Icon="search">
        Search
    </Button>
</div>