@inject IMessageService _message

<Popconfirm Title="Are you sure delete this task?"
            OnConfirm="Confirm"
            OnCancel="Cancel">
    <a>Delete</a>
</Popconfirm>
<br />
<Popconfirm Title="Are you sure delete this task?"
            OnConfirm="Confirm"
            OnCancel="Cancel">
    <Unbound>
        <a @ref="@context.Current">Delete (unbound)</a>
    </Unbound>
</Popconfirm>

@code{

    private void Confirm()
    {
        _message.Success("Clicked on Yes");
    }

    private void Cancel()
    {
        _message.Error("Clicked on No");
    }

}