<Popconfirm Title="Are you sure？"
            Icon="close-circle">
    <a>Delete</a>
</Popconfirm>
<br />
<Popconfirm Title="Are you sure？"
            IconTemplate="@_icon">
    <a>Delete</a>
</Popconfirm>

@code {
    private readonly RenderFragment _icon = @<AntDesign.Icon Type="question-circle" Fill="outline" Style="@("color: 'red'")"/>;
}
