<Popconfirm Title="Are you sure?" Icon="close-circle">
    <a>Delete</a>
</Popconfirm>
<br />
<Popconfirm Title="Are you sure?">
    <IconTemplate>
        <Icon Type="question-circle" Style="color: red" />
    </IconTemplate>
    <ChildContent>
        <a>Delete</a>
    </ChildContent>
</Popconfirm>
