<Popconfirm Title="Are you sure?" OkText="Yes" CancelText="No">
    <a>Delete</a>
</Popconfirm>

<Popconfirm Title="Are you sure?" Locale="@(new(){ OkText="Yes", CancelText="No" })">
    <a>Delete</a>
</Popconfirm>