@inherits LayoutComponentBase

<AntLayout Class="app-layout" HasSider="true">
    <AntLayoutSider class="menu-sidebar"
                    adCollapsible
                    adWidth="256px"
                    adBreakpoint="md"
                    adCollapsed="isCollapsed"
                    onCollapsedChange="()=>isCollapsed = !isCollapsed">
        <div class="sidebar-logo">
            <a href="https://github.com/ElderJames/ant-design-blazor" target="_blank">
                <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
                <h1>Ant Design Of Blazor</h1>
            </a>
        </div>
        <AntMenu nzTheme="dark" nzMode="NzDirectionVHIType.inline" nzInlineCollapsed="isCollapsed">
            <AntSubMenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
                <AntMenuItem nzMatchRouter>
                    <AntNavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        Home
                    </AntNavLink>
                </AntMenuItem>
                <AntMenuItem nzMatchRouter>
                    <AntNavLink href="counter">
                        Counter
                    </AntNavLink>
                </AntMenuItem>
                <AntMenuItem nzMatchRouter>
                    <AntNavLink href="fetchdata">
                        Fetch data
                    </AntNavLink>
                </AntMenuItem>
            </AntSubMenu>
            <AntSubMenu nzOpen nzTitle="Form" nzIcon="form">
                <AntMenuItem nzMatchRouter>
                    <AntNavLink href="button">
                        Button
                    </AntNavLink>
                </AntMenuItem>
            </AntSubMenu>
        </AntMenu>
    </AntLayoutSider>
    <AntLayout>
        <AntLayoutHeader>
            <div class="app-header">
                <span class="header-trigger" @onclick="()=>isCollapsed = !isCollapsed">
                    <AntIcon class="trigger" Type="@(isCollapsed ? "menu-unfold" : "menu-fold")"></AntIcon>
                </span>
            </div>
        </AntLayoutHeader>
        <AntLayoutContent>
            <div class="inner-content">
                @Body
            </div>
        </AntLayoutContent>
    </AntLayout>
</AntLayout>

@code
{

    bool isCollapsed = false;

}