@inherits LayoutComponentBase
@*<div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>*@

<AntLayout Class="app-layout" HasSider="true">
    <AntLayoutSider class="menu-sidebar"
                    adCollapsible
                    adWidth="256px"
                    adBreakpoint="md"
                    adCollapsed="isCollapsed">
        <div class="sidebar-logo">
            <a href="https://github.com/ElderJames/ant-design-blazor" target="_blank">
                <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
                <h1>Ant Design Of Blazor</h1>
            </a>
        </div>
        <AntMenu nzTheme="dark" nzMode="NzDirectionVHIType.inline" nzInlineCollapsed="isCollapsed">
            <AntSubMenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
                <AntMenuItem nzMatchRouter>
                    <a routerLink="/welcome">Welcome</a>
                </AntMenuItem>
                <AntMenuItem nz-menu-item nzMatchRouter>
                    <a>Monitor</a>
                </AntMenuItem>
                <AntMenuItem nz-menu-item nzMatchRouter>
                    <a>Workplace</a>
                </AntMenuItem>
            </AntSubMenu>
            <AntSubMenu nzOpen nzTitle="Form" nzIcon="form">
                <AntMenuItem nzMatchRouter>
                    <a>Basic Form</a>
                </AntMenuItem>
            </AntSubMenu>
        </AntMenu>
    </AntLayoutSider>
    <AntLayout>
        <AntLayoutHeader>
            <div class="app-header">
                <span class="header-trigger" @onclick="()=>isCollapsed = !isCollapsed">
                    <i class="trigger"
                       nz-icon
                       [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                </span>
            </div>
        </AntLayoutHeader>
        <AntLayoutContent>
            <div class="inner-content">
                @Body
            </div>
        </AntLayoutContent>
    </AntLayout>
</AntLayout>

@code
{

    bool isCollapsed = false;

}