<div>
    <Pagination
        Total="85"
        ShowSizeChanger
        ShowQuickJumper
        ShowTotal="@_showTotal"
    />
</div>

@code {
    private readonly Func<PaginationTotalContext, string> _showTotal =  ctx => $"Total {ctx.Total} items";
}
