<div>
    <Pagination Current="@_current" CurrentChanged="OnChange" Total="50" />
</div>

@code {
    private int _current = 3;

    private void OnChange(int page)
    {
        Console.WriteLine(page);
        _current = page;
    }
}
