<Pagination Total="500" ItemRender="_itemRender" />

@code {
    private RenderFragment<PaginationItemRenderContext> _itemRender = ctx =>
        @<Template>
            @switch (ctx.Type)
            {
                case "prev":
                    <a>Previous</a>
                    break;
                case "next":
                    <a>Next</a>
                    break;
                default:
                    @ctx.DefaultRender(ctx)
                    break;
            }
        </Template>;
}
