<div>
    <Pagination ShowQuickJumper DefaultCurrent="2" Total="500" CurrentChanged="OnChange" />
    <br />
    <Pagination ShowQuickJumper DefaultCurrent="2" Total="500" CurrentChanged="OnChange" Disabled />
</div>

@code {
    private static void OnChange(int pageNumber)
    {
        Console.WriteLine($"Page: {pageNumber}");
    }
}