<div>
    <Pagination Size="PaginationSize.Small" Total="50" />
    <Pagination Size="PaginationSize.Small" Total="50" ShowSizeChanger ShowQuickJumper />
    <Pagination Size="PaginationSize.Small" Total="50" ShowTotal="showTotal" />
</div>

@code
{
    Func<PaginationTotalContext, string> showTotal =  ctx => $"Total {ctx.Total} items";
}
