<div>
    <Pagination
        Total="85"
        ShowTotal="_showTotal"
        PageSize="20"
        DefaultCurrent="1"
    />
    <br />
    <Pagination
        Total="85"
        ShowTotal="_showTotal2"
        PageSize="20"
        DefaultCurrent="1"
    />
</div>

@code {
    private readonly Func<PaginationTotalContext, string> _showTotal =  ctx => $"Total {ctx.Total} items";
    private readonly Func<PaginationTotalContext, string> _showTotal2 =  ctx => $"{ctx.Range.Item1}-{ctx.Range.Item2} of {ctx.Total} items";
}