@namespace AntDesign
@inherits AntDomComponentBase

<div class="ant-ribbon-wrapper">
    @if (ChildContent != null)
    {
        @ChildContent
    }
    <div class="@ClassMapper.Class" style="@_colorStyle">
        <span class="ant-ribbon-text">
            @if (TextTemplate != null)@TextTemplate else @Text
        </span>
        <div class="ant-ribbon-corner" style="@_cornerColorStyle" />
    </div>
</div>
