@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;

<Form @ref="_form"
      Model="@_model"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed"
      LabelColSpan="8"
      WrapperColSpan="16">
    <FormItem Label="Note">
        <Input @bind-Value="@context.Note" />
    </FormItem>

    <FormItem WrapperColOffset="8" WrapperColSpan="16">
        <Button Type="@ButtonType.Primary" HtmlType="submit">
            Submit
        </Button>
        <Button OnClick="Reset">
            Reset
        </Button>
        <Button Type="@ButtonType.Link" OnClick="OnFill">
            Fill form
        </Button>
    </FormItem>
</Form>
@code {
    private class Model
    {
        [Required]
        public string Note { get; set; }
    }

    private Model _model = new();
    private Form<Model> _form;

    private void OnFill(MouseEventArgs args)
    {
        _model.Note = "Hello world!";

        Console.WriteLine($"form ref:{_form}");
    }

    private void Reset(MouseEventArgs args)
    {
        _form.Reset();
    }

    private void OnFinish(EditContext editContext)
    {
        Console.WriteLine($"Success:{JsonSerializer.Serialize(_model)}");
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(_model)}");
    }
}