@using System.Text.Json;

<Form Model="@model"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed"
      LabelColSpan="8"
      WrapperColSpan="16">
    <FormItem Label="Input">
        <PriceInput @bind-Value="context.Price" />
    </FormItem>
    <FormItem WrapperColOffset="8" WrapperColSpan="16">
        <Button HtmlType="submit">Submit</Button>
    </FormItem>
</Form>

@code {
    private class Model
    {
        public Price Price { get; } = new()
        {
            Number = 0,
            Currency = "rmb"
        };
    }

    private Model model = new();

    private void OnFinish(EditContext editContext)
    {
        Console.WriteLine($"Success:{JsonSerializer.Serialize(model)}");
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(model)}");
    }
}