@using System.ComponentModel.DataAnnotations;

<Form Model="@_model1"
      LabelColSpan="8"
      WrapperColSpan="16"
      Validator="null">
    <FormItem Label="No Validator">
        <AntDesign.InputNumber @bind-Value="@context.Number"/>
    </FormItem>
</Form>
<Form Model="@_model2"
      LabelColSpan="8"
      WrapperColSpan="16">
    <Validator>
        <CustomValidator/>
    </Validator>
    <ChildContent>
        <FormItem Label="CustomValidator">
            <AntDesign.InputNumber @bind-Value="@context.Number"/>
        </FormItem>
    </ChildContent>
</Form>

@code {
    private class Model1
    {
        [Required]
        public int Number { get; set; }
    }

    private class Model2
    {
        [Required]
        public int Number { get; set; }
    }

    private readonly Model1 _model1 = new();

    private readonly Model2 _model2 = new();
}
