@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;

    <Form @ref="_form" Model="@_model"
          OnFinish="OnFinish"
          OnFinishFailed="OnFinishFailed"
      LabelColSpan="8"
      WrapperColSpan="16">
        <FormItem Label="Username">
            <Input @bind-Value="@context.Username" />
        </FormItem>
        <FormItem Label="Password">
            <InputPassword @bind-Value="@context.Password" />
        </FormItem>
        <FormItem WrapperColOffset="8" WrapperColSpan="16">
            <Checkbox @bind-Value="context.RememberMe">Remember me</Checkbox>
        </FormItem>
        <FormItem WrapperColOffset="8" WrapperColSpan="16">
            <Button Type="@ButtonType.Primary" HtmlType="submit" Disabled="!_form.IsModified">
                Submit
            </Button>
        </FormItem>
    </Form>
@code {

    private class Model
    {
        [Required]
        public string Username { get; set; }

        [Required]
        public string Password { get; set; }

        public bool RememberMe { get; } = true;
    }

    private Form<Model> _form;

    private Model _model = new();

    private void OnFinish(EditContext editContext)
    {
        Console.WriteLine($"Success:{JsonSerializer.Serialize(_model)}");
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(_model)}");
    }
}