@using AntDesign.Docs.Demos.Components.BcdForm

<Button OnClick="Show">Open</Button>


@code
{
    public async Task Show()
    {
        var component = new BasicComponent();
        await component.ShowAsync();
    }
}
