@namespace AntDesign.Docs.Demos.Components.BcdForm

@inherits BcdForm

<h3>BasicComponent</h3>

@code{

    protected override void InitComponent()
    {
        ShowMask = true;
        base.InitComponent();
    }

}


