<DatePicker TValue="DateTime?" RenderExtraFooter="_extraFooter"/>
<br />
<DatePicker TValue="DateTime?" ShowTime="@true" RenderExtraFooter="_extraFooter"/>
<br />
<RangePicker TValue="DateTime?[]" RenderExtraFooter="_extraFooter" />
<br />
<RangePicker TValue="DateTime?[]" ShowTime="@true" RenderExtraFooter="_extraFooter"/>
<br />
<DatePicker TValue="DateTime?" Picker="@DatePickerType.Month" RenderExtraFooter="_extraFooter"/>

@code {
    private readonly RenderFragment _extraFooter = @<span>extra footer</span>;
}
