<Table DataSource="data" ScrollY="240px" PageSize="50">
    <Column @bind-Field="@context.Name" Width="150px" />
    <Column @bind-Field="@context.Age"  Width="150px" />
    <Column @bind-Field="@context.Address"/>
</Table>

@code {
    class Column
    {
        public string Name { get; set; }

        public int Age { get; set; }

        public string Address { get; set; }
    }

    Column[] data = Enumerable.Range(0, 100).Select(i => new Column()
    {
        Name = $"Edward King {i}",
        Age = 32,
        Address = $"Edward King {i}"
    }).ToArray();

}
