<div  class="icons-list">
    <Icon Type="home" />
    <Icon Type="setting" Theme="fill" />
    <Icon Type="smile" Theme="outline" />
    <Icon Type="sync" Theme="outline" Spin />
    <Icon Type="smile" Theme="outline" Rotate="180" />
    <Icon Type="loading" Theme="outline" />
</div>
