@inject IconService iconService;

<div class="icons-list">
  <IconFont Type="icon-tuichu" />
  <IconFont Type="icon-facebook" />
  <IconFont Type="icon-twitter" />
</div>

<script src="//at.alicdn.com/t/font_8d5l8fzk5b87iudi.js"></script>