@inject IconService IconService;

<div class="icons-list">
    <IconFont Type="icon-tuichu" />
    <IconFont Type="icon-facebook" />
    <IconFont Type="icon-twitter" />
</div>

@code
{
    protected override async Task OnInitializedAsync()
    {
        await IconService.CreateFromIconfontCN("//at.alicdn.com/t/font_8d5l8fzk5b87iudi.js");
    }
}
