@inject IconService iconService;

<div class="icons-list">
  <IconFont Type="icon-javascript" />
  <IconFont Type="icon-java" />
  <IconFont Type="icon-shoppingcart" />
  <IconFont Type="icon-python" />
</div>

<script src="//at.alicdn.com/t/font_1788044_0dwu4guekcwr.js"></script>
<script src="//at.alicdn.com/t/font_1788592_a5xf2bdic3u.js"></script>

