@namespace AntBlazor
@inherits AntBackTopBase
<div class="panel panel-default">
    <div class="panel-heading">@Title</div>
    <button class="btn btn-primary" @onclick="OnClick">
        Trigger to Top
    </button>
</div>