@namespace AntBlazor
@inherits AntBackTopBase
<div class="panel panel-default">
    <div class="panel-heading">@Title</div>
    <button class="@ButtonClassMapper.Class" @onclick="OnClick">
        Trigger to Top
    </button>
</div>