@namespace AntBlazor
@inherits AntBackTopBase
    <div class="@BackTopClassMapper.Class" @onclick="OnClick">
        <div class="@BackTopContentClassMapper.Class">
            <div class="@BackTopIconClassMapper.Class"></div>
        </div>
    </div>