@namespace AntDesign
@inherits AntDomComponentBase

<div class="@BackTopClassMapper.Class" @onclick="_ => OnClick()">
    <div class="@BackTopContentClassMapper.Class">
        <div class="@BackTopIconClassMapper.Class"></div>

    </div>
</div>