<div>
    <AntDivider Orientation="left" Style="color: #333; font-weight:normal">
        Align Top
    </AntDivider>

    <div class="flex-demo">
        <AntRow Justify="center" Align="top">
            <AntCol Span="4"><p class="height-100">col-4</p></AntCol>
            <AntCol Span="4"><p class="height-50">col-4</p></AntCol>
            <AntCol Span="4"><p class="height-120">col-4</p></AntCol>
            <AntCol Span="4"><p class="height-80">col-4</p></AntCol>
        </AntRow>
    </div>


    <AntDivider Orientation="left" Style="color: #333; font-weight:normal">
        Align Center
    </AntDivider>
    <div class="flex-demo">
        <AntRow Justify="space-around" Align="middle">
            <AntCol  Span="4"><p class="height-100">col-4</p></AntCol>
            <AntCol Span="4"><p class="height-50">col-4</p></AntCol>
            <AntCol Span="4"><p class="height-120">col-4</p></AntCol>
            <AntCol Span="4"><p class="height-80">col-4</p></AntCol>
        </AntRow>
    </div>

    <AntDivider Orientation="left" Style="color: #333; font-weight:normal">
        Align Bottom
    </AntDivider>
    <div class="flex-demo">
        <AntRow Justify="space-between" Align="bottom">
            <AntCol Span="4"><p class="height-100">col-4</p></AntCol>
            <AntCol Span="4"><p class="height-50">col-4</p></AntCol>
            <AntCol Span="4"><p class="height-120">col-4</p></AntCol>
            <AntCol Span="4"><p class="height-80">col-4</p></AntCol>
        </AntRow>
    </div>
    </div>
    <style>
        .flex-demo {
            background-color: rgba(128, 128, 128, 0.08);
        }
    </style>

    @code{

    }
