<div>
    <AntRow>
        <AntCol Span="24">col-24</AntCol>   
    </AntRow>
    <AntRow>
        <AntCol Span="12">col-12</AntCol>
        <AntCol Span="12">col-12</AntCol>
    </AntRow>
    <AntRow>
        <AntCol Span="8">col-8</AntCol>
        <AntCol Span="8">col-8</AntCol>
        <AntCol Span="8">col-8</AntCol>
    </AntRow>
    <AntRow>
        <AntCol Span="6">col-6</AntCol>
        <AntCol Span="6">col-6</AntCol>
        <AntCol Span="6">col-6</AntCol>
        <AntCol Span="6">col-6</AntCol>
    </AntRow>
</div>
