<div>
    <AntText> Current break point:</AntText>
    <AntTag Color="blue">
        sm
    </AntTag>
    <AntTag Color="blue">
        md
    </AntTag>
    <AntTag Color="blue">
        lg
    </AntTag>
    <AntTag Color="blue">
        xl
    </AntTag>
    <AntTag Color="blue">
        xxl
    </AntTag>
</div>
@code{

}