<div>
    <Text> Current break point:</Text>
    <Tag Color="blue">
        sm
    </Tag>
    <Tag Color="blue">
        md
    </Tag>
    <Tag Color="blue">
        lg
    </Tag>
    <Tag Color="blue">
        xl
    </Tag>
    <Tag Color="blue">
        xxl
    </Tag>
</div>
@code{

}