<div>
    <style>
        .Gutter-box {
            background: #00a0e9;
            padding: 5px 0;
        }
    </style>
    <AntDivider Orientation="left" Style="color: #333; font-weight:normal">
        Horizontal
    </AntDivider>

    <div class="Gutter-example">
        <AntRow Gutter="16">
            <AntCol class="Gutter-row" Span="6">
                <div >col-6</div>
            </AntCol>
            <AntCol class="Gutter-row" Span="6">
                <div >col-6</div>
            </AntCol>
            <AntCol class="Gutter-row" Span="6">
                <div >col-6</div>
            </AntCol>
            <AntCol class="Gutter-row" Span="6">
                <div >col-6</div>
            </AntCol>
        </AntRow>
    </div>
    <AntDivider Orientation="left" Style="color: #333; font-weight:normal">
        Responsive
    </AntDivider>
    <div class="Gutter-example">
        <AntRow Gutter="@Gutter1">
            <AntCol class="Gutter-row" Span="6">
                <div >col-6</div>
            </AntCol>
            <AntCol class="Gutter-row" Span="6">
                <div >col-6</div>
            </AntCol>
            <AntCol class="Gutter-row" Span="6">
                <div >col-6</div>
            </AntCol>
            <AntCol class="Gutter-row" Span="6">
                <div>col-6</div>
            </AntCol>
        </AntRow>
    </div>
    <AntDivider Orientation="left" Style="color: #333; font-weight:normal">
        Vertical
    </AntDivider>
    <div class="Gutter-example">
        <AntRow Gutter="(8,24)">
            <AntCol class="Gutter-row" Span="6">
                <div >col-6</div>
            </AntCol>
            <AntCol class="Gutter-row" Span="6">
                <div >col-6</div>
            </AntCol>
            <AntCol class="Gutter-row" Span="6">
                <div >col-6</div>
            </AntCol>
            <AntCol class="Gutter-row" Span="6">
                <div >col-6</div>
            </AntCol>
            <AntCol class="Gutter-row" Span="6">
                <div >col-6</div>
            </AntCol>
            <AntCol class="Gutter-row" Span="6">
                <div >col-6</div>
            </AntCol>
            <AntCol class="Gutter-row" Span="6">
                <div >col-6</div>
            </AntCol>
            <AntCol class="Gutter-row" Span="6">
                <div >col-6</div>
            </AntCol>
        </AntRow>
    </div>
</div>
@code{
    Dictionary<string, int> Gutter1 = new Dictionary<string, int>()
    {
        ["xs"] = 8,
        ["sm"] = 16,
        ["md"] = 24,
        ["lg"] = 32,
        ["xl"] = 48,
        ["xxl"] = 64
    };
   

}