<div>
    <Row>
        <Col Xs="@xs1" Lg="lg1">
            Col
        </Col>
        <Col Xs="@xs2" Lg="lg1">
            Col
        </Col>
        <Col Xs="@xs3" Lg="lg1">
                Col
        </Col>
    </Row>
</div>

@code
{
    EmbeddedProperty xs1 = new EmbeddedProperty()
    {
        Span="5",
        Offset="1"
    };

    EmbeddedProperty lg1 = new EmbeddedProperty()
    {
        Span = "6",
        Offset = "2"
    };

    EmbeddedProperty xs2 = new EmbeddedProperty()
    {
        Span = "11",
        Offset = "1"
    };

    EmbeddedProperty xs3= new EmbeddedProperty()
    {
        Span = "5",
        Offset = "1"
    };
}