<div>
    <AntRow>
        <AntCol Span="8">
            col-8
        </AntCol>
        <AntCol Span="8" Offset="8">
            col-8
        </AntCol>
    </AntRow>
    <AntRow>
        <AntCol Span="6" Offset="6">
            col-6 col-offset-6
        </AntCol>
        <AntCol Span="6" Offset="6">
            col-6 col-offset-6
        </AntCol>
    </AntRow>
    <AntRow>
        <AntCol Span="12" Offset="6">
            col-12 col-offset-6
        </AntCol>
    </AntRow>
</div>
@code{

}