<div>
    <div id="flex-demo">
        <p>sub-element Align left</p>
        <AntRow Justify="start">
            <AntCol Span="4">col-4</AntCol>
            <AntCol Span="4">col-4</AntCol>
            <AntCol Span="4">col-4</AntCol>
            <AntCol Span="4">col-4</AntCol>
        </AntRow>
        <p>sub-element Align center</p>
        <AntRow Justify="center">
            <AntCol Span="4">col-4</AntCol>
            <AntCol Span="4">col-4</AntCol>
            <AntCol Span="4">col-4</AntCol>
            <AntCol Span="4">col-4</AntCol>
        </AntRow>
        <p>sub-element Align right</p>
        <AntRow Justify="end">
            <AntCol Span="4">col-4</AntCol>
            <AntCol Span="4">col-4</AntCol>
            <AntCol Span="4">col-4</AntCol>
            <AntCol Span="4">col-4</AntCol>
        </AntRow>
        <p>sub-element monospaced arrangement</p>
        <AntRow Justify="space-between">
            <AntCol Span="4">col-4</AntCol>
            <AntCol Span="4">col-4</AntCol>
            <AntCol Span="4">col-4</AntCol>
            <AntCol Span="4">col-4</AntCol>
        </AntRow>
        <p>sub-element Align full</p>
        <AntRow Justify="space-around">
            <AntCol Span="4">col-4</AntCol>
            <AntCol Span="4">col-4</AntCol>
            <AntCol Span="4">col-4</AntCol>
            <AntCol Span="4">col-4</AntCol>
        </AntRow>
    </div>

        <style>
            #flex-demo .ant-row {
                background-color: rgba(128, 128, 128, 0.08);
            }
        </style>

</div>
@code{

}