<div>
    <AntRow>
        <AntCol Span="18" Push="6">
            col-18 col-Push-6
        </AntCol>
        <AntCol Span="6" Pull="18">
            col-6 col-Pull-18
        </AntCol>
    </AntRow>
</div>
@code{

}