<div>
    <AntDivider Orientation="left" Style="color: #333; font-weight:normal">
        Percentage columns
    </AntDivider>
    <p>To do</p>
    <AntDivider Orientation="left" Style="color: #333; font-weight:normal">
        Fill rest
    </AntDivider>
    <p>To do</p>
    <AntDivider Orientation="left" Style="color: #333; font-weight:normal">
        Raw flex style
    </AntDivider>
    <p>To do</p>
</div>


@code{

}