<div>
    <Checkbox Checked="@_isChecked" CheckedChange="@ToggleChecked">
                @($"{(_isChecked ? "Check" : "Uncheck")}")
    </Checkbox>
</div>

@code {
    bool _isChecked = true;
    void ToggleChecked(bool value) => _isChecked = !_isChecked;
}