<div>
    <Checkbox Indeterminate="@Indeterminate" Checked="@CheckAll" CheckedChange="@CheckAllChanged">
    Check all
    </Checkbox>
    <br />
    <AntDesign.CheckboxGroup Options="@_checkAllOptions"/>
</div>

@code {
    private static readonly CheckboxOption[] _checkAllOptions =
    {
        new()
        {
            Label = "Apple",
            Value = "Apple",
            Checked = true
        },
        new()
        {
            Label = "Pear",
            Value = "Pear"
        },
        new()
        {
            Label = "Orange",
            Value = "Orange",
            Checked = true
        }
    };

    private static void CheckAllChanged()
    {
        var allChecked = CheckAll;
        _checkAllOptions.ForEach(o => o.Checked = !allChecked);
    }

    private static bool Indeterminate => _checkAllOptions.Count(o => o.Checked) > 0 && _checkAllOptions.Count(o => o.Checked) < _checkAllOptions.Length;

    private static bool CheckAll => _checkAllOptions.All(o => o.Checked);

}