@using System.Text.Json
<div>
    <CheckboxGroup Style="width:100%" TValue="string" ValueChanged="@OnChange">

        <Row>
            <Col Span="8">
                <Checkbox Label="A">A</Checkbox>
            </Col>
            <Col Span="8">
                <Checkbox Label="B">B</Checkbox>
            </Col>
            <Col Span="8">
                <Checkbox Label="C">C</Checkbox>
            </Col>
            <Col Span="8">
                <Checkbox Label="D">D</Checkbox>
            </Col>
            <Col Span="8">
                <Checkbox Label="E">E</Checkbox>
            </Col>
        </Row>
    </CheckboxGroup>
</div>

@code {    

    void OnChange(string[] checkedValues)
    {
        Console.WriteLine($"checked = {JsonSerializer.Serialize(checkedValues)}");
    }
}
