<div>
<Timeline Mode="@TimelineMode.Alternate"  >
    <TimelineItem>Create a services site 2015-09-01</TimelineItem>
    <TimelineItem Color="green">Solve initial network problems 2015-09-01</TimelineItem>
    <TimelineItem Dot="dotTemplate">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
        quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
    </TimelineItem>
    <TimelineItem Color="red">Network problems being solved 2015-09-01</TimelineItem>
    <TimelineItem>Create a services site 2015-09-01</TimelineItem>
    <TimelineItem Dot="dotTemplate">Technical testing 2015-09-01</TimelineItem>
</Timeline>
</div>

@code {
    RenderFragment dotTemplate =
    @<Template>
        <Icon Type="clock-circle" Style="font-size: 16px;" />
    </Template>;
 }

