<div>
    <Timeline>
        <TimelineItem Color="TimelineDotColor.Green">Create a services site 2015-09-01</TimelineItem>
        <TimelineItem Color="TimelineDotColor.Green">Create a services site 2015-09-01</TimelineItem>
        <TimelineItem Color="TimelineDotColor.Red">
            <p>Solve initial network problems 1</p>
            <p>Solve initial network problems 2</p>
            <p>Solve initial network problems 3 2015-09-01</p>
        </TimelineItem>
        <TimelineItem>
            <p>Technical testing 1</p>
            <p>Technical testing 2</p>
            <p>Technical testing 3 2015-09-01</p>
        </TimelineItem>
        <TimelineItem Color="TimelineDotColor.Gray">
            <p>Technical testing 1</p>
            <p>Technical testing 2</p>
            <p>Technical testing 3 2015-09-01</p>
        </TimelineItem>
        <TimelineItem Color="@("#f50")">
            <p>Technical testing 1</p>
            <p>Technical testing 2</p>
            <p>Technical testing 3 2015-09-01</p>
        </TimelineItem>
    </Timeline>
</div>
