<div>
    <Timeline Pending="_pending" Reverse="@BReverse">
        <TimelineItem>Create a services site 2015-09-01</TimelineItem>
        <TimelineItem>Solve initial network problems 2015-09-01</TimelineItem>
        <TimelineItem>Technical testing 2015-09-01</TimelineItem>
    </Timeline>
    <Button Type="primary" Style="margin-top: 16px " OnClick="HandleClick">
        Toggle Reverse
    </Button>
</div>

@code {
    private bool BReverse { get; set; }

    private readonly RenderFragment _pending = @<Template>
                                                   Recording...
                                               </Template>;

    private void HandleClick()
    {
        BReverse = !BReverse;
    }
}