<div>
    <Timeline Mode="@TimelineMode.Right">
        <TimelineItem>Create a services site 2015-09-01</TimelineItem>
        <TimelineItem>Solve initial network problems 2015-09-01</TimelineItem>
        <TimelineItem Dot="dotTemplate" Color="red">
            Technical testing 2015-09-01
        </TimelineItem>
        <TimelineItem Color="red">Network problems being solved 2015-09-01</TimelineItem>
    </Timeline>,
</div>

@code{
    RenderFragment dotTemplate =
    @<Template>
        <Icon Type="clock-circle" Theme="outline" Style="font-size: 16px;" />
    </Template>;
}