<div>
    <Timeline>
        <TimelineItem Color="green">Create a services site 2015-09-01</TimelineItem>
        <TimelineItem Color="green">Create a services site 2015-09-01</TimelineItem>
        <TimelineItem Color="red">
            <p>Solve initial network problems 1</p>
            <p>Solve initial network problems 2</p>
            <p>Solve initial network problems 3 2015-09-01</p>
        </TimelineItem>
        <TimelineItem>
            <p>Technical testing 1</p>
            <p>Technical testing 2</p>
            <p>Technical testing 3 2015-09-01</p>
        </TimelineItem>
        <TimelineItem Color="gray">
            <p>Technical testing 1</p>
            <p>Technical testing 2</p>
            <p>Technical testing 3 2015-09-01</p>
        </TimelineItem>
        <TimelineItem Color="gray">
            <p>Technical testing 1</p>
            <p>Technical testing 2</p>
            <p>Technical testing 3 2015-09-01</p>
        </TimelineItem>
    </Timeline>
</div>
