<Slider Type="double" Value=size OnChange="v => setSize(v)"/>
<br/>
<br/>
<Space Size="@($"{size}")">
    <SpaceItem>
        <Button Type="primary">Primary</Button>
    </SpaceItem>
    <SpaceItem>
        <Button>Default</Button>
    </SpaceItem>
    <SpaceItem>
        <Button Type="dashed">Dashed</Button>
    </SpaceItem>
    <SpaceItem>
        <Button Type="link">Link</Button>
    </SpaceItem>
</Space>

@code{
    double size = 8;

    void setSize(double value)
    {
        size = value;
        StateHasChanged();
    }

}