<div>
    <Icon Type="smile" Theme="twotone" Height="2em" Width="2em" />
    <Icon Type="heart" Theme="twotone" TwotoneColor="#eb2f96" Height="2em" Width="2em" />
    <Icon Type="check-circle" Theme="twotone" TwotoneColor="#52c41a" Height="2em" Width="2em" />
</div>


