<div>
    <Switch Checked="_switchValue" Disabled="_isDisabled"/>
    <br />
    <br />
    <Button Type="@ButtonType.Primary" @onclick="_ => _isDisabled = !_isDisabled">Toggle disabled</Button>
</div>


@code {
    private bool _switchValue = false;
    private bool _isDisabled = true;
}


