<div>
    <Switch Checked="true" CheckedChildren="开" UnCheckedChildren="关" />
    <br />
    <Switch Checked="false" CheckedChildren="开" UnCheckedChildren="关" />
    <br />
    <Switch Checked="true">
        <CheckedChildrenTemplate>
            <Icon Type="@IconType.Outline.Check" />
        </CheckedChildrenTemplate>
        <UnCheckedChildrenTemplate>
            <Icon Type="@IconType.Outline.Close" />
        </UnCheckedChildrenTemplate>
    </Switch>
</div>
