<div>
    <Switch Checked="true" CheckedChildren="开" UnCheckedChildren="关" />
    <br />
    <Switch Checked="false" CheckedChildren="开" UnCheckedChildren="关" />
    <br />
    <Switch Checked="true">
        <CheckedChildrenTemplate>
            <Icon Type="check"></Icon>
        </CheckedChildrenTemplate>
        <UnCheckedChildrenTemplate>
            <Icon Type="close"></Icon>
        </UnCheckedChildrenTemplate>
    </Switch>
</div>
