<div>
    <AntBadge Count="5">
        <a href="#" class="head-example" />
    </AntBadge>
    <AntBadge Count="0" ShowZero>
        <a href="#" class="head-example" />
    </AntBadge>
    @{
        RenderFragment count = @<AntIcon Type="clock-circle" Fill="#f5222d"/>;
    }
    <AntBadge Count="@(count)">
        <a href="#" class="head-example" />
    </AntBadge>
</div>

