<div>
    <div>
        <Badge Count="@count">
            <a href="#" class="head-example" />
        </Badge>
        <ButtonGroup>
            <Button @onclick="_=>decline()">
                <AntIcon Type="minus"></AntIcon>
            </Button>
            <Button @onclick="_=>increase()">
                <AntIcon Type="plus"></AntIcon>
            </Button>
        </ButtonGroup>
    </div>
    <div style="margin-top: 10px">
        <Badge Dot="@show">
            <a href="#" class="head-example" />
        </Badge>
        <Switch OnChange="onChange" Checked="@show" />
    </div>
</div>

@code {
    int count = 5;
    bool show = true;

    void increase()
    {
        count++;
    }

    void decline()
    {
        count--;
        if (count < 0)
        {
            count = 0;
        }
    }

    void onChange(bool show)
    {
        this.show = show;
    }
}
