<div>
    <AntBadge Dot>
        <AntIcon Type="notification"/>
    </AntBadge>
    <AntBadge Count="0" Dot>
        <AntIcon Type="notification" />
    </AntBadge>
    <AntBadge Dot>
        <a href="#">Link something</a>
    </AntBadge>
</div>