<div>
    <AntBadge Count="25" />
    <AntBadge Count="4" Class="site-badge-count-4" />
    <AntBadge Class="site-badge-count-109" Count="109" Style="background-color: #52c41a" />
</div>

<style>
    .site-badge-count-4 .ant-badge-count {
        background-color: #fff;
        color: #999;
        box-shadow: 0 0 0 1px #d9d9d9 inset;
    }
</style>