<div>
    <Badge Count="99">
        <a href="#" class="head-example" />
    </Badge>
    <Badge Count="100">
        <a href="#" class="head-example" />
    </Badge>
    <Badge Count="99" OverflowCount="10">
        <a href="#" class="head-example" />
    </Badge>
    <Badge Count="1000" OverflowCount="999">
        <a href="#" class="head-example" />
    </Badge>
</div>
