<div>
    <AntBadge Count="99">
        <a href="#" class="head-example" />
    </AntBadge>
    <AntBadge Count="100">
        <a href="#" class="head-example" />
    </AntBadge>
    <AntBadge Count="99" OverflowCount="10">
        <a href="#" class="head-example" />
    </AntBadge>
    <AntBadge Count="1000" OverflowCount="999">
        <a href="#" class="head-example" />
    </AntBadge>
</div>
