<div>
    <AntBadge Status="success" />
    <AntBadge Status="error" />
    <AntBadge Status="default" />
    <AntBadge Status="processing" />
    <AntBadge Status="warning" />
    <br />
    <AntBadge Status="success" Text="Success" />
    <br />
    <AntBadge Status="error" Text="Error" />
    <br />
    <AntBadge Status="default" Text="Default" />
    <br />
    <AntBadge Status="processing" Text="Processing" />
    <br />
    <AntBadge Status="warning" Text="Warning" />
</div>