<div>
    <Popover Placement="Placement.TopLeft" TitleTemplate="@_text" ContentTemplate="@_content">
        <Button>Align edge / 边缘对齐</Button>
    </Popover>
    <Popover Placement="Placement.TopLeft" TitleTemplate="@_text" ContentTemplate="@_content" ArrowPointAtCenter="true">
        <Button>Arrow points to center / 箭头指向中心</Button>
    </Popover>
</div>

@code
{
    private RenderFragment _text =@<span>Title</span>;
    
    private RenderFragment _content =
        @<div>
            <p>Content</p>
            <p>Content</p>
        </div>;
}