@using Microsoft.AspNetCore.Components.Web

<div>
    <Button Type="@ButtonType.Primary" OnClick="() => _open = true">
        Begin Tour
    </Button>

    <Divider />

    <Space>
        <span @ref="_ref1"><Button>Upload</Button></span>
        <span @ref="_ref2"><Button Type="@ButtonType.Primary">Save</Button></span>
        <span @ref="_ref3">
            <Button>
                <Icon Type="ellipsis" Theme="IconThemeType.Outline" />
            </Button>
        </span>
    </Space>

    <Tour Open="@_open" 
          Steps="@_steps" 
          OnClose="() => _open = false" />
</div>

@code {
    private bool _open = false;
    private ElementReference _ref1;
    private ElementReference _ref2;
    private ElementReference _ref3;

    private List<TourStep> _steps => new List<TourStep>
    {
        new TourStep
        {
            Title = "Upload File",
            Description = "Put your files here.",
            Target = () => _ref1,
            NextButtonProps = new TourButtonProps
            {
                Text = "Next Step"
            }
        },
        new TourStep
        {
            Title = "Save",
            Description = "Save your changes.",
            Target = () => _ref2,
            PrevButtonProps = new TourButtonProps
            {
                Text = "Go Back"
            },
            NextButtonProps = new TourButtonProps
            {
                Text = "Continue"
            }
        },
        new TourStep
        {
            Title = "Other Actions",
            Description = "Click to see other actions.",
            Target = () => _ref3,
            NextButtonProps = new TourButtonProps
            {
                Text = "Done"
            }
        }
    };
}
