<Empty Image="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
          ImageStyle='@("height: 60px")'
        >
    <DescriptionTemplate>
        <span>Customize <a>Description</a></span>
    </DescriptionTemplate>
    <ChildContent>
        <Button type="@ButtonType.Primary">Create Now</Button>
    </ChildContent>

</Empty>

