<div>
    <Badge Dot>
        <Icon Type="notification"/>
    </Badge>
    <Badge Count="0" Dot>
        <Icon Type="notification" />
    </Badge>
    <Badge Dot>
        <a href="#">Link something</a>
    </Badge>
    <Badge Dot Status="warning">
        <a href="#" class="head-example" />
    </Badge>
</div>