<div>
    <Badge Status="success" />
    <Badge Status="error" />
    <Badge Status="default" />
    <Badge Status="processing" />
    <Badge Status="warning" />
    <br />
    <Badge Status="success" Text="Success" />
    <br />
    <Badge Status="error" Text="Error" />
    <br />
    <Badge Status="default" Text="Default" />
    <br />
    <Badge Status="processing" Text="Processing" />
    <br />
    <Badge Status="warning" Text="Warning" />
</div>