@namespace AntDesign
@typeparam TValue
@inherits AntInputComponentBase<TValue>

<CascadingValue Value="this">
    <div class="@ClassMapper.Class" style="@Style" id="@Id" @ref="Ref">
        @ChildContent
    </div>
</CascadingValue>