<Tabs DefaultActiveKey="1">
    <TabPane Key="1">
        <Tab>
            <span><AntDesign.Icon Type="android" />Tab 1</span>
        </Tab>
        <ChildContent>Tab 1</ChildContent>
    </TabPane>
    <TabPane Key="2">
        <Tab>
            <span><AntDesign.Icon Type="apple" />Tab 2</span>
        </Tab>
        <ChildContent>Tab 2</ChildContent>
    </TabPane>
</Tabs>