<h3>Clear</h3>

<Rate AllowClear="true" DefaultValue="2"/>
<span className="ant-rate-text">AllowClear: true</span>
<br />
<Rate AllowClear="false" DefaultValue="3"></Rate>
<span className="ant-rate-text">AllowClear: false</span>