<Rate AllowClear="true" DefaultValue="2" />
<span class="ant-rate-text">AllowClear: true</span>
<br />
<Rate AllowClear="false" DefaultValue="3"></Rate>
<span class="ant-rate-text">AllowClear: false</span>