<div>
    <Slider TValue="double" DefaultValue="34" Value="@Value" TipFormatter="TipFormatter"  />
</div>

@code {
    private int Value { get; set; }

    static string TipFormatter(double currentEdgeValue) => $"{currentEdgeValue}%";
}



