<div>
    <Slider TValue="double" DefaultValue="34" Value="@value" TipFormatter="(d) => tipFormatter(d)"  />
</div>

@code
{

    private int value { get; set; }

    string tipFormatter(double currentEdgeValue)
    {
        return $"{currentEdgeValue}%";
    }
}



