<div>
    <Icon Style="display: inline-block" Type="@IconType.Outline.Frown" />
    <Slider TValue="double" Style="display: inline-block; width: 300px;" Min="0" Max="20" DefaultValue="5" />
    <Icon Style="display: inline-block" Type="@IconType.Outline.Smile" />
</div>


