<div>
    <Slider TValue="double" Reverse="@_reversed" DefaultValue="33" />
    <Slider TValue="(double, double)" Reverse="@_reversed" DefaultValue="(20, 50)" />
    Reversed: <Switch Size="small" Checked="@_reversed" OnChange="OnSwitchReverse" />
</div>


@code {
    private bool _reversed = true;

    private void OnSwitchReverse(bool args)
    {
        _reversed = args;
    }
}
