<div>
    <div style="height: 300px; margin-left: 70px; display: inline-block;">
        <Slider TValue="double" Vertical DefaultValue="31" />
    </div>
    <div style="height: 300px; margin-left: 70px; display: inline-block;">
        <Slider TValue="(double, double)" Vertical Step="10" DefaultValue="(20, 50 )" />
    </div>
    <div style="height: 300px; margin-left: 70px; display: inline-block;">
        <Slider TValue="(double, double)" Vertical Marks="@_marks1" DefaultValue="(26, 37 )" />
    </div>
</div>

@code
{
        private SliderMark[] _marks1 =
        {
            new SliderMark(0, "0℃"),
            new SliderMark(26, "26℃"),
            new SliderMark(37, "37℃"),
            new SliderMark(100, (b)=>{
                b.OpenElement(0,"strong");
                b.AddContent(1,"100℃");
                b.CloseElement();
            }, "color: #f50;")
        };
}
