@inject ILanguageService LanguageService;

<DatePicker Picker="@DatePickerType.Date" DateRender="CustomRender" CultureInfo="LanguageService.CurrentCulture"/><br />
<RangePicker Picker="@DatePickerType.Date" DateRender="CustomRender" CultureInfo="LanguageService.CurrentCulture" />

@code
{
    private Func<DateTime, DateTime, RenderFragment> CustomRender = (currentViewDate, today) =>
    {
        string style = "";
        if (currentViewDate.Day == 1)
        {
            style = "border: 1px solid #1890ff; borderRadius: 50%";
        }

        return @<div class="ant-picker-cell-inner" style="@style">
            @currentViewDate.Day
        </div>;
    };
}