<div>
    <Tag >Tag 1</Tag>
    <Tag>
        <a href="https://github.com/ant-design-blazor/ant-design-blazor">Link</a>
    </Tag>
    <Tag Mode="closeable" OnClose="OnClose">Tag 2</Tag>
    <Tag Mode="closeable" OnClose="PreventDefault">Prevent Default</Tag>
</div>

@code {
    private void OnClose() { }
    private void PreventDefault() { }
}