<div>
    <Tag >Tag 1</Tag>
    <Tag>
        <a href="https://github.com/ant-design-blazor/ant-design-blazor">Link</a>
    </Tag>
    <Tag Closable OnClose="()=>onClose()">Tag 2</Tag>
    <Tag Closable OnClose="preventDefault">Prevent Default</Tag>
</div>

@code{
    void onClose()
    {

    }
    void preventDefault()
    {

    }
}