<div>
    <Tag  Mode="checkable"  Checked="Check1">Tag1</Tag>
    <Tag Mode="checkable" Checked="Check1">Tag2</Tag>
    <Tag Mode="checkable" Checked="Check1" CheckedChange="CheckChange">Tag3</Tag>

</div>

@code {
    private bool Check1 { get; set; }

    private void CheckChange(bool e)
    {
        Check1 = !Check1;
    }
}
