<div>
    <span style="margin-right:8px">Categories:</span>
    <Tag Checkable Checked="lstCheck[0]">Movies</Tag>
    <Tag Checkable Checked="lstCheck[1]">Books</Tag>
    <Tag Checkable Checked="lstCheck[2]">Music</Tag>
    <Tag Checkable Checked="lstCheck[3]">Sports</Tag>	
</div>

@code{
    bool[] lstCheck = new bool[] { false, true, false, false };
}