<Divider Orientation="left">Presets</Divider>
<div id="tag-colorful-demo">
    <Tag Color="magenta">magenta</Tag>
    <Tag Color="pink">pink</Tag>
    <Tag Color="red">red</Tag>
    <Tag Color="volcano">volcano</Tag>
    <Tag Color="orange">orange</Tag>
    <Tag Color="green">green</Tag>
    <Tag Color="cyan">cyan</Tag>
    <Tag Color="blue">blue</Tag>
    <Tag Color="lime">lime</Tag>
    <Tag Color="geekblue">geekblue</Tag>
    <Tag Color="purple">purple</Tag>        
</div>
<Divider Orientation="left">Inverse</Divider>    
<div id="tag-colorful-demo">
    <Tag Icon="taobao" Color="blue-inverse">blue-inverse</Tag>
    <Tag Color="orange-inverse">orange-inverse</Tag>
    <Tag Icon="skype" Color="red-inverse">red-inverse</Tag>
    <Tag Icon="weibo" Color="purple-inverse">purple-inverse</Tag>
</div>
<Divider Orientation="left">Custom</Divider>    
<div id="tag-colorful-demo">
    <Tag Color="#f50">#f50</Tag>
    <Tag Color="#2db7f5">#2db7f5</Tag>
    <Tag Color="#87d068">#87d068</Tag>
    <Tag Color="#108ee9">#108ee9</Tag>   
</div>

<style>
	#tag-colorful-demo > * {
		margin-bottom: 12px;
		margin-right: 8px;
	}
</style>