<div>
    <div>
        Presets:
    </div>
    <br />
    <div>
        <Tag Color="magenta">magenta</Tag>
        <Tag Color="pink">pink</Tag>
        <Tag Color="red">red</Tag>
        <Tag Color="volcano">volcano</Tag>
        <Tag Color="orange">orange</Tag>
        <Tag Color="green">green</Tag>
        <Tag Color="cyan">cyan</Tag>
        <Tag Color="blue">blue</Tag>
        <Tag Color="lime">lime</Tag>
        <Tag Color="geekblue">geekblue</Tag>
        <Tag Color="purple">purple</Tag>
    </div>
    <br />
    <div>
        Inverse:
    </div>
    <br />
    <div>
        <Tag Icon="taobao" Color="blue-inverse">blue-inverse</Tag>
        <Tag Color="orange-inverse">orange-inverse</Tag>
        <Tag Icon="skype" Color="red-inverse">red-inverse</Tag>
        <Tag Icon="weibo" Color="purple-inverse">purple-inverse</Tag>
    </div>
    <br />
    <div>
        Customs:
    </div>
    <br />
    <div>
        To Do
    </div>
</div>