<div>
    <Tag Mode="closeable" Visible="BVisible">Movies</Tag>
    <br />
    <br />
    <Button Size="small" OnClick="OnClick">Toggle</Button>
</div>

@code {
    private bool BVisible { get; set; } = true;
    private void OnClick()
    {
        BVisible = !BVisible;
    }
}