<div>
    <span style="margin-right:8px">Categories:</span>
    <Tag Mode="checkable" Checked="_lstCheck[0]">Movies</Tag>
    <Tag Mode="checkable" Checked="_lstCheck[1]">Books</Tag>
    <Tag Mode="checkable" Checked="_lstCheck[2]">Music</Tag>
    <Tag Mode="checkable" Checked="_lstCheck[3]">Sports</Tag>
</div>

@code {
    private bool[] _lstCheck =
    {
        false,
        true,
        false,
        true
    };
}
