<div id="tag-icon-demo">
	<Tag Icon="twitter" Color="#55acee">Twitter</Tag>
	<Tag Icon="youtube" Color="#cd201f">Youtube</Tag>
	<Tag Icon="facebook" Color="#3b5999">Facebook</Tag>
	<Tag Icon="linkedin" Color="#55acee">LinkedIn</Tag>
</div>

<style>
	#tag-colorful-demo > * {
		margin-bottom: 12px;
		margin-right: 8px;
	}
</style>