<Space Size=@("12px")>
    <SpaceItem>
        <Image Width="200px" Src="@($"https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png?{random}")">
            <Placeholder>
                <Image Preview="false" Src="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png?x-oss-process=image/blur,r_50,s_50/quality,q_1/resize,m_mfit,h_200,w_200" Width="200px" />
            </Placeholder>
        </Image>
    </SpaceItem>
    <SpaceItem>
        <Button Type="primary" OnClick="SetRandom">
            Reload
        </Button>
    </SpaceItem>
</Space>

@code{
    long random;

    private void SetRandom()
    {
        random = DateTime.Now.Ticks;
    }
}