<div>
	<Image PreviewVisible="false"
		   Width="200"
		   Src="https://gw.alipayobjects.com/zos/antfincdn/LlvErxo8H9/photo-1503185912284-5271ff81b9a8.webp"
		   OnClick="@(() => { visible = true; })" />
	<div style="display:none;">
		<ImagePreviewGroup @bind-PreviewVisible="visible" >
			<Image Src="https://gw.alipayobjects.com/zos/antfincdn/LlvErxo8H9/photo-1503185912284-5271ff81b9a8.webp" />
			<Image Src="https://gw.alipayobjects.com/zos/antfincdn/cV16ZqzMjW/photo-1473091540282-9b846e7965e3.webp" />
			<Image Src="https://gw.alipayobjects.com/zos/antfincdn/x43I27A55%26/photo-1438109491414-7198515b166b.webp" />
		</ImagePreviewGroup>
	</div>
</div>


@code {
	bool visible;
}
