<div>
    <AntButton Type="primary" Block>Primary</AntButton>
    <AntButton Block>Default</AntButton>
    <AntButton Type="dashed" Block>Dashed</AntButton>
    <AntButton Type="link" Block>Link</AntButton>
</div>