<div>
    <Button Type="primary" Danger>
        Primary
    </Button>
    <Button Danger>Default</Button>
    <Button Type="dashed" Danger>
        link
    </Button>
    <Button Type="link" Danger>
        link
    </Button>
</div>