<div>
    <AntButton Type="primary" Danger>
        Primary
    </AntButton>
    <AntButton Danger>Default</AntButton>
    <AntButton Type="dashed" Danger>
        link
    </AntButton>
    <AntButton Type="link" Danger>
        link
    </AntButton>
</div>