<div>
    <AntButton Type="primary">Primary</AntButton>
    <AntButton Type="primary" disabled>
        Primary(disabled)
    </AntButton>
    <br />
    <AntButton>Default</AntButton>
    <AntButton disabled>Default(disabled)</AntButton>
    <br />
    <AntButton Type="dashed">Dashed</AntButton>
    <AntButton Type="dashed" disabled>
        Dashed(disabled)
    </AntButton>
    <br />
    <AntButton Type="link">Link</AntButton>
    <AntButton Type="link" disabled>
        Link(disabled)
    </AntButton>
    <br />
    <AntButton Type="link" Danger>
        Danger Link
    </AntButton>
    <AntButton Type="link" Danger disabled>
        Danger Link(disabled)
    </AntButton>
    <br />
    <AntButton Danger>Danger Default</AntButton>
    <AntButton Danger disabled>
        Danger Default(disabled)
    </AntButton>
    <div className="site-AntButton-Ghost-wrapper">
        <AntButton Ghost>Ghost</AntButton>
        <AntButton Ghost disabled>
            Ghost(disabled)
        </AntButton>
    </div>
</div>