<div>
    <AntButton Type="primary">Primary</AntButton>
    <AntButton Type="primary" Disabled>
        Primary(disabled)
    </AntButton>
    <br />
    <AntButton>Default</AntButton>
    <AntButton Disabled>Default(disabled)</AntButton>
    <br />
    <AntButton Type="dashed">Dashed</AntButton>
    <AntButton Type="dashed" Disabled>
        Dashed(disabled)
    </AntButton>
    <br />
    <AntButton Type="link">Link</AntButton>
    <AntButton Type="link" Disabled>
        Link(disabled)
    </AntButton>
    <br />
    <AntButton Type="link" Danger>
        Danger Link
    </AntButton>
    <AntButton Type="link" Danger Disabled>
        Danger Link(disabled)
    </AntButton>
    <br />
    <AntButton Danger>Danger Default</AntButton>
    <AntButton Danger Disabled>
        Danger Default(disabled)
    </AntButton>
    <div class="site-AntButton-Ghost-wrapper">
        <AntButton Ghost>Ghost</AntButton>
        <AntButton Ghost Disabled>
            Ghost(disabled)
        </AntButton>
    </div>
</div>