<div class="site-Button-Ghost-wrapper">
    <Button Type="primary" Ghost>
        Primary
    </Button>
    <Button Ghost>Default</Button>
    <Button Type="dashed" Ghost>
        link
    </Button>
    <Button Type="link" Ghost>
        link
    </Button>
</div>