<div class="site-AntButton-Ghost-wrapper">
    <AntButton Type="primary" Ghost>
        Primary
    </AntButton>
    <AntButton Ghost>Default</AntButton>
    <AntButton Type="dashed" Ghost>
        link
    </AntButton>
    <AntButton Type="link" Ghost>
        link
    </AntButton>
</div>