<div>
    @*<Tooltip title="search">
        <Button Type="primary" shape="circle" icon={<SearchOutlined />} />
    </Tooltip>*@
    <Button Type="primary" Shape="circle">
        A
    </Button>
    <Button Type="primary" Icon="search">
    Search
    </Button>
    @*<Tooltip title="search">
        <Button shape="circle" icon={<SearchOutlined />} />
    </Tooltip>*@
    <Button Icon="search">Search</Button>
    <br />
    @*<Tooltip title="search">
        <Button shape="circle" icon={<SearchOutlined />} />
    </Tooltip>*@
    <Button Icon="search">Search</Button>
    @*<Tooltip title="search">
        <Button Type="dashed" shape="circle" icon={<SearchOutlined />} />
    </Tooltip>*@
    <Button Type="dashed" Icon="search">
    Search
    </Button>
</div>