<div>
    @*<Tooltip title="search">
        <AntButton Type="primary" shape="circle" icon={<SearchOutlined />} />
    </Tooltip>*@
    <AntButton Type="primary" Shape="circle">
        A
    </AntButton>
    <AntButton Type="primary" Icon="search">
    Search
    </AntButton>
    @*<Tooltip title="search">
        <AntButton shape="circle" icon={<SearchOutlined />} />
    </Tooltip>*@
    <AntButton Icon="search">Search</AntButton>
    <br />
    @*<Tooltip title="search">
        <AntButton shape="circle" icon={<SearchOutlined />} />
    </Tooltip>*@
    <AntButton Icon="search">Search</AntButton>
    @*<Tooltip title="search">
        <AntButton Type="dashed" shape="circle" icon={<SearchOutlined />} />
    </Tooltip>*@
    <AntButton Type="dashed" Icon="search">
    Search
    </AntButton>
</div>