<div>
    <RadioGroup @bind-Value="@size">
        <Radio RadioButton Value="large">Large</Radio>
        <Radio RadioButton Value="default">Default</Radio>
        <Radio RadioButton Value="small">Small</Radio>
    </RadioGroup>
    <br />
    <br />
    <Button Type="primary" Size=@size>
        Primary
    </Button>
    <Button Size="@size">Default</Button>
    <Button Type="dashed" Size=@size>
        Dashed
    </Button>
    <br />
    <Button Type="link" Size=@size>
        Link
    </Button>
    <br />
    <Button Type="primary" Icon="download" Size=@size />
    <Button Type="primary" Shape="circle" Icon="download" Size=@size />
    <Button Type="primary" Shape="round" Icon="download" Size=@size />
    <Button Type="primary" Shape="round" Icon="download" Size=@size>
    Download
    </Button>
    <Button Type="primary" Icon="download" Size=@size>
    Download
    </Button>
</div>

@code
{
    string size = "large";
}
