<div>
    <RadioGroup @bind-value="@size">
        <Radio RadioButton Value="large">Large</Radio>
        <Radio RadioButton Value="default">Default</Radio>
        <Radio RadioButton Value="small">Small</Radio>
    </RadioGroup>
    <br />
    <br />
    <AntButton Type="primary" Size=@size>
        Primary
    </AntButton>
    <AntButton Size="@size">Default</AntButton>
    <AntButton Type="dashed" Size=@size>
        Dashed
    </AntButton>
    <br />
    <AntButton Type="link" Size=@size>
        Link
    </AntButton>
    <br />
    <AntButton Type="primary" Icon="download" Size=@size />
    <AntButton Type="primary" Shape="circle" Icon="download" Size=@size />
    <AntButton Type="primary" Shape="round" Icon="download" Size=@size />
    <AntButton Type="primary" Shape="round" Icon="download" Size=@size>
    Download
    </AntButton>
    <AntButton Type="primary" Icon="download" Size=@size>
    Download
    </AntButton>
</div>

@code
{
    string size = "large";
}
