<div>
    <Cascader Disabled Options="@options"></Cascader>
    <Cascader Options="@options"></Cascader>
</div>

@code {
  List<CascaderNode> options = new List<CascaderNode>()
  {
      new()
      {
          Value = "zhejiang",
          Label = "Zhejiang",
          Children = new CascaderNode[]
          {
              new()
              {
                  Value = "hangzhou",
                  Label = "Hangzhou",
                  Children = new CascaderNode[]
                  {
                      new()
                      {
                          Value = "xihu",
                          Label = "West Lake",
                      },
                  }
              },
          },
      },
      new()
      {
          Value = "jiangsu",
          Label = "Jiangsu",
          Disabled = true,
          Children = new CascaderNode[]
          {
              new()
              {
                  Value = "nanjing",
                  Label = "Nanjing",
                  Children = new CascaderNode[]
                  {
                      new()
                      {
                          Value = "zhonghuamen",
                          Label = "Zhong Hua Men",
                      },
                  }
              },
          },
      }
  };
}