<div>
    <Cascader Options="@_sizeNodes" Size="large" Style="margin:15px 0;"></Cascader>
    <Cascader Options="@_sizeNodes" Size="middle" Style="margin:15px 0"></Cascader>
    <Cascader Options="@_sizeNodes" Size="small" Style="margin:15px 0"></Cascader>
</div>

@code {
    private readonly List<CascaderNode> _sizeNodes = GetSizeNodes();

    private static List<CascaderNode> GetSizeNodes() => new()
    {
        new CascaderNode
        {
            Value = "1",
            Label = "Size1",
            Children = new CascaderNode[]
            {
                new()
                {
                    Value = "11",
                    Label = "Size11",
                    Children = new CascaderNode[]
                    {
                        new()
                        {
                            Value = "111",
                            Label = "Size111"
                        },
                        new()
                        {
                            Value = "112",
                            Label = "Size112"
                        }
                    }
                },
                new()
                {
                    Value = "12",
                    Label = "Size12"
                },
                new()
                {
                    Value = "13",
                    Label = "Size13"
                }
            }
        },
        new CascaderNode
        {
            Value = "2",
            Label = "Size2",
            Children = new CascaderNode[]
            {
                new()
                {
                    Value = "21",
                    Label = "Size21"
                },
                new()
                {
                    Value = "22",
                    Label = "Size22"
                }
            }
        },
        new CascaderNode
        {
            Value = "3",
            Label = "Size3"
        }
    };
}
