<div>
    <GridRow>
        <GridCol Span="24">col-24</GridCol>   
    </GridRow>
    <GridRow>
        <GridCol Span="12">col-12</GridCol>
        <GridCol Span="12">col-12</GridCol>
    </GridRow>
    <GridRow>
        <GridCol Span="8">col-8</GridCol>
        <GridCol Span="8">col-8</GridCol>
        <GridCol Span="8">col-8</GridCol>
    </GridRow>
    <GridRow>
        <GridCol Span="6">col-6</GridCol>
        <GridCol Span="6">col-6</GridCol>
        <GridCol Span="6">col-6</GridCol>
        <GridCol Span="6">col-6</GridCol>
    </GridRow>
</div>
