<div>
    <Row>
        <Col Span="24">col-24</Col>   
    </Row>
    <Row>
        <Col Span="12">col-12</Col>
        <Col Span="12">col-12</Col>
    </Row>
    <Row>
        <Col Span="8">col-8</Col>
        <Col Span="8">col-8</Col>
        <Col Span="8">col-8</Col>
    </Row>
    <Row>
        <Col Span="6">col-6</Col>
        <Col Span="6">col-6</Col>
        <Col Span="6">col-6</Col>
        <Col Span="6">col-6</Col>
    </Row>
</div>
