<div>
    <Divider Orientation="left">sub-element align left</Divider>
    <GridRow Justify="start">
        <GridCol Span="4">col-4</GridCol>
        <GridCol Span="4">col-4</GridCol>
        <GridCol Span="4">col-4</GridCol>
        <GridCol Span="4">col-4</GridCol>
    </GridRow>

    <Divider Orientation="left">sub-element align center</Divider>
    <GridRow Justify="center">
        <GridCol Span="4">col-4</GridCol>
        <GridCol Span="4">col-4</GridCol>
        <GridCol Span="4">col-4</GridCol>
        <GridCol Span="4">col-4</GridCol>
    </GridRow>

    <Divider Orientation="left">sub-element align right</Divider>
    <GridRow Justify="end">
        <GridCol Span="4">col-4</GridCol>
        <GridCol Span="4">col-4</GridCol>
        <GridCol Span="4">col-4</GridCol>
        <GridCol Span="4">col-4</GridCol>
    </GridRow>


    <Divider Orientation="left">sub-element monospaced arrangement</Divider>
    <GridRow Justify="space-between">
        <GridCol Span="4">col-4</GridCol>
        <GridCol Span="4">col-4</GridCol>
        <GridCol Span="4">col-4</GridCol>
        <GridCol Span="4">col-4</GridCol>
    </GridRow>


    <Divider Orientation="left">sub-element align full</Divider>
    <GridRow Justify="space-around">
        <GridCol Span="4">col-4</GridCol>
        <GridCol Span="4">col-4</GridCol>
        <GridCol Span="4">col-4</GridCol>
        <GridCol Span="4">col-4</GridCol>
    </GridRow>
</div>

<style>
    #components-grid-demo-flex [class~='ant-row'] {
        background: rgba(128, 128, 128, 0.08);
    }
</style>