<div>
    <Divider Orientation="left">Percentage columns</Divider>
    <Row>
        <Col Flex="2">2 / 5</Col>
        <Col Flex="3">3 / 5</Col>
    </Row>
    <Divider Orientation="left">Fill rest</Divider>
    <Row>
        <Col Flex=@("100px")>100px</Col>
        <Col Flex=@("auto")>Fill Rest</Col>
    </Row>
    <Divider Orientation="left">Raw flex style</Divider>
    <Row>
        <Col Flex=@("1 1 200px")>1 1 200px</Col>
        <Col Flex=@("0 1 300px")>0 1 300px</Col>
    </Row>

    <Row Wrap="false">
        <Col Flex=@("none")>
        <div style="padding: 0 16px">none</div>
        </Col>
        <Col Flex=@("auto")>auto with no-wrap</Col>
    </Row>
</div>