<div>
    <Divider Orientation="left">sub-element align left</Divider>
    <Row Justify="start">
        <Col Span="4">col-4</Col>
        <Col Span="4">col-4</Col>
        <Col Span="4">col-4</Col>
        <Col Span="4">col-4</Col>
    </Row>

    <Divider Orientation="left">sub-element align center</Divider>
    <Row Justify="center">
        <Col Span="4">col-4</Col>
        <Col Span="4">col-4</Col>
        <Col Span="4">col-4</Col>
        <Col Span="4">col-4</Col>
    </Row>

    <Divider Orientation="left">sub-element align right</Divider>
    <Row Justify="end">
        <Col Span="4">col-4</Col>
        <Col Span="4">col-4</Col>
        <Col Span="4">col-4</Col>
        <Col Span="4">col-4</Col>
    </Row>


    <Divider Orientation="left">sub-element monospaced arrangement</Divider>
    <Row Justify="space-between">
        <Col Span="4">col-4</Col>
        <Col Span="4">col-4</Col>
        <Col Span="4">col-4</Col>
        <Col Span="4">col-4</Col>
    </Row>


    <Divider Orientation="left">sub-element align full</Divider>
    <Row Justify="space-around">
        <Col Span="4">col-4</Col>
        <Col Span="4">col-4</Col>
        <Col Span="4">col-4</Col>
        <Col Span="4">col-4</Col>
    </Row>
</div>

<style>
    #components-grid-demo-flex [class~='ant-row'] {
        background: rgba(128, 128, 128, 0.08);
    }
</style>