<div>
    <GridRow>
        <GridCol Span="8">
            col-8
        </GridCol>
        <GridCol Span="8" Offset="8">
            col-8
        </GridCol>
    </GridRow>
    <GridRow>
        <GridCol Span="6" Offset="6">
            col-6 col-offset-6
        </GridCol>
        <GridCol Span="6" Offset="6">
            col-6 col-offset-6
        </GridCol>
    </GridRow>
    <GridRow>
        <GridCol Span="12" Offset="6">
            col-12 col-offset-6
        </GridCol>
    </GridRow>
</div>
@code{

}