<div>
    <GridRow>
        <GridCol Span="18" Push="6">
            col-18 col-push-6
        </GridCol>
        <GridCol Span="6" Pull="18">
            col-6 col-pull-18
        </GridCol>
    </GridRow>
</div>
