@page "/"
@namespace AntBlazor.Docs.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ant Design of Blazor</title>
    <base href="~/" />
    <link rel="icon" href="logo.png" type="image/x-icon">
    @*<link href="_content/AntBlazor/css/ant-design-blazor.css" rel="stylesheet">*@
    <link href="_content/AntBlazor.Docs/css/docs.css" rel="stylesheet">
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.Server))
    </app>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/AntBlazor/js/ant-design-blazor.js"></script>
    <script src="_content/AntBlazor.Docs/js/prism.js" data-manual></script>
    <script>
        window.antBlazor.Prism = {};
        window.antBlazor.Prism.highlight = function (code, language) {
            return Prism.highlight(code, Prism.languages[language], language);
        }
    </script>
</body>
</html>
