@page "/counter/{Id:int}"
@inherits ComponentBase
@implements IReuseTabsPage


<div style="height:100vh">
<p>Current count: @currentCount</p>

<Button Type="primary" @onclick="IncrementCount">Click me</Button>

<br />
<p @onclick="@(()=>GoTo($"/counter/{Id+1}"))">Go to @($"Counter {Id+1}")</p>
<br/>
<br/>
udx.cn/udx.cn/
<br/>
<p>udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn//udx.com.cn/udx.com.cn//udx.com.cn/udx.com.cn//udx.com.cn/udx.com.cn//udx.com.cn/udx.com.cn/</p>
<br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/>
<br/>
<p>udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn/udx.com.cn//udx.com.cn/udx.com.cn//udx.com.cn/udx.com.cn//udx.com.cn/udx.com.cn//udx.com.cn/udx.com.cn/</p>
<br/>
<br/>
udx.cn/udx.cn/
<br/><br/>
udx.cn/udx.cn/
<br/><br/>
udx.cn/udx.cn/
<br/><br/>
udx.cn/udx.cn/
<br/><br/>
udx.cn/udx.cn/
<br/><br/><br/><br/><br/><br/><br/><br/>
</div>

@code {
    [Parameter] public int Id { get; set; }

    [Inject] private NavigationManager Navigation { get; set; }

    private int currentCount = 0;

    public RenderFragment GetPageTitle() =>
    @<span>@($"Counter {Id}")</span>
    ;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void GoTo(string url)
    {
        Navigation.NavigateTo(url);
    }

}
