@page "/"
@attribute [ReuseTabsPage(Title = "Home",  Pin = true)]
<h1>Hello, world!</h1>
<Card>
    <Tabs>
        <TabPane Key="A" Tab="A">
            <Checkbox>A1</Checkbox>
        </TabPane>
        <TabPane Key="B" Tab="B">
            <Checkbox>B1</Checkbox>
        </TabPane>
    </Tabs>
</Card>

<Tabs>
    <TabPane Key="C" Tab="C">
        <Checkbox>C1</Checkbox>
    </TabPane>
    <TabPane Key="D" Tab="D">
        <Checkbox>D1</Checkbox>
    </TabPane>
</Tabs>
Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@inject ReuseTabsService ReuseTabsService;

@code{
    protected override void OnInitialized()
    {
        // ReuseTabsService.CreateTab("/counter/1",@<span>Counter 1</span>);
        // ReuseTabsService.CreateTab("/counter/2");
    }
}