@page "/"
@attribute [ReuseTabsPage(Title = "Home", Closable = false, Pin = true)]
<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@inject ReuseTabsService ReuseTabsService;

@code{
    protected override void OnInitialized()
    {
        ReuseTabsService.AddReuseTabsPageItem("/counter/1",@<span>Counter 1</span>);
        ReuseTabsService.AddReuseTabsPageItem("/counter/2",@<span>Counter 2</span>);
    }
}