<div>
    <Switch Checked="switchValue" Disabled="isDisabled"/>
    <br/>
    <br/>
    <Button Type="primary" @onclick="(_) => isDisabled = !isDisabled">Toggle disabled</Button>
</div>


@code{
    bool switchValue = false;

    bool isDisabled = true;

    RenderFragment checkedChildren = @<Icon Type="check"></Icon>;

    RenderFragment unCheckedChildren = @<Icon Type="close"></Icon>;

}