<Dropdown Trigger="new Trigger[] { Trigger.ContextMenu }">
    <Overlay>
        <Menu>
            <MenuItem>1st menu item</MenuItem>
            <MenuItem>2nd menu item</MenuItem>
            <MenuItem>3rd menu item</MenuItem>
        </Menu>
    </Overlay>
    <ChildContent>
        <div style="text-align: center; width: 200px; height: 200px; line-height: 200px;background: #f7f7f7;color: #777;">
            Right Click on here
        </div>
    </ChildContent>
</Dropdown>