<Dropdown>
    <Overlay>
        <Menu>
            <MenuItemGroup Title="Group Title">
                <MenuItem>1st menu item</MenuItem>
                <MenuItem>2nd menu item</MenuItem>
            </MenuItemGroup>
            <SubMenu Title="Submenu">
                <MenuItem>3rd menu item</MenuItem>
                <MenuItem>4th menu item</MenuItem>
            </SubMenu>
            <SubMenu Title="Disabled Submenu" Disabled>
                <MenuItem>5th menu item</MenuItem>
                <MenuItem>6th menu item</MenuItem>
            </SubMenu>
        </Menu>
    </Overlay>
    <ChildContent>
        <a class="ant-dropdown-link" @onclick:preventDefault>
            Cascading Menu <Icon Type="@IconType.Outline.Down" />
        </a>
    </ChildContent>
</Dropdown>