<div>
    <Pagination Current="@current" CurrentChanged=onChange Total="50" />
</div>


@code {

    int current = 3;

    void onChange(int page)
    {
        Console.WriteLine(page);
        current = page;
    }
}
