<AntList Grid="grid" DataSource="@Data">
    <ListItem >
        <Card Bordered Title="@(context.Title)">
            <Body>
                Card context
            </Body>
        </Card>
    </ListItem>
</AntList>

@code{

    public ListGridType grid = new ListGridType { Gutter = 16, Column = 4 };

    public List<BasicItem> Data = new List<BasicItem>
    {
        new BasicItem { Title = "Title 1"},
        new BasicItem { Title = "Title 2"},
        new BasicItem { Title = "Title 3"},
        new BasicItem { Title = "Title 4"},
    };

    public class BasicItem
    {
        public string Title { get; set; }
    }
}


