@namespace AntDesign
@inherits AntDomComponentBase
<div class="ant-upload">
    <span tabindex="0" class="ant-upload" role="button">
        <input id="File1" name="File1" type="file" @ref="InputFileElement" />
        <button type="button" @onclick="StartUpload">开始上传</button>
        <span @ref="ProgressElement">@UploadPercent</span>
    </span>
</div>