@using System.ComponentModel
@using AntDesign.TableModels

<Table DataSource="@data" Bordered Quick>
    <PropertyColumn Property="c=>c.Name" OnCell="NameOnCell"></PropertyColumn>
    <PropertyColumn Property="c=>c.Age" OnCell="SharedOnCell"></PropertyColumn>
    <PropertyColumn Property="c=>c.Tel" Title="Home phone" HeaderColSpan="2" OnCell="HomePhoneOnCell"></PropertyColumn>
    <PropertyColumn Property="c=>c.Phone" HeaderColSpan="0" OnCell="SharedOnCell"></PropertyColumn>
    <PropertyColumn Property="c=>c.Address" OnCell="SharedOnCell"></PropertyColumn>
</Table>

@code {
    Data[] data =  {
    new Data(){ Key="1",Name="John Brown",Age=32,Tel="0571-22098909",Phone="18889898989",Address="New York No. 1 Lake Park"},
    new Data(){Key="2",Name="Jim Green",Tel="0571-22098333",Phone = "18889898888",Age = 42,Address="London No. 1 Lake Park"},
    new Data(){Key="3",Name="Joe Black",Age = 32,Tel="0575-22098909",Phone = "18900010002",Address="Sidney No. 1 Lake Park"},
    new Data(){Key="4",Name="Jim Red",Age = 18,Tel="0575-22098909",Phone = "18900010002",Address="London No. 2 Lake Park"},
    new Data(){Key="5",Name="Jake White",Age = 18,Tel="0575-22098909",Phone = "18900010002",Address="Dublin No. 2 Lake Park"}
  };

    public class Data
    {
        public string Key { get; set; }

        public string Name { get; set; }

        public int Age { get; set; }

        public string Tel { get; set; }

        public string Phone { get; set; }

        public string Address { get; set; }
    }

    private Dictionary<string, object> NameOnCell(CellData cell)
    {
        var index = cell.RowData.RowIndex - 1;
        return new() { ["colspan"] = index < 4 ? 1 : 5 };
    }

    private Dictionary<string, object> HomePhoneOnCell(CellData cell)
    {
        var index = cell.RowData.RowIndex - 1;
        if (index == 2)
        {
            return new() { ["rowspan"] = 2 };
        }
        // These two are merged into above cell
        if (index == 3)
        {
            return new() { ["rowspan"] = 0 };
        }
        if (index == 4)
        {
            return new() { ["colspan"] = 0 };
        }

         return new();
    }

    // In the fifth row, other columns are merged into first column
    // by setting it's colSpan to be 0
    private Dictionary<string, object> SharedOnCell(CellData cell)
    {
        var index = cell.RowData.RowIndex - 1;
        if (index == 4)
        {
            return new() { ["colspan"] = 0 };
        }

        return new() ;
    }
}