@using System.Data;

<h3>DataTable</h3>

<CheckboxGroup TValue="string" OnChange="OnChange">
    <Checkbox Label="Age"></Checkbox>
    <Checkbox Label="Address"></Checkbox>
</CheckboxGroup>


<Table DataSource="data">
    @foreach (var column in show)
    {
        <PropertyColumn Property="c=>c.Field<string>(column)" Title="@column" Sortable Filterable></PropertyColumn>
    }
</Table>


<style>
    html::view-transition-group(*) {
        position: absolute;
        top: 0;
        left: 0;
        animation-duration: 0.25s;
        animation-fill-mode: both;
    }

    html::view-transition-group(.ant-table-tbody) {
        animation-name: slide-in;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        animation-delay: 0.25s;

        animation-duration: 0.25s;

    }
</style>

@code {
    bool loading;
    string[] show = ["Name"];
    DataTable _dataTable = new DataTable();

    IEnumerable<DataRow> data => _dataTable?.AsEnumerable();

    protected override void OnInitialized()
    {
        _dataTable.Columns.Add("Name");
        _dataTable.Columns.Add("Age");
        _dataTable.Columns.Add("Address");

        _dataTable.Rows.Add("John Brown", 32, "New York No. 1 Lake Park");
        _dataTable.Rows.Add("Jim Green", 42, "London No. 1 Lake Park");
        _dataTable.Rows.Add(null, 32, "Sidney No. 1 Lake Park");

        base.OnInitialized();
    }

    async Task  OnChange(string[] values)
    {
        show = ["Name", .. values];
        loading = true;
        StateHasChanged();
        await Task.Yield();
        loading = false;
    }
}
