<Table DataSource="data">
    <PropertyColumn Property="c=>c.Name" Width="150">
        <a>@context.Name</a>
    </PropertyColumn>
    <PropertyColumn Property="c=>c.Age" Width="80" />
    <PropertyColumn Property="c=>c.Address" Ellipsis />
    <PropertyColumn Property="c=>c.Address" Ellipsis Title="Long Column Long Column Long Column" />
    <PropertyColumn Property="c=>c.Address" Ellipsis Title="Long Column Long Column" />
    <PropertyColumn Property="c=>c.Address" Ellipsis Title="Long Column" />
</Table>

@code {
    Column[] data = new Column[] {
        new()
        {
            Name = "John Brown",
            Age = 32,
            Address = "New York No. 1 Lake Park, New York No. 1 Lake Park"
        },
        new()
        {
            Name = "Jim Green",
            Age = 42,
            Address = "London No. 2 Lake Park, London No. 2 Lake Park"
        },
        new()
        {
            Name = "Joe Black",
            Age = 32,
            Address = "Sidney No. 1 Lake Park, Sidney No. 1 Lake Park"
        },
    };

    class Column
    {
        public string Name { get; set; }

        public int Age { get; set; }

        public string Address { get; set; }
    }

}