@using System.ComponentModel
<Table DataSource="data" PageSize="50" ScrollX="1300">
    <PropertyColumn Property="c=>c.Name" Width="100" Fixed="left" />
    <PropertyColumn Property="c=>c.Age" Width="100" Fixed="left" />
    <PropertyColumn Title="Column 1" Property="c=>c.Address" />
    <PropertyColumn Title="Column 2" Property="c=>c.Address" />
    <PropertyColumn Title="Column 3" Property="c=>c.Address" />
    <PropertyColumn Title="Column 4" Property="c=>c.Address" />
    <PropertyColumn Title="Column 5" Property="c=>c.Address" />
    <PropertyColumn Title="Column 6" Property="c=>c.Address" />
    <PropertyColumn Title="Column 7" Property="c=>c.Address" />
    <PropertyColumn Title="Column 8" Property="c=>c.Address" />
    <ActionColumn Title="Action" Width="100" Fixed="right">
        <a>action</a>
    </ActionColumn>
</Table>

@code {
    class Column
    {
        [DisplayName("Full Name")]
        public string Name { get; set; }

        public int Age { get; set; }

        public string Address { get; set; }
    }

    Column[] data = new Column[] {
        new()
        {
            Name = "John Brown",
            Age = 32,
            Address = "New York Park"
        },
        new()
        {
            Name = "Jim Green",
            Age = 40,
            Address = "London Park"
        },
    };

}