<Table DataSource="data" ScrollY="240px" PageSize="50">
    <Selection />
    <PropertyColumn Property="c=>c.Name" Width="150" />
    <PropertyColumn Property="c=>c.Age"  Width="150" />
    <PropertyColumn Property="c=>c.Address" />
</Table>

@code {
    class Column
    {
        public string Name { get; set; }

        public int Age { get; set; }

        public string Address { get; set; }
    }

    Column[] data = Enumerable.Range(0, 100).Select(i => new Column()
    {
        Name = $"Edward King {i}",
        Age = 32,
        Address = $"Edward King {i}"
    }).ToArray();

}
