@using System.ComponentModel

<Table DataSource="data" Bordered>
    <GroupTitleTemplate Context="rowData">
        <div style="display: flex; align-items: center;">
            <span style="min-width: 120px;">
                @(rowData.GroupResult.Level == 1 ? "Subject" : "Grade") : @rowData.GroupResult.Key
            </span>
            @if (rowData.GroupResult.Level == 2)
            {
                <span>
                    Total: @rowData.GroupResult.Entities.Sum(x => x.Score)
                </span>
            }
        </div>
    </GroupTitleTemplate>
    <ColumnDefinitions>
        <Selection />
        <PropertyColumn Property="c=>c.Name"  />
        <PropertyColumn Property="c=>c.Age" Width="12%"   />
        <PropertyColumn Property="c=>c.Subject" Width="30%" Grouping />
        <PropertyColumn Property="c=>c.Score" Width="30%" Grouping GroupBy="GradeGroupBy" Sortable DefaultSortOrder="SortDirection.Descending"/>
    </ColumnDefinitions>
 </Table>

 @code {
    string GradeGroupBy(int score)
       => score switch
       {
            >= 95 => "A",
            >= 90 => "B",
            _ => "C"
       };

    Data[] data =
    {
        new() {
            Name = "John Brown",
            Age = 10,
            Score = 90,
            Subject= "Math"
        },
        new() {
            Name = "John Brown",
            Age = 10,
            Score = 95,
            Subject= "Language"
        },
        new() {
            Name = "John Brown",
            Age = 10,
            Score = 85,
            Subject="Science"
        },
        new() {
            Name = "Harry Potter",
            Age = 10,
            Score = 89,
            Subject= "Math"
        },
        new() {
            Name = "Harry Potter",
            Age = 10,
            Score = 90,
            Subject= "Language"
        },
        new() {
            Name = "Harry Potter",
            Age = 10,
            Score = 95,
            Subject="Science"
        },
    };

    public class Data
    {
        public string Name { get; set; }

        public int Age { get; set; }

        public int Score { get; set; }

        public string Subject { get; set; }
    }
}
