<Table DataSource="data" Bordered HidePagination>
    <Column Title="Name" DataIndex="name" TData="string"></Column>
    <Column Title="Borrow" DataIndex="borrow" TData="int"></Column>
    <Column Title="Repayment" DataIndex="repayment" TData="int"></Column>
@{
    var totalBorrow = data.Sum(x => x.borrow);
    var totalRepayment = data.Sum(x => x.repayment);
}    
    <SummaryRow>
        <SummaryCell>Total</SummaryCell>
        <SummaryCell>
            <Text Type="danger">@totalBorrow</Text>
        </SummaryCell>
        <SummaryCell>
            <Text Type="danger">@totalRepayment</Text>
        </SummaryCell>
    </SummaryRow>
    <SummaryRow>
        <SummaryCell>Balance</SummaryCell>
        <SummaryCell ColSpan="2">
            <Text Type="danger">@(totalBorrow - totalRepayment)</Text>
        </SummaryCell>
    </SummaryRow>
</Table>

@code {

    record Data(string key, string name, int borrow, int repayment);

    Data[] data = new Data[]
    {
        new("1","John Brown",10,33),
        new("2","Jim Green",100,0),
        new("3","Joe Black",10,10),
        new("4","Jim Red",75,45),
    };
}

