@namespace AntDesign
@inherits NotificationBase

@foreach (var configKv in _configDict)
{
    var placement = configKv.Key;
    var configs = configKv.Value;
    var className = GetClassName(placement);
    var style = GetStyle(placement);
    <div @key="placement">
        <div @key="placement" class="@className" style="@style" @ref="Ref">
            <div>
                @foreach (var itemConfig in configs)
                {
                    <NotificationItem @key="itemConfig" Config="itemConfig" OnClose="RemoveItem" OnMouseEnter="OnMouseEnter" OnMouseLeave="OnMouseLeave" />
                }
            </div>
        </div>
    </div>
}
