<div>
    <AntButton Type="primary" @onclick="_=>open()">Open</AntButton>
    <AntDrawer Closable="true" Visible="visible" Placement="right" Title='("Basic Drawer")' OnClose="_=>close()">
        <p>Some contents...</p>
        <p>Some contents...</p>
        <p>Some contents...</p>
    </AntDrawer>
</div>

   @code{

    bool visible = false;

    void open()
    {
        this.visible = true;
    }

    void close()
    {
        this.visible = false;
    }

}