<div>
    <Button Icon="plus" Type="primary" @onclick="_=>open()">New account</Button>
    <Drawer Closable="true" Width="720" Visible="visible" Title='("Submit from in Drawer")' OnClose="_=>close()">
        <Template style="height:90%">
            <Row Gutter="16">
                <Col Span="12">
                    <Text>Name</Text>
                    <Input Placeholder="Please enter user name"></Input>
                </Col>
                <Col Span="12">
                    <Text>Url</Text>
                    <AntDesign.Input Placeholder="please enter url">
                        <AddOnBefore>Http://</AddOnBefore>
                        <AddOnAfter>.Com</AddOnAfter>
                    </AntDesign.Input>
                </Col>
            </Row>
            <br />
            <Row Gutter="16">
                <Col Span="12">
                    <Text>Owner</Text>
                    <Input Placeholder="Please select a owner"/>
                </Col>
                <Col Span="12">
                    <Text>Type</Text>
                    <Input Placeholder="please enter url"/>
                </Col>
            </Row>
            <br />

            <Row>
                <Col Span="24">
                    <Text>Description</Text>
                    <TextArea Placeholder="Please enter your description">

                    </TextArea>
                </Col>
            </Row>
            <br />
            <Row>
                <Col Span="18">

                </Col>
                <Col Span="6">
                    <Button Type="default">Cancel</Button>
                    <Button Type="primary">Submit</Button>
                </Col>
            </Row>
        </Template>
    </Drawer>
</div>


@code{
    bool visible = false;

    void open()
    {
        this.visible = true;
    }

    void close()
    {
        this.visible = false;
    }
}