<div>
    <AntRadioGroup @bind-Value="placement">
        <AntRadio Value="top">top</AntRadio>
        <AntRadio Value="right">right</AntRadio>
        <AntRadio Value="bottom">bottom</AntRadio>
        <AntRadio Value="left">left</AntRadio>
    </AntRadioGroup>

    <AntButton Type="primary" @onclick="_ => open2()">Open</AntButton>
    <AntDrawer Closable="true" Visible="visible2" Placement="@placement" Title='("Drawer in different Placement")' OnClose="_ => close2()">
        <p>Some contents...</p>
        <p>Some contents...</p>
        <p>Some contents...</p>
    </AntDrawer>
</div>  

@code{
    string placement = "right";
    bool visible2 = false;

    void open2()
    {
        this.visible2 = true;
    }

    void close2()
    {
        this.visible2 = false;
    }
}