<Dropdown>
    <Overlay>
        <Menu>
            <MenuItem @key="1">1st menu item</MenuItem>
            <MenuItem @key="2">2nd memu item</MenuItem>
            <MenuItem @key="3">3rd menu item</MenuItem>
        </Menu>
    </Overlay>
    <ChildContent>
        <a class="ant-dropdown-link" @onclick:preventDefault>
            Hover me, Click menu item <Icon Type="down" />
        </a>
    </ChildContent>
</Dropdown>