<div style="margin: 10px; overflow: scroll; height: 200px">
    <div style="padding: 100px; height: 1000px; background: #eee; position: relative " id="area">
        <Select PopupContainerSelector="#area" DefaultValue=@("lucy") Style="width:120px">
            <SelectOption Value="jack">Jack</SelectOption>
            <SelectOption Value="lucy">Lucy</SelectOption>
            <SelectOption Value="disabled" Disabled>Disabled</SelectOption>
            <SelectOption Value="yaoming">YaoMing</SelectOption>
        </Select>
    </div>
</div>