<div>
    @if (_visible)
    {
        <Alert Message="Alert Message Text" Type="success" Closable AfterClose="HandleClose" />
    }
    <p>placeholder text here</p>
</div>

@code {
    private bool _visible = true;

    private void HandleClose()
    {
        _visible = false;
    }
}