@using System.Text.RegularExpressions
<div>
    <AntDesign.InputNumber Formatter="Format1" Parser="Parse1" DefaultValue="1000d"/>
    <AntDesign.InputNumber Formatter="Format2" Parser="Parse2" DefaultValue="100d" Min="0" Max="100"/>
</div>


@code {
    private double MyValue { get; set; }

    private string Format1(double value) => "$ " + value.ToString("n0");

    private string Parse1(string value) => Regex.Replace(value, @"\$\s?|(,*)", "");

    private string Format2(double value) => value.ToString() + "%";

    private string Parse2(string value) => value.Replace("%", "");
}