<div>
    <AntDesign.InputNumber DefaultValue="3" Size="@InputSize.Large" @bind-Value="MyValue"/>
    <AntDesign.InputNumber DefaultValue="3" @bind-Value="MyValue"/>
    <AntDesign.InputNumber DefaultValue="3" Size="@InputSize.Small" @bind-Value="MyValue"/>
</div>


@code {
    private double MyValue { get; set; }
}