<div>
    <AntDesign.InputNumber TValue="double" @bind-Value="myValue" Min="1" Max="1000" DefaultValue="3" OnInput="OnInputChange"></AntDesign.InputNumber>
	<div>Number is: @myValue</div>
</div>

@code{
    private double myValue { get; set; }

    private void OnInputChange(double value)
    {
        myValue = value;
    }
}