@namespace AntBlazor
@inherits AntDomComponentBase

@if (!_closed)
{
    <div class="@ClassMapper.Class" style="@Style" id="@Id" @ref="Ref">
        @ChildContent
        @if (Mode == "closeable")
        {
            <AntIcon Type="close" TabIndex="-1" @onclick="CloseTag" />
        }
    </div>
}
