@namespace AntDesign
@inherits AntDomComponentBase

@if (!_closed)
{
 
    <div class="@ClassMapper.Class" style="@Style" id="@Id" @ref="Ref" @onclick="ClickTag">
        @if (!string.IsNullOrEmpty(Icon))
        {
            <AntIcon Type="@Icon"></AntIcon>
        }
        @ChildContent
        @if (Mode == "closeable" || Closable)
        {
            <AntIcon Type="close" TabIndex="-1" @onclick="CloseTag" />
        }

    </div>

}
