@namespace AntDesign
@inherits AntDomComponentBase
<div class="@ClassMapper.Class" id="@Id" style="@(GetHeight() + Style)">
    <CascadingValue Value="@this" Name="RangeGroup" IsFixed>
        @ChildContent
    </CascadingValue>
</div>
