<div>
    <MultiRangeSlider AllowOverlapping>
        <RangeItem DefaultValue="(0, 15)" Description="orange" Color=@Color.Orange2 FontColor=@Color.Gray7 FocusBorderColor=@Color.Orange6 FocusColor=@Color.Orange4 Icon="paper-clip"/>
        <RangeItem DefaultValue="(25, 42)" Description="purple" Color=@Color.Purple2 FontColor=@Color.Gray9 FocusBorderColor=@Color.Purple6 FocusColor=@Color.Purple4/>
        <RangeItem DefaultValue="(55, 70)" Description="lime" Color=@Color.Lime2 FontColor=@Color.Gray7 FocusBorderColor=@Color.Lime6 FocusColor=@Color.Lime4/>
        <RangeItem DefaultValue="(80, 100)" Description="hex colors" Color="@("#ffffb8")" FontColor="@("#1f1f1f")" FocusBorderColor="@("#fadb14")" FocusColor="@("#fff566")"/>
    </MultiRangeSlider>
</div>
