<div>
    <Text>Ant Design</Text>
    <br />
    <Text Type="secondary">Ant Design</Text>
    <br />
    <Text Type="success">Ant Design</Text>
    <br />
    <Text Type="warning">Ant Design</Text>
    <br />
    <Text Type="danger">Ant Design</Text>
    <br />
    <Text Disabled>Ant Design</Text>
    <br />
    <Text Mark>Ant Design</Text>
    <br />
    <Text Code>Ant Design</Text>
    <br />
    <Text Keyboard>Ant Design</Text>
    <br />
    <Text Underline>Ant Design</Text>
    <br />
    <Text Delete>Ant Design</Text>
    <br />
    <Text Strong>Ant Design</Text>
</div>

