<Result Status="403"
        Title="403"
        SubTitle="Sorry, you are not authorized to access this page."
        Extra="extra" />

@code
{
    RenderFragment extra = @<Button Type="primary">Back Home</Button>;
}
