@namespace AntBlazor
@inherits AntDomComponentBase

<CascadingValue Value=this>
    <li class="@ClassMapper.Class" @ref="Ref" style="@Style" id="@Id" @onclick="()=> Menu.Click.InvokeAsync(this)">
        @ChildContent
    </li>
</CascadingValue>
