@namespace AntBlazor
@inherits AntMenuItemBase

<CascadingValue Value=this>
    <li ant-menu-item class="@ClassMapper.Class" @ref="Ref" style="@Style" @attributes="Attributes" Id="@Id" @onclick="()=> Menu.click.InvokeAsync(this)">
        @ChildContent
    </li>
</CascadingValue>

@code {

}