@namespace AntBlazor
@inherits AntDomComponentBase

<li class="ant-menu-item-group" style="@Style" >
    <div class="ant-menu-item-group-title">
        @if (Title.Value != null)
        {
            @if (Title.IsT0)
            {
                @Title.AsT0
            }
            else if (Title.IsT1)
            {
                @Title.AsT1
            }
        }
    </div>
    <ul class="ant-menu-item-group-list">
        @ChildContent
    </ul>
</li>