@namespace AntBlazor
@inherits AntDomComponentBase

<li class="@ClassMapper.Class" role="menuitem" @key="Key" @onmouseover="HandleMouseOver" @onmouseout="HandleMouseOut" style="position:relative;@Style">
    <div class="ant-menu-submenu-title" role="button" @onclick="HandleOnTitleClick" aria-haspopup="true">
        <span>
            @Title.Value
        </span>
        <i class="ant-menu-submenu-arrow"></i>
    </div>
    <ul direction="ltr" class="@SubMenuMapper.Class" role="menu" aria-expanded="@IsOpen">
        <CascadingValue Value="this">
            @ChildContent
        </CascadingValue>
    </ul>
</li>