@namespace AntDesign
@inherits AntDomComponentBase

<li class="@(RootMenu.PrefixCls)-item-group" style="@Style" @key="Key">
    <div class="@(RootMenu.PrefixCls)-item-group-title">
        @if (TitleTemplate != null)
        {
            @TitleTemplate
        }
        else
        {
            @Title
        }
    </div>
    <ul class="@(RootMenu.PrefixCls)-item-group-list">
        @ChildContent
    </ul>
</li>