name: Pull Request Checks

on:
  pull_request:
    branches:
      - master
      - feature

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Setup .NET Core 3.1
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 3.1.300

      - name: Setup .NET 5
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 5.0.100

      - name: Setup .NET 6.0
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.101

      - name: Setup .NET 7.0
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0.100

      - name: Setup .NET 8.0
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.100

      - uses: actions/setup-node@v1
        with:
          node-version: "16.x"

      - name: Check Building ⚙
        run: |
          npm install
          dotnet build

      - name: Test 📝
        run: |
          dotnet test ./tests/AntDesign.Tests/AntDesign.Tests.csproj --configuration:Release --collect:"XPlat Code Coverage"
          npm install ./tests/AntDesign.Tests.Js
          npm --prefix ./tests/AntDesign.Tests.Js run test-cov
          find ./coverage ./tests -name "*coverage*.xml" -type f -exec cp {} ./ \;

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.cobertura.xml,./cobertura-coverage.xml
          fail_ci_if_error: false
