name: Pull Request Checks

on:
  pull_request:
    branches:
      - master
      - feature

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Setup .NET Core 3.1
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.300
          
      - name: Setup .NET 5
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.100

      - uses: actions/setup-node@v1
        with:
          node-version: "10.x"

      - name: Check Building ⚙
        run: |
          npm install
          cp -rf scripts/gh-pages/* scripts/gh-pages/.nojekyll scripts/gh-pages/.spa ./site/AntDesign.Docs.Wasm/wwwroot
          dotnet build
          dotnet publish ./site/AntDesign.Docs.Wasm -c Release -f net5 -o cargo

      - name: Test 📝
        run: |
          dotnet test --collect:"XPlat Code Coverage"
          find ./tests -name "coverage.cobertura.xml" -type f -exec cp {} ./ \;

      - name: Upload coverage to Codecov 
        uses: codecov/codecov-action@v1
        with:
          files: ./coverage.cobertura.xml
          fail_ci_if_error: false